<div class="usa-grid usa-footer-return-to-top">
	<a href="#title">Return to top</a>
</div>
<div class="usa-footer-secondary_section usa-footer-big-secondary-section">
	<div class="usajobs-footer--openopps__container">
		<p class="usajobs-footer--openopps__note">
			<b>Open Opportunities</b> is a pilot project for California state employees.
		</p>
	</div>
	<div class="usajobs-footer--openopps__container">
		<div class="usajobs-footer--openopps__col">
			<p></p>
		</div>
		<div class="usajobs-footer--openopps__col usajobs-footer--openopps__help">
			<div class="usajobs-footer--openopps__contact-link">
				<div class="usa-footer-search--intern-hide">
					Visit our <a href="https://usajobs.github.io/openopps-help/" target="_blank">Help Center</a>
				</div>
			</div>
		</div>
		<div class="usajobs-footer--openopps__col usajobs-footer--openopps__contact">
			<a class="usajobs-footer--openopps__contact-email" href="mailto:jon.jensen@cdph.ca.gov">jon.jensen@cdph.ca.gov</a>
		</div>
	</div>
</div>
