<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert"  id="alert-closed" <% if (model.state != 'closed') { %>style="display: none;"<% } %>>
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text">
          This opportunity is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.
        </p>
      </div>
      <% if (alert.dismiss) { %>
      <button class="usajobs-alert__close" data-behavior="alert.close">
        <span class="usajobs-assistive-text">Close</span>
      </button>
      <% } %>
    </div>
    <div class="back-link"><a href="javascript:history.back()"><i class="fas fa-chevron-left"></i> Back to results</a></div>
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="usajobs-grid-full usajobs-open-opps-opportunity-item__header">
          <div class="usajobs-width-two-thirds">
            <h1 class="usajobs-open-opps-opportunity-item__title"><%- model.title %></h1>
            <div class="skills">
              <div>Desired skills:</div>
              <% _.each(madlibTags['skill'], function (t) { %>
                <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
              <% }) %>
            </div>
          </div>

          <div class="usajobs-width-one-third">
            <div class="usajobs-open-opps-opportunity-requestor__wrapper">
              <div class="usajobs-open-opps-opportunity-requestor">
                <a href="/profile/<%- model.owner.id %>">
                  <div class="usajobs-open-opps-opportunity-requestor__figure-body">
                    <div class="usajobs-open-opps-opportunity-requestor__figure <% if (user) { %><%- getInitialsColor(model.owner.id) %><% } %>" <% if (user) { %> data-userid="<%- model.userId %>" <% } %>>
                      <% if (model.owner.photoId) { %>
                        <img src="/api/user/photo/<%- model.owner.id %>" alt="Profile picture of <%- model.owner.name %>">
                      <% } else { %>
                        <div class="usajobs-open-opps-opportunity-requestor__initials" title="<%- model.owner.name %>"><%- getInitials(model.owner.name) %></div>
                      <% } %>
                    </div>
                    <div class="usajobs-open-opps-opportunity-requestor__body">
                      <p class="usajobs-open-opps-opportunity-requestor__name">
                        Department of State
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="usajobs-opop-actions__col-sub-actions usajobs-opop-actions--v1-5__col-sub-actions">
              <div><a class="usajobs-opop-actions__share usajobs-opop-actions-share" href="#" id="email"><i class="fa fa-share-alt"></i> Share</a></div>
              <% if (model.canEditTask && model.state != 'completed') { %>
                <div><a class="usajobs-opop-actions__save" href="<%- model.id %>/edit" id="task-edit"><i class="fas fa-edit"></i> <% if (model.state != 'canceled') { %>Edit<% } else { %>Reopen<% } %></a></div>
              <% } else { %>
                <div><a class="usajobs-opop-actions__save usajobs-opop-actions-save" href="#" id="save"><i class="fa fa-star"></i> Save</a></div>
              <% } %>
            </div>
          </div>

        </div>
      </div>


      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile overview">
        <div class="usajobs-grid-full">
          <div class="usa-width-one-third personnel-needed mobile">
            <div class="usajobs-opop__task-intro">
              <h4>Bureau</h4>
              <div>
                <i>Bureau goes here</i>
              </div>
              <h4>Office</h4>
              <div>
                <i>Office goes here</i>
              </div>
              <h4>Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>
              <h4>Country</h4>
              <div>
                <i>Country goes here</i>
              </div>
              <h4>Language requirements</h4>
              <div>
                <i>Yes or No goes here</i>
              </div>
              <h4>Time commitment</h4>
              <div>
                <i>Start date - end date</i> 32-40 hours per week
              </div>           
              <h4>Number of interns</h4>
              <div>
                <i>Intern number goes here</i>
              </div>
            </div>
          </div>
          <div class="usa-width-two-thirds opportunity-description">
            <div class="usajobs-open-opps-opportunity__desc">
              <h3>What you'll do</h3>
              <%= model.detailsHtml %>
              <h3>Who we are</h3>
              <%= model.aboutHtml %>
              <!-- only show if have language requirements -->
              <h3>Language requirements</h3>
              <!-- need a loop for each language -->
              <div class="usajobs-grid">
                <div class="usajobs-width-one-half">
                  <ul class="usajobs-drawer-content__list">
                    <li class="usajobs-drawer-content__item">
                      <h4>French</h4>
                      <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                      <p>Novice</p>
                    </li>
                    <li class="usajobs-drawer-content__item">
                      <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                      <p>Intermediate</p>
                    </li>
                  </ul>
                </div>
                <div class="usajobs-width-one-half">
                  <ul class="usajobs-drawer-content__list">
                    <li class="usajobs-drawer-content__item">
                      <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                      <p>Advanced</p>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- end language item -->
              <!-- end language requirements -->
            </div>
          </div>
          <div class="usa-width-one-third personnel-needed desktop">
            <div class="usajobs-opop__task-intro">
              <h4>Bureau</h4>
              <div>
                <i>Bureau goes here</i>
              </div>
              <h4>Office</h4>
              <div>
                <i>Office goes here</i>
              </div>
              <h4>Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>
              <h4>Country</h4>
              <div>
                <i>Country goes here</i>
              </div>
              <h4>Language requirements</h4>
              <div>
                <i>Yes or No goes here</i>
              </div>
              <h4>Time commitment</h4>
              <div>
                <i>Start date - end date</i> 32-40 hours per week
              </div>           
              <h4>Number of interns</h4>
              <div>
                <i>Intern number goes here</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <aside class="usajobs-rightrail internship" id="rightrail">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h3>Before you apply</h3>
        <p>To apply to the unpaid Student Internship Program, you must:</p>
        <ul>
          <li>Be a U.S. citizen.</li>
          <li>Be a current student.</li>
          <li>Have at least a 3.0 GPA on a 4-point scale.</li>
          <li>Be able to receive and maintain a security clearance.</li>
        </ul>
        <h4>For more information</h4>
        <p>Visit <a href="https://careers.state.gov/intern/student-programs/">U.S. Department of State Unpaid Student Internships</a> website.</p>
        <a href="javascript:void(0);" id="apply" class="usa-button-big usa-button-primary"><span class="box-icon-text">Apply</span></a>
      </div>

      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h3>Saved internships (#)</h3>
        <a href="javascript:void(0);" id="gotosaved" class="usa-button-big usa-button-primary"><span class="box-icon-text">Go to saved</span></a>
      </div>
    </aside>

  </div>
</section>
