<section class="usajobs-shell">
    <div id="container" class="unauthorized">
        <main class="usajobs-opop">
            <div class="usajobs-error">
                <div class="usajobs-error__container">
                    <i class="fas fa-ban usajobs-error__img"></i>
                    <h1 class="usajobs-error__title">SORRY, WE WERE UNABLE TO COMPLETE YOUR REQUEST</h1>
                    <p class="usajobs-error__text">The link you are attempting to access is either invalid or has expired.</p>
                    <ul class="usajobs-error__list">
                        <li class="usajobs-error__item">Go back to <a href="<%= usajobsURL %>">USAJOBS</a>.</li>
                        <li class="usajobs-error__item">Go to the Open Opportunities <a href="https://usajobs.github.io/openopps-help/">Help Center</a>.</li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>