<section class="usajobs-shell">
    <div id="container" class="signout">
        <main class="usajobs-opop">
            <div class="usajobs-error">
                <div class="usajobs-error__container">
                    <div class="usajobs-error__img usajobs-error__img--signed-out"></div>
                <!-- <i class="fas fa-sign-out-alt usajobs-error__img"></i> -->
                    <h1 class="usajobs-error__title">
                        You are now Signed out. Thanks for using open opportunities.
                    </h1>
                    <p class="usajobs-error__text">
                        We hope you found what you were looking for. Want to keep looking? 
                    </p>
                    <ul class="usajobs-error__list">
                        <li class="usajobs-error__item">
                            <a href="/login">Sign in</a> again
                        </li>
                        <li class="usajobs-error__item">
                            <a href="/tasks">Search</a> for Opportunities
                        </li>
                        <li class="usajobs-error__item">
                            Go to our <a href="https://usajobs.github.io/openopps-help/">help center</a>
                        </li>
                        <li class="usajobs-error__item">
                            Head back to <a href="/">home</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </main>
    </div>
</section>