<section class="usajobs-shell">
    <div id="container" class="unauthorized">
        <main class="usajobs-opop">
            <div class="usajobs-error">
                <div class="usajobs-error__container">
                    <i class="fas fa-ban usajobs-error__img"></i>
                    <h1 class="usajobs-error__title">SORRY, YOU CAN'T ACCESS THIS SITE</h1>
                    <p class="usajobs-error__text">Open Opportunities is only for current federal employees and students who are looking for internships.</p>
                    <p class="usajobs-error__text">If you are a federal employee, make sure your <a href="<%= usajobsURL %>/Applicant/Profile/">USAJOBS profile</a> says that you're a federal employee and includes your current agency and a verified federal email address.</p>
                    <p class="usajobs-error__text">If you are a student looking for an internship, make sure your profile includes the student hiring path.</p>
                    <ul class="usajobs-error__list">
                        <li class="usajobs-error__item">Update your <a href="<%= usajobsURL %>/Applicant/Profile/">USAJOBS profile</a>.</li>
                        <li class="usajobs-error__item">Go back to <a href="<%= usajobsURL %>">USAJOBS</a>.</li>
                        <li class="usajobs-error__item">Go to the Open Opportunities <a href="https://usajobs.github.io/openopps-help/">Help Center</a>.</li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>