.back-link {
  color: $color-primary;
  margin-top: $size-default;
  
  a {
    text-decoration: none;
  }

  .fa-chevron-circle-left {
    margin-right: $size-base;
  }
}

.usajobs-content-gutter.opportunity-gutter .tips-wrapper {
  @include media($ML-down) {
    width: 100%;
  }
}

.tips {
  background-color: #e1f3f8;
  padding: 2rem;
  margin-top: 0;

  @include media($ML-down) {
    // width: 100%;
    margin-left: -$size-default;
    margin-right: -$size-default;
  }

  a {
    text-decoration: underline;
  }
}

.tips-left {
    @extend .tips;
    left: 0;
    bottom: 0;
    position: relative;
     margin-left: -$size-default;
      margin-right: -2.5rem;

    @include media($ML) {
      margin-top: $size-M;
    }

    @include media($XXXL) {
      background-color: #e1f3f8;
      padding: 2rem;
    }

    h4 {
        margin-top: 0;
    }

    a:visited {
      color: $color-primary;
    }
}

.usa-form-xl, .usa-form-xl label {
    max-width: 56rem;
}

.task-footer {
    margin-top: $size-XL;

    @include media($ML) {
      width: 100%;
    }
}

.usa-unstyled-list__radio {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
  }

.usa-unstyled-list__radio > li {
    margin-left: 0;
}

.usa-unstyled-list__radio > li, .usa-unstyled-list__radio > li > label {
    margin-top: $size-XS;
    margin-bottom: $size-XS;
}

.status-title {
  float: left;
}

.usa-unstyled-list {
  &__radio--horizontal {
    padding-left: 0;
    list-style-type: none;

    li {
      float: left;
      margin-left: $size-XS;
      margin-right: $size-SM;
    }
    li,  li > label {
      margin-top: $size-XS;
      margin-bottom: $size-XS;

      &::before {
        margin-bottom: 2px;
      }      

      span.usajobs-pill--opportunity-status  {
        margin-right: $size-XS;
        border-radius: 1.3rem;
        width: 12rem;
        display: inline-block;
      }
    }
  }
  &__indent {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.select-small {
    max-width: 14.3rem;
}

#headline, #description, #tags, #review, #step-3 {
  position: relative;
}

.no-margin-top {
  margin-top: 0;
}

.checkboxes-horizontal, .checkboxes-horizontal-longtitle {
  display: flex;
  flex-direction: column;

  @include media($M) {
    flex-direction: row;

    label {
      margin-right: $size-default;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    label {
      margin-right: $size-default;

      @include media($M-down) {
        margin-top: 0;
      }
    }
  }
}

.checkboxes-horizontal-longtitle {
  @include media($M) {
    flex-direction: column;
  }

  ul label {
    margin-right: $size-default;
    margin-top: 0;
  }
}

ul.opportunity-options__list {
  margin-top: $size-S;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

button.opportunity-options__button {
  background-color: #fff;
  border: 1px solid $color-gray-lightest;
  @include boxShadow(1);
  color: $color-green-light;
  padding: 0 $size-SM $size-S $size-SM;
  float: left;
  margin: 0 $size-default $size-default 0;
  min-width: 130px;
  min-height: 98px;
  text-align: center;
  width: initial;

  @include media($SM) {
    min-width: 136px;
    margin: 0 $size-default $size-default 0;
  }

  @include media($L) {
    min-width: 126px;
    margin: 0 $size-S $size-S 0;
  }

  &:hover {
    background-color: $color-gray-lighter;
    color: $color-green-light;
    border: 1px solid $color-gray-light;
    box-shadow: none;
  }

  &:active {
    background-color: $color-gray-light;
    color: $color-green;
    border: 1px solid $color-gray;
    box-shadow: none;
  }

  &.selected {
    background-color: $color-gray-lightest;
    color: $color-green-light;
    border: 1px solid $color-gray-lighter;
    box-shadow: none;
  }

  .opportunity-options__icon {
    display: block;
    font-size: 3.5rem;
    text-align: center;
    margin: $size-base auto $size-S auto;

    .fa-clock {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .opportunity-options__text {
    color: $color-gray;
    max-width: 84px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.opportunity-target-audience__item {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  width: 95%;
  vertical-align: middle;
  border-radius: 5px;

  .opportunity-target-audience__button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
    padding: 1rem;
    color: #212121;
    text-decoration: none;
    min-height: 6.7rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    background-color: #fff;

    .opportunity-target-audience__figure {
      flex-shrink: 0;
      -ms-flex-negative: 0;

      .opportunity-target-audience__icon {
        font-size: 2.4rem;
        display: inline-block;
        text-align: center;
        margin-right: .5rem;

        i {
          width: 4.4rem;
          height: 4.4rem;
          vertical-align: middle;
          display: inline-block;
        }

        .federal-employees {
          background-image: url(../img/icons/hiring-paths/png/federal-employees@2x.png);
          background-image: url(../img/icons/hiring-paths/svg/federal-employees.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 4.4rem;
        }

        .students {
          background-image: url(../img/icons/hiring-paths/png/students@2x.png);
          background-image: url(../img/icons/hiring-paths/svg/students.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 4.4rem;
        }
      }
    }
  }

  .opportunity-target-audience__body {
    box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding: 0 1.5rem;

    .opportunity-target-audience__item-title {
      margin-top: 0;
      font-weight: 400;
      text-align: left;

      .opportunity-target-audience__subtext {
        display: block;
        font-size: 1.4rem;
      }
    }
  }
}

.opportunity-target-audience__item {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;

  @include media($M) {
    width: 95%;
  }

  .opportunity-target-audience__button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
    padding: 1rem;
    color: #212121;
    text-decoration: none;
    min-height: 6.7rem;
    border: 1px solid $color-gray-lightest;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    background-color: #fff;

    &:hover {
      background-color: $color-gray-lighter;
      border: 1px solid $color-gray-light;
      box-shadow: none;
      color: $color-base;
    }

    &:active {
      background-color: $color-gray-light;
      border: 1px solid $color-gray;
      box-shadow: none;
      color: $color-base;
    }
    
    &.selected {
      background-color: $color-gray-lightest;
      border: 1px solid $color-gray-lighter;
      box-shadow: none;
      color: $color-base;
    }

    .opportunity-target-audience__figure {
      flex-shrink: 0;
      -ms-flex-negative: 0;

      .opportunity-target-audience__icon {
        font-size: 2.4rem;
        display: inline-block;
        text-align: center;
        margin-right: .5rem;

        i {
          width: 4.4rem;
          height: 4.4rem;
          vertical-align: middle;
          display: inline-block;
        }

        .federal-employees {
          background-image: url(../img/icons/hiring-paths/png/federal-employees@2x.png);
          background-image: url(../img/icons/hiring-paths/svg/federal-employees.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 4.4rem;
        }

        .students {
          background-image: url(../img/icons/hiring-paths/png/students@2x.png);
          background-image: url(../img/icons/hiring-paths/svg/students.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 4.4rem;
        }
      }
    }
  }

  .opportunity-target-audience__body {
    box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding: 0 1.5rem;

    .opportunity-target-audience__item-title {
      margin-top: 0;
      font-weight: 400;
      text-align: left;

      .opportunity-target-audience__subtext {
        display: block;
        font-size: 1.4rem;
      }
    }
  }
}

.label-second-line {
  display: block;
  margin-left: 2.8rem;
}

.expandorama {
  list-style: none;
  padding-left: 0;

  li {
    margin-top: $size-default;
    background-color: $color-white;
  }

  .expandorama-button {
    background-color: $color-white;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-font-smoothing: auto;
    background-color: $color-white;
    background-image: url(../img/plus-circle-green.png);
    background-image: url(../img/plus-circle-green.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 2.8rem;
    color: $color-primary;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0 2rem 0 4rem;
    width: 100%;

    &:hover {
      background-color: $color-white;
      color: $color-primary;

      h3 {
        color: $color-primary-darker;
      }
    }

    &[aria-expanded=true] {
      background-image: url(../img/minus-circle-green.png);
      background-image: url(../img/minus-circle-green.svg);
      background-repeat: no-repeat;
      background-size: 2.8rem;
    }

    h3 {
      color: $color-primary;
    }
  }

  .expandorama-content {
      background-color: #fff;
      padding: 0;

      &[aria-hidden=true] {
        display: none;
      }
      
      &:not([aria-hidden]) {
        position: absolute;
        left: -999em;
      }
  }
}

.usa-button-left {
  float: left;
}

#internship-preview {
  h2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $color-gray-lighter;
  }

  .skills {
    padding-top: 1.5rem;
  }

  .usajobs-open-opps-opportunity-item__title {
    padding-top: 1.5rem;
  }

  .field-label {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: normal;
    color: #5b616b;
  }

  .logo__header {
    width: rem(100px);
    float: right;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: rem(75px);
    width: rem(75px);
    background-image: url('../img/logo/png/dos-student-internship-program-logo.png');
    background-size: rem(75px);
    background-repeat: no-repeat;

    @include media($ML) {
      background-size: rem(85px);
      height: rem(85px);
      width: rem(85px);
    }
  }
}

.keywords {
  margin-bottom: $size-M;
  padding-top: $size-S;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  .keyword-label {
      background-color: $color-gray;
      color: $color-white;
      display: inline-block;
      margin: 0 0.5rem 0.8rem 0;
      padding: 0.8rem 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      border-radius: $size-base;

      &:visited {
        color: $color-white;
      }
  }
}

.related-keywords {
  position: relative;
}

.step-3-flex__wrapper {
  display: flex;
  flex-direction: column;

  .step-3-flex__item.paragraphs {
    order: 3;

    @include media($ML) {
      order: 1;
    }

    p, ul, a {
      max-width: 56rem;
      word-wrap: break-word;
    }
  }

  .step-3-flex__item.personnel {
    order: 1;

    @include media($ML) {
      order: 2;
    }
  }

  .step-3-flex__item.happens-next {
    order: 3;
  }
}

.personnel {
  .usajobs-opop__task-intro {
    .usa-width-one-half {
      width: 45%;

      @include media($M-down) {
        width: 100%;
      }
    }

    h4 {
      margin-bottom: 0;
    }

    svg {
      margin-right: $size-base;
    }

    p {
      margin-top: 0;
    }
  }
}

#add-languages-fieldset>h2.no-margin-top {
  margin-top: 0;

  .usajobs-form__legend {
    position: absolute;
    right: 3rem;
  }
}

#needed-interns, .usa-input-error #needed-interns {
  width: 6rem;
}

.intern-form-year {
    label {
      margin-top: $size-default;
    }
}

.intern-form-yearbox, .usa-input-error .intern-form-yearbox {
  width: 8rem;
}

.needed-hours {
  margin-top: $size-M;
  width: 6rem;

  p:first-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-top: 0;
  }
}

.languages-drawer {

  &-content {
    background-color: $color-white;
    overflow: auto;
    padding: 0 0 $size-S 0;
    border-top:1px solid $color-gray-lighter;
    border-bottom:1px solid $color-gray-lighter;

    .usajobs-grid {
      padding: 0;
    }

    &__list {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include media($M) {
        padding-bottom: $size-default;
      }

      & > li {
        display: list-item;
        margin: 0;
      }

      p, dd {
        margin: 0;
      }

      .languages-drawer-content__item p {
        margin:0;
      }
    }

    &__item-label {
      margin-top: $size-default;
      margin-bottom: 0;
      font-size: $size-default;
      font-weight: normal;
      color: $color-gray;
    }

    &__item-content {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .has-no-face {
    padding-bottom: $size-default;
  }
 
  .usajobs-button-bar {
    &--split {
      border-top: 0;
    }

    &__body {
      padding: 0;
    }

    &__delete {
      display: inline-block;
      padding: 0.6rem $size-default 0.6rem 2.5rem;
      font-weight: bold;
      background-image: url(../img/icons/button-bar/times-circle.svg);
      background-size: $size-SM $size-SM;
      background-position: left center;
      background-repeat: no-repeat;
      color: $color-primary;
    }

    &__save, &__edit {
      float: right;
    }
  }
}

