<% _.each(people, function(person) { %>
  <% if (!_.isUndefined(person.name)) { %>
    <div class="people-search-result">
      <div class="people-search-result__figure-body">
        <div class="people-search-result__figure <%- getInitialsColor(person.id) %>">
          <% if (person.photoId) { %>
            <img src="/api/user/photo/<%- person.id %>" alt="Profile picture of <%- person.name %>">
          <% } else { %>
            <div class="people-search-result__initials"><%- getInitials(person.name) %></div>
          <% } %>
        </div>
      </div>

      <a class="people-search-result__save" href="#" data-action='save'>
        <i class="far fa-star"></i>
      </a>
      <div class="people-search-result__body">
        <a href="/profile/<%= person.id %>" class="people-search-result__name">
          <%= person.name %>
        </a>
        <p class="people-search-result__title"><%= person.title %></p>
        <p class="people-search-result__info">
          <% if (!_.isUndefined(person.agency)) { %><%= person.agency.name %> | <% } %>
          <% if (!_.isUndefined(person.location)) { %><%= person.location.name %><% } %>              
        </p>
        <div class="people-search-result__skills">
          <!-- <span class="skill-label clickable-filter"><% if (!_.isUndefined(person.skill)) { %><%= person.skill %><% } %></span> -->
          <span class="skill-label clickable-filter">Data</span>
          <span class="skill-label clickable-filter">Communication Skills</span>
        </div>
      </div>
    </div>
  <% } %>
<% }); %>