<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <p>Please select a badge to add to <%- data.name %>'s profile.</p>
    <label for="badge-name" class="no-margin-top">Badge name</label>
    <span class="field-validation-error error-empty" style="display:none;">You must select a badge.</span>
    <select id="badge-name" class="dropdown add-badge" data-validate="empty">   
      <option value="community manager">Community Manager</option>                   
    </select>
  </div>
  <div class="usa-width-one-third">
    <div class= "add-badge">
      <img src="/images/badges/community-manager.png"  alt="Community Manager" title="Community Manager">
      <p>Preview</p>
    </div>
  </div>
</div>
    
  
 
  
 

