<div class="usajobs-form--narrow center-upload">
  <div class="usajobs-open-opps-opportunity-requestor profile profile-edit">
    <div class="usajobs-open-opps-opportunity-requestor__figure-body-wrap">
      <div class="usajobs-open-opps-opportunity-requestor__figure <%- getInitialsColor(data.id) %>">
        <% if ((data.hiringPath == 'fed' || data.hiringPath == 'contractor') && data.photoId) { %>
          <img id="profile-picture" src="/api/user/photo/<%- data.id %>" alt="Profile picture of <%- data.name %>">
        <% } else { %>
          <div class="usajobs-open-opps-opportunity-requestor__initials"><%- getInitials(data.name) %></div>
        <% } %>
      </div>
    </div>
  </div>
  <% if (data.hiringPath == 'fed' || data.hiringPath == 'contractor') { %>
    <div class="fileinput-button" <% if (!(data.isOwner || data.canEditProfile)) { %>style="display:none;"<% } %>>
      <a href=#><%- data.photoId ? 'Update photo' : 'Upload photo' %>
        <label class="sr-only" for="fileupload">Upload photo</label>
        <input id="fileupload" type="file" name="files[]" accept="image/*" title="<%- data.photoId ? 'Update photo' : 'Upload photo' %>" />
      </a>
    </div>
    <div class="fileinput-button">
      <% if (data.photoId) { %>
        <a href=# id="photo-remove">Remove</a>
      <% } %>
    </div>
    <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
      <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
    </div>
  <% } %>
</div>