<section class="usajobs-canvas">
    <div class="usajobs-content-gutter profile-gutter">
        <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
            <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
                <form action="" class="usajobs-form" role="form" id="profile-form">
                    <fieldset class="usajobs-fieldset skills-interests">
                        <h2>Skills</h2>
                        <p>List all of your relevant skills.</p>
                        <div class="tag-wrapper"></div>
                    </fieldset>
                    <div class="usajobs-button_bar--slim">
                        <div class="usajobs-button_bar__body">
                            <a href="#" class="usa-button usa-button-secondary usa-button-left" id="profile-cancel">Cancel and return to Profile</a>
                            <button id="profile-save" type="submit" class="usa-button" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save skills</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>