<% if(insertSuccess) { %>
    <div id="office-edit-success" class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert" >
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <h3 class="usa-alert-heading">
        Bureau and Office/post added
        </h3>
        <p class="usa-alert-text">You have successfully added <%- user.name %> to the <%- bureau.name %> <% if(!_.isEmpty(office)) { %>, <%- office.name %> <% } %>.</p>
      </div>
      <button class="usajobs-alert__close" data-behavior="alert.close">
        <span class="usajobs-assistive-text">Close</span>
      </button>
    </div>
    <% } %>
    <% if(removeSuccess) { %>
      <div id="office-edit-success" class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert" >
        <div class="usajobs-alert__figure">
          <div class="usajobs-alert__icon">
          </div>
        </div>
        <div class="usajobs-alert__body">
          <h3 class="usa-alert-heading">
          Bureau and Office/post removed
          </h3>
          <p class="usa-alert-text">You have successfully removed <%- window.cache.currentUser.name %> from the <%- bureau %> <% if(!_.isEmpty(office)) { %>, <%- office %> <% } %>.</p>
        </div>
        <button class="usajobs-alert__close" data-behavior="alert.close">
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
      <% } %>
