<section class="usajobs-canvas">
    <div class="usajobs-content-gutter profile-gutter">
    <% if (user.id !== data.id) { %>
      <% if (user.isAdmin || user.isAgencyAdmin) { %>
        <div class="usa-alert usajobs-alert usajobs-alert--info" role="alert" data-object="alert">
          <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
          </div>
          <div class="usajobs-alert__body">
            <p class="usa-alert-text">
              You are an <% if (user.isAgencyAdmin && !user.isAdmin) { %> agency <% } %> administrator.
              <% if (user.id !== data.id) { %>
                You are viewing <% if (data.hiringPath == 'student') { %>a student's<% } else if (data.hiringPath == 'contractor') { %>a contractor's<% } else { %>another user's<% } %> profile.
              <% } %>
            </p>
          </div>
        </div>
      <% } %>
    <% } %>
    
    <div id="alert-message"></div>
    
    <div class="usa-alert usajobs-alert usajobs-alert--error" id="file-upload-alert" role="alert" data-object="alert" style="display:none;">
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text" id="file-upload-alert-message">
        </p>
      </div>
    </div>
    <% if (saved) { %>
      <div class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert">
        <div class="usajobs-alert__figure">
          <div class="usajobs-alert__icon">
          </div>
        </div>
        <div class="usajobs-alert__body">
          <p class="usa-alert-text">
            Your profile has been successfully updated.
          </p>
        </div>
      </div>
      <% } %>
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity">
        <div class="usajobs-open-opps-profile__body usajobs-grid-full">
          <% if (data.isOwner || (!loginGov && data.canEditProfile)) { %>
          <div class="usajobs-opop-section-edit">             
            <% if (loginGov) { %>
              <a href="<%- data.editURL %>" class="usa-button usa-button-secondary">Edit at USAJOBS</a>
            <% } else { %>
              <a href="/profile/edit/<%- data.id %>" class="link-backbone">Edit</a>
            <% } %>
          </div>
          <% } %>
          <div id="profile" class="usajobs-opop-profile-title profile usa-width-one-fourth">
              <div class="profile-photo"></div>
              <h3 class="usajobs-opop-profile-name"><% if (data.givenName && data.lastName ) { %><%- data.givenName + ' ' + data.lastName %><% } else { %><%- data.username %><% } %></h3>
          </div>
          <div class="usajobs-opop-profile-details usa-width-three-fourths">
            <div class="profile-name-role">
              <h3 class="usajobs-opop-profile-name"><% if (data.givenName && data.lastName) { %><%- data.givenName + ' ' + data.lastName %><% } else { %><%- data.username %><% } %></h3>
              <% if (user.isAdmin) { %>
                <% if (data.isAdmin) { %>
                  <span class="role-label">Administrator</span>
                <% } else if (data.isAgencyAdmin) { %>
                  <span class="role-label">Agency Administrator</span>
                <% } else if (data.isCommunityApprover) { %>
                  <span class="role-label">Bureau Internship Coordinator</span>
                <% } %>
              <% } else if (user.isAgencyAdmin) { %>
                <% if (data.isAgencyAdmin) { %>
                  <span class="role-label">Agency Administrator</span>
                <% } else if (data.isCommunityApprover) { %>
                  <span class="role-label">Bureau Internship Coordinator</span>
                <% } %>
              <% } else if (user.isCommunityApprover) { %>
                <% if (data.isCommunityApprover) { %>
                  <span class="role-label">Bureau Internship Coordinator</span>
                <% } %>
              <% } %>
            </div>
            <div class="profile-jobtitle">
              <% if (data.title) { %>
              <div class="usajobs-profile-home-section__field-label">Job title</div>
              <span><%- data.title %></span>
              <% } %>
            </div>
            <div class="profile-careerfield">
              <% if (career) { %>
              <div class="usajobs-profile-home-section__field-label">Career field</div>
              <span><%- career.name %></span>
              <% } %>
            </div>
            <div class="profile-agency">
              <% if (data.agency) { %>
              <div class="usajobs-profile-home-section__field-label">Agency</div>
              <span><%- data.agency.name %></span>
              <% } %>
            </div>
            <div class="profile-location">
              <div class="usajobs-profile-home-section__field-label">Location</div>
                <%- data.location.name %>
              </span>
            </div>
            <div class="profile-email">
              <% if ((data.hiringPath == 'fed' || data.hiringPath == 'contractor') && loginGovEmail && fedEmail) { %>
                <div class="usajobs-profile-home-section__field-label">Official government email address</div>
                <% if (user.id !== data.id) { %>
                  <a href="mailto:<%= fedEmail %>"><%= fedEmail %></a>
                <% } else { %>
                  <span><%= fedEmail %></span>
                <% } %>
              <% } else if ((data.hiringPath == 'fed' || data.hiringPath == 'contractor') && loginGovEmail) { %>
                <div class="usajobs-profile-home-section__field-label">Contact email address</div>
                <% if (user.id !== data.id) { %>
                  <a href="mailto:<%= loginGovEmail %>"><%= loginGovEmail %></a>
                <% } else { %>
                  <span><%= loginGovEmail %></span>
                <% } %>
              <% } else if (data.hiringPath == 'student' && data.username) { %>
                <div class="usajobs-profile-home-section__field-label">Email address</div>
                <span><%= data.username %></span>
              <% } %>
            </div>
            <div class="profile-biography"> 
              <% if (data.bioHtml) { %>
              <h3>Biography</h3>
              <%= data.bioHtml %>
              <% } %>
            </div>
            <% if (data.hiringPath == 'fed' || data.hiringPath == 'contractor') { %>
              <div class="profile-share <% if (data.isOwner || user.isAdmin) { %>border-bottom<% } %>">
                  <a href="#" id="email"><i class="fas fa-share-alt"></i> <span>Share Profile</span></a>
              </div>
            <% } %>
          </div>
        </div>
      </div>

   
 <% if (dos) { %>
  <div class="usajobs-opop-skill__body">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
      <div class="usajobs-grid-full">
        <% if (data.isOwner || data.canEditProfile) { %>
        <div class="usajobs-opop-section-edit skills-edit">       
          <a id="add-bureau-office" class="usa-button usa-button-secondary" data-userid="<%- data.id %>" href="javascript:void(0)"><i class="fas fa-plus"></i> Add </a>
        </div>
        <% } %>
      <div id="bureau-office-preview"></div>
      </div>
    </div>
  </div>
  <% } %>
      <div class="usajobs-opop-skill__body">
        <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
          <div class="usajobs-grid-full">
            <% if ((data.isOwner || data.canEditProfile) && (skillsTags.length > 0 || interestsTags.length > 0)) { %>
            <div class="usajobs-opop-section-edit skills-edit">
              <% if (login.profile.edit === true) { %>
              <a href="/profile/edit/skills/<%- data.id %>" class="link-backbone"><span>Edit</span></a>
              <% } %>
            </div>
            <% } %>
            <h2><span class="usa-input-optional">Skills</span></h2>
            <% if (skillsTags.length > 0 || interestsTags.length > 0) { %>
              <% if (skillsTags.length > 0) { %>
              <h3>I have experience with</h3>
              <div>
                <% _.each(skillsTags, function (t) { %>
                  <a class="skill-label" href="/search?skill=<%= t.name %>"><%= t.name %></a>
                <% }) %>
              </div>
              <% } %>  
              <% if (interestsTags.length > 0) { %>
                <h3>I want to develop</h3>
                <div>
                  <% _.each(interestsTags, function (t) { %>
                    <a class="skill-label" href="/search?skill=<%= t.name %>"><%= t.name %></a>
                  <% }) %>
                </div>
              <% } %>
            <% } else if (data.isOwner || data.canEditProfile) { %>
              <p>List all of your relevant skills.</p>
              <a href="/profile/edit/skills/<%- data.id %>/" class="usa-button add-skills">
                <i class="fas fa-plus-circle"></i> Add skills
              </a>
            <% } %>
          </div>
        </div>
      </div>
      <% if (user.id !== data.id) { %>
        <div class="usajobs-opop-profile-opportunity__body">
          <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
            <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="https://usajobs.github.io/openopps-help/opportunity/application-status/"  target="_blank" rel="noopener noreferrer" title="Help">
              <span class="usajobs-nav--openopps__section">
                <span class="fas fa-question-circle" title="Help"></span>Help
              </span>
            </a>
            <% if (data.hiringPath != 'student') { %>
              <h2>Opportunities</h2>
              <% if (data.hiringPath == 'fed') { %>
                <h3>Participated</h3>
                <div class="opportunity-participated"></div>
              <% } %>
              <h3>Created</h3>
              <div class="opportunity-created"></div>
            <% } else { %>
              <h2>Internship opportunities</h2>
              <h3>Applied</h3>
              <div class="internships-applied"></div>
              <h3 id="saved">Saved</h3>
              <div class="internships-saved"></div>
            <% } %>
          </div>
        </div>
      <% } %>
    </main>
    <% if (data.hiringPath == 'fed' || data.hiringPath == 'contractor') { %>
       <div id="profile_badge_preview"></div>
    <% } else if (data.hiringPath == 'student') { %>
      <aside class="usajobs-rightrail" id="rightrail">
        <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
          <h2>Badges</h2>
          <!-- just need a space here for css to work correctly -->
          <% if (data.internshipsCompleted > 0) { %>
          <ul class="profile-badges">
            <li class="profile-badge">
              <img src="/images/badges/<%- internFilename %>.svg" alt="The internship badge is awarded when you complete one internship.">
              <p>Intern</p>
            </li>
          </ul>
          <% } %>
        </div>
      </aside>
    <% } %>
  </div>
</section>
