<% if(countOf) { %>
  <h4>Viewing <%- numeral(firstOf).format('0,0') %>-<%- numeral(lastOf).format('0,0') %> of <%- numeral(countOf).format('0,0') %> users</h4>
<% } %>
<table class="usa-table-borderless user-table" role="presentation">
  <thead>
    <tr>
      <th class="admin-user-id">User #</th>
      <th class="admin-table-name">Name</th>
      <% if (target == 'sitewide') { %><th>Login.gov email</th><% } %>
      <th>Federal email</th>
      <th>Created</th>
      <% if (target == 'sitewide') { %><th>Last login</th><% } %>
      <th class="admin-user-checkbox">Account<br />enabled</th>
      <% if (!loginGov) { %>
        <% if (login.local.enabled === true) { %>
          <th class="admin-user-checkbox">Reset<br/>password</th>
        <% } %>
      <% } %>
      <% if (user.isAdmin || user.isAgencyAdmin) { %>
        <th class="admin-user-checkbox"><span class="capitalize-target"><%- target %></span><br /> admin</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% if (users.length === 0) { %>
      <tr class="empty-row">
        <td colspan="10">
          No users found.
        </td>
      </tr>
    <% } %>
    <% _.each(users, function (u) { %>
      <tr data-id="<%- u.id %>"
          data-user-name="<%- u.name %>"
          data-admin="<%- u.isAdmin %>"
          data-agency-admin="<%- u.isAgencyAdmin %>">
        <td>
          <%- u.id %>
        </td>
        <td class="admin-table-name">
          <%- u.name %>
        </td>
        <td class="admin-table-username">
          <a class="link-backbone" href="/profile/<%- u.id %>"><%- u.username %></a>
        </td>
        <% if (target == 'sitewide') { %>
        <td class="admin-table-federalEmail">
          <a class="link-backbone" href="/profile/<%- u.id %>"><%- u.government_uri %></a>
        </td>
        <% } %>
        <td class="admin-table-createdat">
          <%- moment(u.createdAt).format('MM/DD/YYYY hh:mma') %>
        </td>
        <% if (target == 'sitewide') { %>
        <td class="admin-table-lastLogin">
          <%- u.last_login ? moment(u.last_login).format('MM/DD/YYYY hh:mma'):'' %>
        </td>
        <% } %>
        <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="user-enable" id="user-enable-<%- u.id %>" type="checkbox" data-action='user' <% if (!u.disabled) { %> checked <% } %> />
            <label class="no-label" for="user-enable-<%- u.id %>"><span class="sr-only">Enable</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
        </td>
        <% if (!loginGov) { %>
          <% if (login.local.enabled === true) { %>
            <td class="pull-center">
              <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
                <i class="user-reset fa fa-sync-alt"></i>
                <span class="sr-only">Reset password</span>
              <% } %>
            </td>
          <% } %>
        <% } %>
        <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="assign-admin" id="assign-admin-<%- u.id %>" type="checkbox" data-action='<%- target %>' <% if (isAdministrator(u, target)) { %> checked <% } %> />
            <label class="no-label" for="assign-admin-<%- u.id %>"><span class="sr-only">Assign administrator</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
