
<h3 class="usajobs-section-header">Internships</h3>
<div class="overflow-x">
    <table class="usa-table-borderless task-metrics-table" role="presentation">
      <thead>
        <tr>
          <th scope="col"><span class="sr-only">Type</span></th>
          <% _.each(tasks, function(t) { %>                    
              <th scope="col"><%- t.name %></th>                  
            <% }); %> 
        </tr>
      </thead>    
      <tbody>                     
        <tr>
          <th scope="row">Published</th>
          <% _.each(tasks, function(t) { %>
            <td><%- t.published %></td>
          <% }); %>
        </tr>
        <tr>
          <th scope="row">Completed</th>
          <% _.each(tasks, function(t) { %>
            <td><%- t.completed %></td>
          <% }); %>
        </tr>
        <tr>
          <th scope="row">Completed by Admin</th>
          <% _.each(tasks, function(t) { %>
            <td><%- t.completedByAdmin %></td>
          <% }); %>
        </tr>
       
        <tr>
          <th scope="row">Percentage Completed</th>
          <% _.each(tasks, function(t) { %>     
            <td><%- Math.round((t.completed/(t.published)) * 100 , 4) || 0 %>%</td>
          <% }); %>
       
        </tr>
        <tr>
          <th scope="row">Percentage Canceled</th>
          <% _.each(tasks, function(t) { %>     
            <td><%- Math.round((t.canceled/(t.published)) * 100 , 4) || 0 %>%</td>
          <% }); %>
       
        </tr>
        <tr>
          <th scope="row">Applicants </th>         
          <% if (applicants.length>0) { %>  
            <% _.each(tasks, function(d) { %>        
            <% _.each(applicants, function(t) { %> 
              <% if (t.cycle_id==d.cycle_id ) { %>              
              <td><%- t.applicant %></td>   
              <% } %>                       
            <% }); %>
            <% }); %>
            <% } %>      
        </tr>
      
      </tbody>
    </table>
  </div>
  
  
  
  
  