<div class="usajobs-grid usajobs-search-controls">
  <div class="usajobs-search-controls__results-count-container no-params">
    <% if(countOf) { %>
    <h4 class="usajobs-search-controls__results-count">Viewing <%- numeral(firstOf).format('0,0') %>-<%- numeral(lastOf).format('0,0') %> of <%- numeral(countOf).format('0,0') %> users</h4>
    <% } %>
  </div>
  <div class="usajobs-search-controls__sort-container no-params show-on-desktop">
  <% if (users.length > 0) { %>
  <div class="usajobs-search-controls__sort-container no-params show-on-desktop">
    <% if (target === 'sitewide') { %>
      <label class="usajobs-search-controls__sort-label" for="sort-user-sitewide">
        Sort by
      </label>
      <select name="sort-user-sitewide" id="sort-user-sitewide" class="usajobs-search-controls__sort-control">
        <option value="" disabled>- Sort By -</option>
        <option value="name" <% if (sort == 'name') { %>selected<% } %>>Name</option>      
        <option value="government_uri" <% if (sort == 'government_uri') { %>selected<% } %>>Federal email</option>
        <option value="username" <% if (sort == 'username') { %>selected<% } %>>Login.gov email</option>
        <option value="createdAt" <% if (sort == 'createdAt') { %>selected<% } %>>Created</option>
        <option value="last_login" <% if (sort == 'last_login') { %>selected<% } %>>Last login</option>
        <option value="disabled" <% if (sort == 'disabled') { %>selected<% } %>>Enabled</option>
        <option value="isAdmin" <% if (sort == 'isAdmin') { %>selected<% } %>>Sitewide Admin</option> 
        <option value="isApprover" <% if (sort == 'isApprover') { %>selected<% } %>>Sitewide Approver</option>    
      </select>
    <% } %>
    <% if (target === 'agency') { %>
      <label class="usajobs-search-controls__sort-label" for="sort-user-agency">
        Sort by
      </label>
        <select name="sort-user-agency" id="sort-user-agency" class="usajobs-search-controls__sort-control">
          <option value="" disabled>- Sort By -</option>
          <option value="name" <% if (sort == 'name') { %>selected<% } %>>Name</option>       
          <option value="government_uri" <% if (sort == 'government_uri') { %>selected<% } %>>Federal email</option>
          <option value="createdAt" <% if (sort == 'createdAt') { %>selected<% } %>>Created</option>
          <option value="disabled" <% if (sort == 'disabled') { %>selected<% } %>>Enabled</option>
          <option value="isAgencyAdmin" <% if (sort == 'isAgencyAdmin') { %>selected<% } %>>Agency Admin</option>
        </select>
    <% } %>
  </div>
</div>
<% } %>
</div>
<table class="usa-table-borderless user-table" role="presentation">
  <thead>
    <tr>
      <th class="admin-table-name">Name</th>
      <% if (target == 'sitewide') { %>
      <th>Agency</th>
      <th class="admin-table-usertype">User type</th>   
      <% } %>
      <th>Federal email</th>
      <% if (target == 'sitewide') { %><th>Login.gov email</th><% } %>
      <% if (target != 'sitewide') { %><th>Created</th><% } %>
      <% if (target == 'sitewide') { %><th>Last login</th><% } %>
      <% if (target != 'sitewide') { %><th class="admin-user-checkbox">Account<br />enabled</th><% } %>
      <% if (target != 'sitewide') { %>
        <% if (!loginGov) { %>
          <% if (login.local.enabled === true) { %>
            <th class="admin-user-checkbox">Reset<br/>password</th>
          <% } %>
        <% } %>
        <% if (user.isAdmin || user.isAgencyAdmin) { %>
          <th class="admin-user-checkbox"><span class="capitalize-target"><%- target %></span><br /> admin</th>
        <% } %>
      <% } %>
      <% if (target == 'sitewide') { %>
        <th class="admin-user-checkbox">Account<br />settings</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% if (users.length === 0) { %>
      <tr class="empty-row">
        <td colspan="10">
          No users found.
        </td>
      </tr>
    <% } %>
    <% _.each(users, function (u) { %>
      <tr data-id="<%- u.id %>"
          data-user-name="<%- u.name %>"
          data-admin="<%- u.isAdmin %>"
          data-agency-admin="<%- u.isAgencyAdmin %>">
        <td class="admin-table-name">
          <a class="link-backbone" href="/profile/<%- u.id %>"><%- u.name %></a>
        </td>      
        <% if (target == 'sitewide') { %>
          <% if (u.agency) { %>
            <td ><%- u.agency.name %></td>
            <% } else { %>
            <td></td>
          <% } %>
          <td class="admin-table-usertype">
            <% if (u.hiring_path == 'fed') { %>
              <span><img src="/img/icons/hiring-paths/svg/federal-employees.svg" alt="Federal employee" title="Federal employee"></span>
            <% } else if (u.hiring_path == 'student') { %>
              <span><img src="/img/icons/hiring-paths/svg/students.svg" alt="Student" title="Student"></span>
            <% } else if (u.hiring_path == 'contractor') { %>
              <span><img src="/img/icons/hiring-paths/svg/contractors.svg" alt="Contractor" title="Contractor"></span>
            <% } %>
          </td>
        <% } %>
          <td class="admin-table-federalEmail">
            <% if (u.government_uri) { %><a href="mailto:<%- u.government_uri %>"><%- u.government_uri %></a><% } else { %> <% } %>
          </td>
        <% if (target == 'sitewide') { %>
          <td class="admin-table-username">
            <a href="mailto:<%- u.username %>"><%- u.username %></a>
          </td>
        <% } %>
        <% if (target != 'sitewide') { %>
          <td class="admin-table-createdat">
            <%- moment(u.createdAt).format('MM/DD/YYYY hh:mma') %>
          </td>
        <% } %>
        <% if (target == 'sitewide') { %>
          <td class="admin-table-lastLogin">
            <%- u.last_login ? moment(u.last_login).format('MM/DD/YYYY hh:mma'):'' %>
          </td>
        <% } %>
        <% if (target != 'sitewide') { %>
          <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="user-enable" id="user-enable-<%- u.id %>" type="checkbox" data-action='user' <% if (!u.disabled) { %> checked <% } %> />
            <label class="no-label" for="user-enable-<%- u.id %>"><span class="sr-only">Enable</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
          </td>
          <% if (!loginGov) { %>
            <% if (login.local.enabled === true) { %>
            <td class="pull-center">
              <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
                <i class="user-reset fa fa-sync-alt"></i>
                <span class="sr-only">Reset password</span>
              <% } %>
            </td>
            <% } %>
          <% } %>
        <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="assign-admin" id="assign-admin-<%- u.id %>" type="checkbox" data-action='<%- target %>' <% if (isAdministrator(u, target)) { %> checked <% } %> />
            <label class="no-label" for="assign-admin-<%- u.id %>"><span class="sr-only">Assign administrator</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
        </td>
        <% } %>
        <td class="pull-center">
          <% if (target == 'sitewide') { %>
            <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %> 
              <a href="/admin/user/<%- u.id %>/user-details" id="user-details" class="link-backbone"><i class="fas fa-cog"></i></a>
            <% } %>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
