

<p class="back-link" role="navigation" aria-label="Back"><a href="javascript:history.back()"><i class="fas fa-chevron-circle-left"></i>Back</a></p>
<h2><%= community.communityName %></h2>
<h3>Applicants</h3>
<div class="usajobs-grid usajobs-search-controls">
  
    <div class="usajobs-search-controls__sort-container no-params show-on-desktop">
      <label class="usajobs-search-controls__sort-label" for="sort-applicant-community">
        Sort by
      </label>
      <select name="sort-applicant-community" id="sort-applicant-community" class="usajobs-search-controls__sort-control">
        <option value="" disabled >- Sort By -</option>
        <option value="name" <% if (sort == 'name') { %>selected<% } %>>Name</option>
        <option value="username" <% if (sort == 'username') { %>selected<% } %>> Email</option>
         <option value="status"<% if (sort == 'status') { %>selected<% } %>>Status</option>
         <option value="updatedAt" <% if (sort == 'updatedAt') { %>selected<% } %>>Last Update</option>        
      </select>
    </div>
  </div>
<table class="usa-table-borderless user-table" role="presentation">
    <thead>
      <tr>     
        <th>Applicant name</th>
        <th>Email address</th>
        <th>Applicant status</th>
        <th>Last update</th>
      </tr>
    </thead>
    <tbody>
      <% if (applicants.length === 0) { %>
        <tr class="empty-row">
          <td colspan="7">
            No applicants found.
          </td>
        </tr>
      <% } %>
      <% _.each(applicants, function (a) { %>
        <tr data-id="<%- a.applicantId %>"
            data-user-name="<%- a.applicantName %>">         
          <td class="admin-table-name">    
            <%- a.applicantName %>        
          </td>         
             <td><a class="link-backbone" href="/profile/<%=a.applicantId %>"><%- a.username %></a></td>  
             <% if (getStatus(a)=='Not completed' || getStatus(a)=='In progress') { %>
              <td><%= getStatus(a) %></td>
              <% }
              else { %>
                <td><a class="link-backbone" target="_blank" rel="noopen nofollow" href="/applicant/submitted?cid=<%=cycleId %>&uid=<%=a.applicantId %>&uname=<%=a.applicantName %>&cmid=<%=community.communityId %>"> <%= getStatus(a) %></a></td>
               <% } %>           
             <td><%- moment(a.updatedAt).format('MM/DD/YYYY hh:mma') %></td>     
        </tr>       
      <% }); %>
    </tbody>
  </table>
</div>