<div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
  <div class="usajobs-alert__figure">
    <div class="usajobs-alert__icon">
    </div>
  </div>
  <div class="usajobs-alert__body">
    <p class="usa-alert-text"></p>
  </div>
</div>
<p class="back-link"><a href="javascript:history.back()"><i class="fas fa-chevron-circle-left"></i>Back</a></p>
<% if (!agency.name) { %>
<a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="https://usajobs.github.io/openopps-help/opportunity/opportunity-status/"  target="_blank" rel="noopener noreferrer" title="Help">
  <span class="usajobs-nav--openopps__section">
    <span class="fas fa-question-circle" title="Help"></span>Help
  </span>
</a>
<% } %>
<h2><%- agency.name || community.communityName || 'Sitewide' %></h2>
<h3>Opportunities</h3>
<div class="usajobs-grid-full">
  <fieldset class="usajobs-fieldset">
    <legend class="usa-sr-only">Opportunity status</legend>
    <ul class="usa-unstyled-list__radio--horizontal" id="opp-status">
      <% if (community.duration == 'Cyclical') { %>
        <li>
          <input id="draft" name="opp-status" type="radio" class="filter-radio" value="draft">
          <label for="draft"><span class="usajobs-pill--opportunity-status status-draft">Draft</span> <%- draft.length %></label>
        </li>
        <li>
          <input id="submitted" name="opp-status" type="radio" class="filter-radio" value="submitted" checked>
          <label for="submitted"><span class="usajobs-pill--opportunity-status status-submitted">Submitted</span> <%- submitted.length %></label>
        </li>
        <li>
          <input id="approved" name="opp-status" type="radio" class="filter-radio" value="approved" >
          <label for="approved"><span class="usajobs-pill--opportunity-status status-approved">Approved</span> <%- approved.length %></label>
        </li>
        <li>
          <input id="open" name="opp-status" type="radio" class="filter-radio" value="open">
          <label for="open"><span class="usajobs-pill--opportunity-status status-open">Open</span> <%- open.length %></label>
        </li>
        <li>
          <input id="completed" name="opp-status" type="radio" class="filter-radio" value="completed">
          <label for="completed"><span class="usajobs-pill--opportunity-status status-completed">Completed</span> <%- completed.length %></label>
        </li>
      <% } else { %>
        <li>
          <input id="submitted" name="opp-status" type="radio" class="filter-radio" value="submitted" checked>
          <label for="submitted"><span class="usajobs-pill--opportunity-status status-submitted">Submitted</span> <%- submitted.length %></label>
        </li>
        <li>
          <input id="open" name="opp-status" type="radio" class="filter-radio" value="open">
          <label for="open"><span class="usajobs-pill--opportunity-status status-open">Open</span> <%- open.length %></label>
        </li>
        <li>
          <input id="notOpen" name="opp-status" type="radio" class="filter-radio" value="notOpen">
          <label for="notOpen"><span class="usajobs-pill--opportunity-status status-not-open">Not open</span> <%- notOpen.length %></label>
        </li>
        <li>
          <input id="inProgress" name="opp-status" type="radio" class="filter-radio" value="inProgress">
          <label for="inProgress"><span class="usajobs-pill--opportunity-status status-in-progress">In progress</span> <%- inProgress.length %></label>
        </li>
        <li>
          <input id="completed" name="opp-status" type="radio" class="filter-radio" value="completed">
          <label for="completed"><span class="usajobs-pill--opportunity-status status-completed">Completed</span> <%- completed.length %></label>
        </li>
        <li>
          <input id="canceled" name="opp-status" type="radio" class="filter-radio" value="canceled">
          <label for="canceled"><span class="usajobs-pill--opportunity-status status-canceled">Canceled</span> <%- canceled.length %></label>
        </li>
      <% } %>
    </ul>
  </fieldset>
</div>

<div id="task-table" class="table-responsive"></div>

<div class="export-button tip" data-toggle="tooltip" data-placement="bottom"
    title="Download list of tasks as a comma-separated file ready for import into Excel">
    <% if (community.communityName) { %>
      <a href="/api/admin/task/export/community/<%- community.communityId %>"</a>
    <% } else if (agency.name) { %>
      <a href="/api/admin/task/export/agency/<%- agency.agencyId %>"</a>
    <% } else { %>
      <a href="/api/admin/task/export" >
    <% } %>
        <i class="fa fa-download"></i><span class="box-icon-text">Download list (.csv)</span>
      </a>
</div>



