<div class="usajobs-grid usa-grid-example usajobs-grid-text">
  <div class="usa-width-one-third">
    <h3><i class="fa fa-user"></i><span class="box-icon-text">Users <a href="/admin/users" class="">Manage</a></span></h3>
    <ul class="usajobs-unstyled-list">
      <li>Active users: <%- numeral(users.active).format('0,0') %></li>
      <li>Admins: <%- numeral(users.admins).format('0,0') %></li>
    </ul>
  </div>
  <div class="usa-width-one-third">
    <h3><i class="fa fa-rocket"></i><span class="box-icon-text">Opportunities <a href="/admin/tasks" class="">Manage</a></span></h3>
    <ul class="usajobs-unstyled-list">
      <li>Total created: <%- tasks.totalCreated %></li>
      <li>Submitted: <%- tasks.submitted %></li>
      <li>Open: <%- tasks.open %></li>
      <li>Not open: <%- tasks.notOpen %></li>
      <li>In progress: <%- tasks.inProgress %></li>
      <li>Completed: <%- tasks.completed %></li>
      <li>Canceled: <%- tasks.canceled %></li>
    </ul>
  </div>
  <div class="usa-width-one-third">
    <h3><i class="fa fa-chart-line"></i><span class="box-icon-text">Interactions <a href=# class="">Manage</a></span></h3>
    <ul class="usajobs-unstyled-list">
        <li>Applicants: <%- interactions.signups %></li>
        <li>Assigned participants: <%- interactions.assignments %></li>
        <li>Discussion posts: <%- interactions.posts %></li>
    </ul>
  </div>
</div>
