<div class="usajobs-grid usajobs-open-opps-search__box" style="margin: 0; background-image: none; background-color: <%- bannerColor %>">
  <div class="search__box-search">
    <img src="/img/logo/png/dos-student-internship-program-logo.png" alt="<%- title %> community logo" class="community-logo-preview">
    <h1 style="color: <%- titleColor %>"><%- title %></h1 style="color: <%- descriptionColor %>">
    <h3 id="search__box-subtitle" style="color: <%- subtitleColor %>"><%- subtitle %></h3>
    <p class="search__box-content description" style="color: <%- descriptionColor %>"><%- description %></p>
    <p class="search__box-content">What is <a href="https://usajobs.github.io/openopps-help/" target="_blank"><span class="underline">Open Opportunities</span>? <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
  </div>
  <label for="search" class="search__box-label">
    <span class="fas fa-search search-icon"></span>
    Keywords
  </label>
  <div class="usajobs-grid-full">
    <div class="usa-width-two-thirds">
      <input type="text" id="search" title="Search" class="usajobs-open-opps-search__input" value="" placeholder="Find opportunities by topic, skill, career field, agency or series">
    </div>
    <div class="usa-width-one-third">
      <button id="search-button" class="usa-button usa-button-primary-alt usajobs-nav__search-button">Search</button>
    </div>
  </div>
</div>