<div class="usajobs-grid-full">
  <div class="usa-width-three-fourths user-details">
    <div class="usajobs-grid-full">
      <div class="usa-width-two-thirds">
        <h3><span><img src="/img/icons/hiring-paths/svg/federal-employees.svg" alt="Federal employee" title="Federal employee"></span>Jim Halpert</h3>
        <div class="usajobs-grid-full user-info">
          <div class="usa-width-one-half">
            <div class="field-label">User type</div>
            <span>Federal</span>
            <div class="field-label">Agency</div>
            <span>Office of Personnel Management</span>
            <div class="field-label">Federal email</div>
            <span>jim.halpert@opm.gov</span>
            <div class="field-label">Login.gov email</div>
            <span>jhalpert@dundermifflin.com</span>
          </div>
          <div class="usa-width-one-half">
            <div class="field-label">Last login</div>
            <span>04/20/20 1:32pm</span>
            <div class="field-label">Created</div>
            <span>01/01/19 1:32pm</span>
          </div>
        </div>
      </div>
      <div class="usa-width-one-third account-settings">
        <h3>Account settings</h3>
        <ul class="usa-unstyled-list">
          <li class="toggle-label">
            Account enabled
            <input class="account-enabled" id="account-enabled-group" type="checkbox">
            <label class="no-label" for="account-enabled-group"><span class="sr-only">Account enabled</span></label>
          </li>
          <li class="toggle-label">
            Sitewide approver            
            <input class="sitewide-approver" id="sitewide-approver-group" type="checkbox">
            <label class="no-label" for="sitewide-approver-group"><span class="sr-only">Sitewide approver</span></label>
          </li>
          <li class="toggle-label">
            Sitewide admin
            <input class="sitewide-admin" id="sitewide-admin-group" type="checkbox">
            <label class="no-label" for="sitewide-admin-group"><span class="sr-only">Sitewide admin</span></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>