<form action="javascript:void(0)" class="usa-form-xl " role="form" id="admin-community-add-bureau" >
    <p>Are you sure you want to delete <strong><%- userName %></strong> from <strong><%- title %></strong>.<strong> If you delete this <%- volunteerFlag %>, you can't get them back .</strong></p>
<div class="form-group required-input usa-fieldset-inputs">
    
    <div id="applicant-participant-remove" >
        <label for="applicant-remove-reason">Reason</label>        
          <input type="text" id="applicant-remove-reason" class="fullwidth form-control validate " data-validate="empty,html"/>     
      </div>
</div>
</form>