<h4>
  <% if(countOf) { %>
    <span id="view-count">Viewing <%- numeral(firstOf).format('0,0') %>-<%- numeral(lastOf).format('0,0') %> of <%- numeral(countOf).format('0,0') %> users</span>
  <% } %>
  <button id="invite-members" class="usa-button usa-button-secondary"><i class="fas fa-plus"></i><span class="text-content">Add members</span></button>
</h4>
<table class="usa-table-borderless user-table" role="presentation">
  <thead>
    <tr>
      <th class="admin-user-id">User #</th>
      <th class="admin-table-name">Name</th>
      <th>Federal email</th>
      <th>Agency</th>
      <th>Joined date</th>
      <th>Community<br/>opportunities</th>
      <% if (community.isClosedGroup) { %>
        <th class="admin-user-checkbox">Member<br />enabled</th>
      <% } else { %>
        <th class="admin-user-checkbox">Remove<br />member</th>
      <% } %>
      <th class="admin-user-checkbox"><span class="capitalize-target"><%- target %></span><br /> admin</th>
    </tr>
  </thead>
  <tbody>
    <% if (users.length === 0) { %>
      <tr class="empty-row">
        <td colspan="10">
          No users found.
        </td>
      </tr>
    <% } %>
    <% _.each(users, function (u) { %>
      <tr data-id="<%- u.id %>"
          data-user-name="<%- u.name %>"
          data-admin="<%- u.isAdmin %>"
          data-agency-admin="<%- u.isCommunityAdmin %>">
        <td>
          <%- u.id %>
        </td>
        <td class="admin-table-name">
          <%- u.name %>
        </td>
        <td class="admin-table-username">
          <a class="link-backbone" href="/profile/<%- u.id %>"><%- u.username %></a>
        </td>
        <td>
          <%- u.agency %>
        </td>
        <td class="admin-table-joineddate">
          <%- moment(u.joined_at).format('MM/DD/YYYY hh:mma') %>
        </td>
        <td>
          Created: <%- u.communityTaskCreated %> <br/>
          Participated: <%- u.communityTaskParticipated %>
        </td>
        <% if (community.isClosedGroup) { %>
          <td>
            <input class="member-enable" id="member-enable-<%- u.id %>" type="checkbox" data-action='member' <% if (!u.disabled) { %> checked <% } %> />
            <label class="no-label" for="member-enable-<%- u.id %>"><span class="sr-only">Enable</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          </td>
        <% } else { %>
          <td class="admin-user__button">
            <a href="#remove" data-user-id="<%- u.id %>" class="remove-member" alt="Remove member" title="Remove member">
              <span class='fa fa-times'></span>
              <span class="usa-sr-only">Remove member</span>
            </a>
          </td>
        <% } %>
        <td>
          <input class="assign-admin" id="assign-admin-<%- u.id %>" type="checkbox" data-action='<%- target %>' <% if (isAdministrator(u, target)) { %> checked <% } %> />
          <label class="no-label" for="assign-admin-<%- u.id %>"><span class="sr-only">Assign administrator</span></label>
          <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
