<h3 class="usajobs-section-header">Opportunities</h3>

<form class="usajobs-form usajobs-search-controls-participated">
  <div class="usajobs-grid usajobs-search-controls">
    <div class="usa-fieldset-inputs usajobs-search-controls__results-count-container no-params">
      <fieldset class="usajobs-fieldset">
        <legend class="usa-sr-only">Type</legend>          
          <ul class="usa-unstyled-list__radio--horizontal" >
            <li>
              <input id="all-community" name="type" type="radio" value="" >
              <label for="all-community">All</label>
            </li>
            <li>
              <input id="one-time-community" name="type" type="radio" value="One time" >
              <label for="one-time-community">One time</label>
            </li>
            <li>
              <input id="on-going-community" name="type" type="radio" value="Ongoing" >
              <label for="on-going-community">Ongoing</label>
            </li>
          </ul>
      </fieldset>
    </div>     
    <div class="usajobs-search-controls__sort-container no-params show-on-desktop period ">
      <label for="group" >Period:</label>
      <select id="group" name="group" class="group usajobs-search-controls__sort-control">          
        <option value="fy">Fiscal Year</option>
        <option value="quarter">Quarter</option>   
        <option value="month">Month</option>
      </select>
    </div>
  </div>
</form>

<div class="overflow-x">
  <table class="usa-table-borderless task-metrics-table" role="presentation">
    <thead>
  
      <tr>
        <th scope="col"><span class="sr-only">Type</span></th>
         <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %> 
      </tr>
    </thead>
    <tbody>
     <% if (range.length === 0) { %>
          <tr class="empty-row">
          <td colspan="5">No data available</td>
        </tr>
      <% } else { %>
      <tr>
        <th scope="row">Carryover <small>(Not completed)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.carryOver[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Published</th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.published[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completed[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed by Admin</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completedByAdmin[key] || 0 %></td>
        <% }); %>
      </tr>
     
      <tr>
        <th scope="row">Percentage Completed</th>
        <% _.each(range, function(key) { %>
       
          <td><%- Math.round((tasks.completed[key] /(tasks.carryOver[key] + tasks.published[key])) * 100 , 4) || 0 %>%</td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Percentage Canceled</th>
        <% _.each(range, function(key) { %>
          <td><%- Math.round((tasks.canceled[key] /(tasks.carryOver[key] + tasks.published[key])) * 100 , 4) || 0 %>%</td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Applicants </th>
        <% _.each(range, function(key) { %>
        <td><%- volunteers[key] || 0 %></td>
        <% }); %>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>




