<div class="title-change-owner">
    <div class="form-group required-input">    
        <div class="field-validation-error error-empty" style="display:none;">You must select a new owner</div>     
        <% if (isClosedGroup) { %>
            <label for="task-change-owner" class="no-margin-top">Select a new owner for <strong><%- title %></strong>.</label>
            <select id="task-change-owner" class="dropdown validate" data-validate="empty" data-taskid="<%- taskId %>" >
                <option></option>
                <% _.each(users, function (user) { %>
                    <option value=<%- user.id %>><%- user.name %></option>
                <% }); %>
            </select>          
        <% } else { %>
        <label for="task-change-owner" class="no-margin-top">Search by name or email address.</label>
              <input type="hidden" id="task-change-owner" class="dropdown validate" data-validate="empty" data-taskid="<%- taskId %>">   
     <% } %>     
    </div>
  </div>
  