
<nav class="usajobs-nav usajobs-nav--openopps has-secondary-nav" role="navigation" aria-label="main navigation">
  <div class="usajobs-nav__body usajobs-nav--openopps__body">
    <div  class="usajobs-nav__header-container">
      <div class="usajobs-nav__header usajobs-nav--openopps__header">
        <div class="usajobs-nav__brand-container usajobs-nav--openopps__brand-container">
          <h1 class="openopps-site-logo">
            <a class="usajobs-nav__brand usajobs-nav--openopps__brand" href="/" title="Open Opportunities - Home">
              <img src="/img/logo/svg/openopps_logo.svg" alt="Open Opportunities logo">
            </a>
          </h1>
        </div>
        <% if(!accessForbidden && !welcome) { %>
        <div class="usajobs-nav__menu" id="usajobs-menu">
          <ul>
            <% if (user) { %>
              <li class="usajobs-nav__menu-container usajobs-nav__account usajobs-nav--openopps__menu-container" data-state="is-closed">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle toggle-one" href="#" title="Account" aria-haspopup="true" aria-controls="section-one">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-user fa-fw" focusable="false"></span>
                  <% if (user.name) { %>
                    <span class="usajobs-nav__first_name usajobs-nav--openopps__first-name"><%- user.givenName %></span>
                    <span class="usajobs-nav__initials usajobs-nav--openopps__initials"><%- user.initials %></span>
                  <% } else { %>
                    <span class="usajobs-nav__account_name"><%- user.username %></span>
                  <% } %>
                  </span>
                </a>
              </li>
            <% } else if (name) { %>
              <li class="usajobs-nav__menu-container usajobs-nav__account usajobs-nav--openopps__menu-container" data-state="is-closed">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="<%- user.editURL %>" title="Account" aria-haspopup="true" aria-controls="section-one">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-user fa-fw" focusable="false"></span>
                    <span class="usajobs-nav__first_name usajobs-nav--openopps__first-name"><%- name %></span>
                    <span class="usajobs-nav__initials usajobs-nav--openopps__initials"><%- name %></span>
                  </span>
                </a>
              </li>
            <% } else { %>
              <% if (login.signin !== false) { %>
              <li class="usajobs-nav__menu-container usajobs-nav__account">
                <a href="/login" class="usajobs-nav__section-link usajobs-nav--openopps__section-link">
                  <span class="fas fa-sign-in-alt fa-fw" data-fa-transform="right-6" focusable="false"></span>
                  Sign In
                </a>
              </li>
              <% } %>
            <% } %>
            <li class="usajobs-nav__menu-container usajobs-nav__menu-search desktop">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="https://usajobs.github.io/openopps-help/"  target="_blank" rel="noopener noreferrer" title="Help">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-question-circle" title="Help"></span>Help
                  </span>
                </a>
              </li>
            <li class="usajobs-nav__menu-container usajobs-nav__menu-search desktop">
              <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle toggle-two" href="/search" title="Search Opportunities">
                <span class="usajobs-nav--openopps__section">
                  <span class="fas fa-search fa-fw" style="margin-top:0.5rem;" focusable="false"></span>Search
                </span>
              </a>
            </li>
            <li class="usajobs-nav__menu-container usajobs-nav__menu-search usajobs-nav--openopps__menu-container mobile" data-state="is-closed">
              <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle toggle-two" href="/search" title="Search Opportunities" aria-haspopup="true" aria-controls="section-two">
                <span class="usajobs-nav--openopps__section">
                  <span class="fas fa-search fa-fw" focusable="false"></span>Search
                </span>
              </a>
            </li>
          </ul>
        </div>
        <% } %>
      </div>

      <% if (!accessForbidden && !welcome && !user && loginGov) { %>
      <div class="usajobs-nav-login-gov-banner" id="usajobs-nav-login-gov-banner" data-object="alert">
        <div class="usajobs-nav-login-gov-banner__body">
          <p class="usajobs-nav-login-gov-banner__text">
            <strong>A new way to sign in.</strong> Create a <a class="usajobs-nav-login-gov-banner__link" href="/login">login.gov account</a> to sign into Open Opportunities. <a class="usajobs-nav-login-gov-banner__link" href="https://usajobs.github.io/openopps-help/account/login-gov">Learn more</a>
          </p>
          <div class="usajobs-nav-login-gov-banner__indicator"></div>
          <!-- The JS is not hooked up currently to close this banner -->
          <button class="usajobs-nav-login-gov-banner__dismiss" data-behavior="alert.close">
            <svg class="svg-inline--fa fa-times fa-w-12" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M323.1 441l53.9-53.9c9.4-9.4 9.4-24.5 0-33.9L279.8 256l97.2-97.2c9.4-9.4 9.4-24.5 0-33.9L323.1 71c-9.4-9.4-24.5-9.4-33.9 0L192 168.2 94.8 71c-9.4-9.4-24.5-9.4-33.9 0L7 124.9c-9.4 9.4-9.4 24.5 0 33.9l97.2 97.2L7 353.2c-9.4 9.4-9.4 24.5 0 33.9L60.9 441c9.4 9.4 24.5 9.4 33.9 0l97.2-97.2 97.2 97.2c9.3 9.3 24.5 9.3 33.9 0z"></path></svg><!-- <span class="fa fa-times"></span> -->
            <span class="usajobs-assistive-text">Close</span>
          </button>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</nav>

<% if(!accessForbidden && !welcome) { %>
<nav class="usajobs-openopps-secondary-nav">
  <div class="usajobs-openopps-secondary-nav__body">
    <% if (user) { %>
    <ul id="section-one" class="usajobs-openopps-secondary-nav__menu" aria-expanded="false" aria-label="submenu" role="menu">
      <li class="usajobs-openopps-secondary-nav__item" role="menuitem">
        <a href="/home" class="usajobs-openopps-secondary-nav__link subnav-link" title="Home">Home</a>
      </li>
      <li class="usajobs-openopps-secondary-nav__item" role="menuitem">
        <a href="/profile/<%- user.id %>" class="usajobs-openopps-secondary-nav__link subnav-link" title="Profile" id="profileLink">Profile</a>
      </li>
      <% if (user.isAdmin || user.isAgencyAdmin || user.isCommunityAdmin) { %>
      <li class="usajobs-openopps-secondary-nav__item" role="menuitem"><a href="/admin" class="usajobs-openopps-secondary-nav__link subnav-link" title="Administration">Administration</a></li>
      <% } %>
    </ul>
    <% } %>
    <ul id="section-two" class="usajobs-openopps-secondary-nav__menu" aria-expanded="false" aria-label="submenu" role="menu">
      <% if (!user || user.hiringPath == 'fed') { %>
      <li class="usajobs-openopps-secondary-nav__item" role="menuitem"><a href="/search" class="usajobs-openopps-secondary-nav__link subnav-link" title="Opportunities">Opportunities</a></li>
      <% } %>
      <% if (!user || user.isAdmin || (user.communities && user.communities.student.length > 0) || user.hiringPath == 'student') { %>
        <li class="usajobs-openopps-secondary-nav__item" role="menuitem"><a href="/search/internships" class="usajobs-openopps-secondary-nav__link subnav-link" title="Internships">Internships</a></li>
        <% } %>
      <% if (user && user.hiringPath == 'fed') { %>
      <li class="usajobs-openopps-secondary-nav__item" role="menuitem"><a href="/profiles" class="usajobs-openopps-secondary-nav__link subnav-link" title="People">People</a></li>
      <% } %>
      <li class="usajobs-openopps-secondary-nav__item mobile" role="menuitem"><a href="https://usajobs.github.io/openopps-help/" class="usajobs-openopps-secondary-nav__link" title="Help">Help</a><span class="sr-only">Opens in a new window</span></li>
    </ul>
  </div>
</nav>
<% } %>