<section class="usajobs-canvas student-internships" role="search">
  <div class="student-internships-search__box">
    <div class="usajobs-content-gutter usajobs-open-opps-search">
      <div class="usajobs-grid-full">
        <div class="usa-width-two-thirds">
          <h1>Student internships
            <% if (user && user.hiringPath=='fed'&& user.communities.student.length > 0) { %>
            <a href="/tasks/create?target=students" id="create-internship" class="usa-button usa-button-secondary add-internship"><i class="fa fa-plus"></i> <span>Create internship</span></a>
            <% }%>
          </h1>
          <div class="usajobs-grid-full">
            
              <fieldset class="student-internships-search">
                <div class="student-internships-search-keywords-container">
                  <label for="nav-keyword" id="nav-keyword-label">
                    <span class="student-internships-search-keywords-icon fas fa-search" title="Keywords"></span>
                    Keywords
                  </label>
                  <input id="nav-keyword" name="k" aria-labelledby="nav-keyword-label" type="text" class="student-internships-search-keywords-input ui-autocomplete-input" value="<%= term %>" placeholder="Skill, language, bureau, office/post, etc.">
                </div>
                <div class="student-internships-search-location-container">
                  <label for="nav-location" id="nav-location-label">
                    <span class="student-internships-search-location-icon fas fa-map-marker-alt" title="Location"></span>
                    Location
                  </label>
                  <input id="nav-location" name="l" aria-labelledby="nav-location-label" type="text" class="student-internships-search-location-input ui-autocomplete-input usaj-autocomplete-default" placeholder="City, state, or country">
                </div>
                <div class="student-internships-search-button-container">
                  <button id="search-button" class="clearcriteria usa-button usa-button-primary-alt student-internships-search-button">
                    Search
                  </button>
                </div>
              </fieldset>

          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="student-internships-search-opportunity-requestor__wrapper">
            <div class="student-internships-search-opportunity-requestor">
              <div class="student-internships-search-opportunity-requestor__figure-body">
                <div class="student-internships-search-opportunity-requestor__figure dos">
                  
                </div>
                <div class="student-internships-search-opportunity-requestor__body">
                  <p class="student-internships-search-opportunity-requestor__name dos">
                    U.S. Department of State
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>

<section class="usajobs-canvas">
  <div class="usajobs-content-gutter usajobs-open-opps-search">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Search results" aria-hidden="false">
      <div id="usajobs-search-pills"></div>
      <div id="cycleId"></div>
      <h4 id="results-count"></h4>
      <div class="usajobs-open-opps-search-results" id="task-list">
        <div class="usajobs-open-opps-search-results__loading" id="search-results-loading">
          <span class="fas fa-circle-notch fa-spin fa-5x fa-fw"></span>
          <span class="sr-only">Loading</span>
        </div>
      </div>
      <div id="task-page"></div>
    </main>

    <div id="usajobs-search-tab-bar">
      <nav class="usajobs-search-tab-bar" data-object="search-tab-bar">
          <div class="usajobs-search-tab-bar__body" id="search-tab-bar-controls">
              <a href="javascript:void(0);" id="search-tab-bar-filter" class="usajobs-search-tab-bar__link usajobs-search-tab-bar__filters" data-behavior="search-tab-bar.toggle-filters"
              aria-controls="task-filters" aria-expanded="false" title="Filter">
                  <button class="usa-button-secondary-inverse usajobs-search-tab-bar__filters-default" aria-hidden="false">
                    <span class="usajobs-icon--center">
                      <svg class="fa fa-sliders-h fa-w-18" title="Filter" aria-labelledby="fa-title-16" data-prefix="fas" data-icon="sliders-h"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><title id="fa-title-16">Filter</title>
                        <span class="fas fa-sliders-h" title="Filter"></span>
                  </span>
                  <span class="usajobs-filter">Filter</span>
                  <span class="usajobs-search-tab-bar__filter-count-container" aria-hidden="false">
                      <span id="search-tab-bar-filter-count" class="usajobs-search-tab-bar__filter-count"><%= appliedFilterCount %></span>
                  </span>
                  </button>
                  <button class="usa-button-primary usajobs-search-tab-bar__filters-expanded" data-behavior="search-tab-bar.show-results" aria-expanded="false">
                      View results
                  </button>
              </a>
          </div>
      </nav>
    </div>

    <aside class="usajobs-rightrail" id="rightrail">
      <div id="task-filters"></div>
    </aside>
  </div>
</section>