<div class="usajobs-open-opps-opportunity" data-id="<%- item.id %>">
<a class="task-link" href="/tasks/<%- item.id %>?fromSearch">  
  <div class="usajobs-open-opps-opportunity__body">
    <span class="usajobs-open-opps-opportunity__title" itemprop="title">
      <%- item.title %>
    </span>
    <div class="usajobs-open-opps-opportunity__desc">
      <%= item.descriptionHtml %>
    </div>
    <!-- <% if (item.restrict) { %>
    <p class="usajobs-open-opps-opportunity__agency-only">
      <%- item.restrict.name %>
    </p>
    <% } %> -->
    <ul class="usajobs-open-opps-opportunity__details">
      <% if (!item.locations) { %>
      <li class="usajobs-open-opps-opportunity__detail-item">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg> Virtual
      </li>
      <% } %>
      <% _.each(tagShow, function (tagType) { %>
      <% if (item.tags[tagType]) { %>
        <% _.each(item.tags[tagType], function (t, i) { %>
          <% if (t.type !== 'skill') { %>
      <li class="usajobs-open-opps-opportunity__detail-item">
        <span class="fas <%- tagConfig.tags[tagType].icon %> fa-w-16"></span>
            <%- t.name %><% if (i + 1 < item.tags[tagType].length) { %>,<% } %>
          <% } %>
        <% }); %>
      </li>
      <% } %>
      <% }); %>
    </ul>
    <div class="skills">
      <% _.each(_.first(item.skills, 5), function (t) { %>
        <span class="skill-label clickable-filter"><%- t.name %></span>
      <% }); %>
      <% if (_.size(item.skills) > 5) { %>
        <span class="skill-label">+ <%- _.size(item.skills) - 5 %></span>
      <% } %>
    </div>
    <div class="career-field-card">
      <% if (!_.isEmpty(item.careers)) { %>
        <p>Career field:
        <% _.each(item.careers, function (t, index, list) { %>
          <%- t.name %>
        <% }); %>
        </p>
      <% } %>
      <% if (!_.isEmpty(item.series)) { %>
        <p>Series:
        <% _.each(item.series, function (t, index, list) { %>
          <%- t.name %>
        <% }); %>
        </p>
      <% } %>    
      <% if (!_.isEmpty(item.keywords)) { %>
        <p>Related keyword:
        <% _.each(_.first(item.keywords, 5), function (t, index, list) { %>
          <%- t %>
        <% }); %>
        <% if (_.size(item.keywords) > 5) { %>
          <span>+ <%- _.size(item.keywords) - 5 %></span>
        <% } %>
        </p>
      <% } %>
    </div>
    <div class="usajobs-open-opps-opportunity-requestor__wrapper">
      <div class="usajobs-open-opps-opportunity-requestor">
        <div class="usajobs-open-opps-opportunity-requestor__figure-body">
          <div class="usajobs-open-opps-opportunity-requestor__figure  <% if (item.owner) { %><%- getInitialsColor(item.owner.id) %><% } %>" <% if (item.owner) { %> data-userid="<%- item.owner.id %>" <% } %>>         
            <% if (item.agencyId && !_.isEmpty(item.community) && (item.community.displayAgencyLogo) && (item.agency.imageId || item.community.imageId)) { %>  
              <% if (item.agency.imageId) { %>          
              <img id="agency_logo" src="/api/upload/get/<%- item.agency.imageId %>" alt="<%- item.agency.name %>">              
              <% } else { %>      
                <img id="agency_logo" src="/api/upload/get/<%- item.community.imageId %>" alt="<%- item.community.name %>">  
                <% } %>       
            <% } else if (!_.isEmpty(item.community) && (item.community.communityLogo)) { %>                      
              <img src="<%- item.community.communityLogo %>" alt="<%- item.community.name %>">
            <% } else if (item.owner.photoId) { %>            
              <img src="/api/user/photo/<%- item.owner.id %>" alt="<%- item.owner.name %>">
            <% } else { %>
              <div class="usajobs-open-opps-opportunity-requestor__initials"><%- item.owner.initials %></div>
            <% } %>
          </div>
          <div class="usajobs-open-opps-opportunity-requestor__body">
            <p class="usajobs-open-opps-opportunity-requestor__name">
              <% if (item.agencyId && !_.isEmpty(item.community) && (item.community.displayAgencyLogo) && (item.agency.imageId || item.community.imageId)) { %>  
                <% if (item.agency.imageId) { %>          
                  <%- item.agency.name %> 
                <% } else { %>      
                  <%- item.community.name %> 
                  <% } %>       
              <% } else if (item.community && item.community.communityLogo) { %>
                  <%- item.community.name %>
              <% } else { %>
                <%- item.owner.name %> <% if (item.owner.agency && item.owner.agency.abbr) { %>(<%- item.owner.agency.abbr %>)<% } %>
                <% } %>
                
            </p>
            <% if (item.publishedAt) { %>
            <span class="usajobs-open-opps-opportunity-requestor__on">
               Posted on <%- moment(item.publishedAt).format('MM/DD/YY') %>
            </span>
            <% } %>
          </div>
        </div>
        <div class="usajobs-open-opps-opportunity-requestor__status">
          <div class="usajobs-pill--opportunity-status status-<%= item.status.toLowerCase().replace(' ', '-') %>">
            <%= item.status.charAt( 0 ).toUpperCase() + item.status.slice( 1 ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
</div>