        <div class="usajobs-grid-full usajobs-open-opps-opportunity-item__header">
          <h2 class="usajobs-form__title">Step 3 - Review draft and submit</h2>
          <div class="usajobs-width-two-thirds">
            <h1 class="usajobs-open-opps-opportunity-item__title"><%- data.title %></h1>
            <div class="skills">
              <div>Desired skills:</div>
              <% _.each(madlibTags['skill'], function (t) { %>
                <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
              <% }) %>
            </div>
          </div>
          <div class="usajobs-width-one-third">
            <div class="logo">
              Logo goes here
            </div>
          </div>
        </div>
        <div class="usajobs-grid-full">
          <!-- <div class="usa-width-one-third personnel-needed mobile">
            <div class="usajobs-opop__task-intro">
              <h4>Bureau</h4>
              <div>Foreign Service Institute (FSI)</div>
              <h4>Office</h4>
              <div>School of Applied Information Technology (SAIT)</div>
              <h4>Location</h4>
              <div>Anywhere</div>
              <h4>Country</h4>
              <div>United States</div>
              <h4>Language Requirements</h4>
              <div>Yes</div>
              <h4>Time Commitment</h4>
              <div>May 2019-July 2019 32-40 hrs per week</div>
              <h4>Number of Interns</h4>
              <div>1</div>                      
            </div>
          </div> -->
          <div class="usa-width-three-fourths opportunity-description">
            <div class="usajobs-open-opps-opportunity__desc">
              <h3>Who we are</h3>
              <div><%- data.aboutHtml %></div>
              <h3>What you'll do</h3>
              <div><%- data.detailsHtml %></div>
              <h3>Language requirements</h3>
              <% _.each(data.language, function (l,index) { %>
              <div class="usajobs-grid-full">
                <h4><%- l.selectLanguage %></h4>
                <div class="usajobs-width-one-half">
                  <ul class="usajobs-drawer-content__list">
                    <li class="usajobs-drawer-content__item">
                      <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                      <p><%- l.spokenskillLevel %></p>
                    </li>
                    <li class="usajobs-drawer-content__item">
                      <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                      <p><%- l.readSkillLevel %></p>
                    </li>
                  </ul>
                </div>
                <div class="usajobs-width-one-half">
                  <ul class="usajobs-drawer-content__list">
                    <li class="usajobs-drawer-content__item">
                      <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                      <p><%- l.writtenskillLevel %></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div> 
            <% }); %>
        </div>
          <div class="usa-width-one-fourth personnel-needed desktop">
            <div class="usajobs-opop__task-intro">
              <h4>Bureau</h4>
              <div><%- data.bureau %></div>
              <h4>Office</h4>
              <div><%- data.office %></div>
              <h4>Location</h4>
              <div><%= (data.city) ? data.city + ', ' + data.countrySubdivision : 'Virtual' %></div>
              <% if (data.country) { %>
                <h4>Country</h4>
                <div><%- data.country %></div>
              <% } %>
              <h4>Language Requirements</h4>
              <div><%- data.languageRequirement %></div>
              <h4>Time Commitment</h4>
              <div><%- data.timeframe %></div>
              <div>32-40 hrs per week</div>
              <h4>Number of Interns</h4>
              <div><%- data.internNumber %></div>          
            </div>
          </div>
        </div>
      </div>
      <div class="usajobs-button_bar--slim task-footer">
        <div class="usajobs-button_bar__body">
          <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel</button>
          <button class="usa-button usa-button-secondary usa-button-left" data-state="edit" id="edit" style="display:none">Make changes</button>
          <button class="usa-button usa-button-primary" data-state="save" id="save">Save for later</button>
          <button class="usa-button usa-button-primary" data-state="submit" id="submit" style="display:none">Submit</button>
        </div>
      </div>

