<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title"><% if(data.id) { %>Edit<% } else {%>Create an<% } %> opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
        <form id="task-edit-form" class="usa-form-xl" action="javascript:void(0)">

          <fieldset class="usajobs-fieldset">
            <div class="tips">
              First time creating an opportunity? Read our
              <a href="https://usajobs.github.io/openopps-help/getting-started/top-10-tips/"
                target="_blank">
                Top 10 tips for creating an ideal opportunity<span class="sr-only">Opens in a new window</span></a>.
            </div>
          </fieldset>

          <fieldset id="step-1" class="usajobs-fieldset">
            <h2>Step 1 - Define who, when, and where</h2>
            <label for="DefineWho">
              <h3>Who</h3>
            </label>
            <div class="form-group required-input">
              <label for="people" class="no-margin-top">How many interns do you need?</label>
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Number of needed interns</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="1intern" type="radio" name="needed-interns" value="1">
                    <label for="1intern">1 intern</label>
                  </li>
                  <li>
                    <input id="2interns" type="radio" name="needed-interns" value="2">
                    <label for="2interns">2 interns</label>
                  </li>
                  <li>
                    <input id="3interns" type="radio" name="needed-interns" value="3">
                    <label for="3interns">3 interns</label>
                  </li>
                  <li>
                    <input id="4interns" type="radio" name="needed-interns" value="4">
                    <label for="4interns">4 interns</label>
                  </li>
                </ul>
              </fieldset>
            </div>

            <label for="DefineWhen">
              <h3>When</h3>
            </label>
            <div class="form-group required-input">
              <label for="people" class="no-margin-top">When would the internship start and end?</label>
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Start and end of internship</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="Fall" type="radio" name="internship-timeframe" value="Fall">
                    <label for="Fall">Fall <span class="label-second-line">September 2019 - December 2019</span></label>                    
                  </li>
                  <li>
                    <input id="Spring" type="radio" name="internship-timeframe" value="Spring">
                    <label for="Spring">Spring <span class="label-second-line">January 2020 - May 2020</span></label>                    
                  </li>
                  <li>
                    <input id="Summer" type="radio" name="internship-timeframe" value="Summer">
                    <label for="Summer">Summer <span class="label-second-line">June 2020 - August 2020</span></label>                    
                  </li>
                </ul>
              </fieldset>
              <p>How many hours per week do you need?</p>
              <p>32-40 hours <span class="usajobs-form__help-brief">(Student internship requires min. of 32 hrs and max. of 40 hrs)</span></p>
            </div>
            
            <label for="WhereLocated">
              <h3>Where</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">Where is the internship located?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="anywhere" value="anywhere">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-tv"></i>
                    </span>
                    <span class="opportunity-options__text">Virtual</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="specific-location" value="specific-location">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <span class="opportunity-options__text">In person</span>
                  </button>
                </li>
              </ul>
              <input type="hidden" id="task_tag_location" name="location" />
              <div id="stupid-test" class="stupid-test">
                <div class="required-input task_tag_city">
                  <label for="city">City</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a city for this internship.</span>
                  <input type="text" id="task_tag_city" name="city" class="fullwidth validate" data-validate="empty" />
                </div>
                <div class="required-input task_tag_state">
                  <label for="state">State</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a state for this internship.</span>
                  <input type="text" id="task_tag_state" name="state" class="fullwidth validate" data-validate="empty" />
                </div>
                <div class="required-input task_tag_country">
                  <label for="country">Country</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a country for this internship.</span>
                  <input type="text" id="task_tag_country" name="country" class="fullwidth validate" data-validate="empty" />
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Describe the opportunity</h2>
            <div class="required-input" id="headline">
              <label for="task-title">
                <h3>Opportunity title</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a headline for this opportunity.</span>
              <span class="field-validation-error error-count100" style="display:none;">The headline must be no more than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title to entice participants to click on the opportunity.</p>
              <input type="text" id="task-title" class="fullwidth form-control validate" value="<%- data.title %>" data-validate="empty,count100,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
            </div>
            <div class="required-input" id="details">
              <label for="opportunity-details">
                <h3>What you'll do</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter details for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>List specific tasks the participant will work on. Be concise, but offer enough details so the participant
              knows what's involved.</p>
              <span class="show-markdown-details"></span>
              <div class="markdown-edit markdown-edit-details"></div>
              <div class="form-group required-input">
                <label for="skills">What skills are you looking for?</label>
                <span class="field-validation-error error-empty" style="display:none;">You must select at least one skill for this opportunity.</span>
                <input type="hidden" id="task_tag_skills" name="skills" class="fullwidth validate" data-validate="empty" />
              </div>
            </div>
            <div>
              <label for="languages">
                <h3 class="usa-input-optional">Language requirements</h3>
              </label>
              <p>Please list the required languages and the level of proficiency with this language.</p>
              <div><!-- (Placeholder for languages shown after adding.) --></div>
              <button class="usa-button usa-button-secondary">Add language</button>
            </div>
            <div class="required-input">
              <label for="opportunity-team">
                <h3>Who we are</h3>
              </label>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>Briefly describe your team, department, or agency.</p>
              <span class="show-markdown-team"></span>
              <div class="markdown-edit markdown-edit-team"></div>
            </div>
            <div class="required-input task_tag_bureau">
              <label for="bureau">Bureau</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a bureau for this internship.</span>
              <select id="task_tag_bureau" name="bureau" class="fullwidth validate" data-validate="empty"></select>
            </div>
            <div class="required-input task_tag_office">
              <label for="office">Office</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a office for this internship.</span>
              <select id="task_tag_office" name="office" class="fullwidth validate" data-validate="empty"></select>
            </div>
            <!-- <ul class="expandorama">
              <li>
                <label for="opportunity-skills" class="expandorama-button expandorama-button-skills" aria-controls="skills">
                  <h3>What you'll learn <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="skills">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>List the types of skills the participant will learn and other benefits.</p>
                  <span class="show-markdown-skills"></span>
                  <div class="markdown-edit markdown-edit-skills"></div>
                </div>
              </li>
              <li>
                <label for="opportunity-team" class="expandorama-button expandorama-button-team" aria-controls="team">
                  <h3>Who we are <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="team">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>Briefly describe your team, department, or agency.</p>
                  <span class="show-markdown-team"></span>
                  <div class="markdown-edit markdown-edit-team"></div>
                </div>
              </li>
              <li>
                <label for="task_tag_keywords" class="expandorama-button expandorama-button-keywords" aria-controls="keywords">
                  <h3>Related keyword <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="keywords">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>List the keywords to help describe an opportunity.</p>
                  <input type="hidden" id="task_tag_keywords" name="task_tag_keywords" class="fullwidth" />
                </div>
              </li>
            </ul> -->
          </fieldset>
          <fieldset id="step-3" class="usajobs-fieldset" style="display:none"></fieldset>
          <fieldset class="usajobs-fieldset">
            <div class="usajobs-button_bar--slim task-footer">
              <div class="usajobs-button_bar__body">
                <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel</button>
                <button class="usa-button usa-button-secondary usa-button-left" data-state="edit" id="edit" style="display:none">Make changes</button>
                <% if (data.state === 'draft' || data.state === 'canceled') { %>
                  <button class="usa-button usa-button-secondary" data-state="draft">Save for later</button>
                <% } %>
                <button class="usa-button usa-button-primary" data-state="preview" id="preview">Preview</button>
                <% if (_.contains(['draft', 'canceled', 'submitted'], data.state)) { %>
                  <button class="usa-button usa-button-primary" data-state="submit" id="save" style="display:none">Submit</button>
                <% } else { %>
                  <button class="usa-button usa-button-primary" data-state="save" id="save" style="display:none">Save</button>
                <% } %>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </main>
  </div>
</section>
