<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div id="internship-edit" class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title"><% if(data.id) { %>Edit<% } else {%>Create an<% } %> opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
        <form id="task-edit-form" class="usa-form-xl" action="javascript:void(0)">

          <fieldset class="usajobs-fieldset" id="tips">
            <div class="tips">
              First time creating an opportunity? Read our
              <a href="https://usajobs.github.io/openopps-help/getting-started/top-10-tips/"
                target="_blank">
                Top 10 tips for creating an ideal opportunity<span class="sr-only">Opens in a new window</span></a>.
            </div>
          </fieldset>

          <fieldset id="step-1" class="usajobs-fieldset">
            <h2>Step 1 - Define who, when, and where</h2>
            <label for="DefineWho">
              <h3>Who</h3>
            </label>  
            <div class="form-group required-input">
                <label for="needed-interns" class="no-margin-top">How many interns do you need?</label>
                <span class="field-validation-error error-empty" style="display:none;">You must enter number of interns.</span>
                            
              <input type="text" id="needed-interns"  class="fullwidth validate" maxlength="2" data-validate="empty" />
              </div>          
            
            <label for="DefineWhen">
              <h3>When</h3>
            </label>
            <div class="form-group required-input" id="internship-start-End">
              <label for="people" class="no-margin-top">When would the internship start and end?</label>
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Start and end of internship</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="Fall" type="radio" name="internship-timeframe" value="Fall" checked>
                    <label for="Fall">Fall</label> 
                    
                  </li>
                  <li>
                    <input id="Spring" type="radio" name="internship-timeframe" value="Spring">
                    <label for="Spring">Spring</label> 
                    
                  </li>
                  <li>
                    <input id="Summer" type="radio" name="internship-timeframe" value="Summer">
                    <label for="Summer">Summer</label>                   
                  </li>                 
                </ul>                            
              </fieldset>
              <div class="required-input intern-form-year intern-form-yearbox">
               
                <label for="Year" class="no-margin-top">Year</label>
                <span class="field-validation-error error-empty" style="display:none;">You must select Year.</span>  
                  <input class="usa-input-inline intern-form-year validate" aria-describedby="dateHint" id="intern-year" name="year" type="number" min="2018" max="2043" placeholder="YYYY" data-validate="empty" style>  
                </div>   
                <p>How many hours per week do you need?</p>
                <p>32-40 hours <span class="usajobs-form__help-brief">(Student internship requires min. of 32 hrs and max. of 40 hrs)</span></p>
            </div>
          
            
            <label for="WhereLocated">
              <h3>Where</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">Where is the internship located?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="anywhere" value="anywhere">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-tv"></i>
                    </span>
                    <span class="opportunity-options__text">Virtual</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="specific-location" value="specific-location">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <span class="opportunity-options__text">In person</span>
                  </button>
                </li>
              </ul>
             
              <div id="intern-tag-address" class="intern-tag-address">
                <div class="required-input task_tag_city">
                  <label for="city">City</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a city for this internship.</span>
                  <input type="text" id="task_tag_city" name="city" class="fullwidth validate" data-validate="empty" />
                </div>
                <div class="required-input task_tag_state">
                  <label for="state">State</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a state for this internship.</span>
                  <input type="text" id="task_tag_state" name="state" class="fullwidth validate" data-validate="empty" />
                </div>
                <div class="required-input task_tag_country">
                  <label for="country">Country</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must enter a country for this internship.</span>
                  <input type="text" id="task_tag_country" name="country" class="fullwidth validate" data-validate="empty" />
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Describe the opportunity</h2>
            <div class="required-input" id="headline">
              <label for="intern-title">
                <h3>Opportunity title</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a headline for this opportunity.</span>
              <span class="field-validation-error error-count100" style="display:none;">The headline must be no more than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title to entice participants to click on the opportunity.</p>
              <input type="text" id="intern-title" class="fullwidth form-control validate" value="<%- data.title %>" data-validate="empty,count100,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
            </div>
            <div class="required-input" id="details">
              <label for="opportunity-details">
                <h3>What you'll do</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter details for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>List specific tasks the participant will work on. Be concise, but offer enough details so the participant
              knows what's involved.</p>
              <span class="show-markdown-details"></span>
              <div class="markdown-edit markdown-edit-details"></div>
              <div id="form-group" class= "required-input">
                <label for="skills">What skills are you looking for?</label>
                <span class="field-validation-error error-empty" style="display:none;">You must select at least one skill for this opportunity.</span>
                <input type="hidden" id="task_tag_skills" name="skills" class="fullwidth validate" data-validate="empty" />
              </div>
            </div>
            
            <div>
              <label for="languages">
                <h3 class="usa-input-optional">Language requirements</h3>
              </label>
              <p>Please list the required languages and the level of proficiency with this language.</p>
              <div id="lang-1">
                </div>  
              <button class="usa-button-secondary" id="add-language">Add language</button>
            </div> 

            <div class="required-input" id="description">
              <label for="opportunity-team">
                <h3>Who we are</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a description for this internship.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>Briefly describe your team, department, or agency.</p>
              <span class="show-markdown-team"></span>
              <div class="markdown-edit markdown-edit-team"></div>
            </div>
            <div class="required-input task_tag_bureau">
              <label for="bureau">Bureau</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select bureau for this internship.</span>
              <select id="task_tag_bureau" name="bureau" class="dropdown validate" data-validate="empty">
                <option></option>
                <option>Bureau Test</option>
              </select>
            </div>
            <div class="required-input task_tag_office">
              <label for="office">Office</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select office for this internship.</span>
              <select id="task_tag_office" name="office" class="dropdown validate" data-validate="empty">
                <option></option>
                <option>office test</option>
              </select>
            </div>
            
          </fieldset>

          <fieldset id="add-languages-fieldset" class="usajobs-fieldset" style="display:none">
            <h2>Languages <span class="usajobs-form__legend">All fields are required</span></h2>
            <span id="lang-id-val" class="field-validation-error error-empty" style="display:none;">You must select atleast one language.</span>
             <input  id="languageId" class="dropdown" data-validate="empty" /> 
            
            <label for="spoken-skill-level">
              <h4>Spoken language skill level</h4>
            </label>
            <div class="form-group required-input" id="spoken-skill">
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Spoken language skill level</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="spoken-none" type="radio" name="spoken-skill-level"checked value="None">
                    <label for="spoken-none">None</label>                    
                  </li>
                  <li>
                    <input id="spoken-novice" type="radio" name="spoken-skill-level" value="Novice">
                    <label for="spoken-novice">Novice</label>                    
                  </li>
                  <li>
                    <input id="spoken-intermediate" type="radio" name="spoken-skill-level" value="Intermediate">
                    <label for="spoken-intermediate">Intermediate</label>                    
                  </li>
                  <li>
                    <input id="spoken-advanced" type="radio" name="spoken-skill-level" value="Advanced">
                    <label for="spoken-advanced">Advanced</label>                    
                  </li>
                </ul>
              </fieldset>
              <span class="field-validation-error error-empty" style="display:none;">You must select spoken language skill level.</span>
            </div>

            <label for="written-skill-level">
              <h4>Written language skill level</h4>
            </label>
            <div class="form-group required-input" id="written-skill">
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Written language skill level</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="written-none" type="radio" name="written-skill-level" checked value="None">
                    <label for="written-none">None</label>                    
                  </li>
                  <li>
                    <input id="written-novice" type="radio" name="written-skill-level" value="Novice">
                    <label for="written-novice">Novice</label>                    
                  </li>
                  <li>
                    <input id="written-intermediate" type="radio" name="written-skill-level" value="Intermediate">
                    <label for="written-intermediate">Intermediate</label>                    
                  </li>
                  <li>
                    <input id="written-advanced" type="radio" name="written-skill-level" value="Advanced">
                    <label for="written-advanced">Advanced</label>                    
                  </li>
                </ul>
              </fieldset>
              <span class="field-validation-error error-empty" style="display:none;">You must select written language skill level.</span>
            </div>
            
            <label for="read-skill-level">
              <h4>Read language skill level</h4>
            </label>
            <div class="form-group required-input"id="read-skill">
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Read language skill level</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="read-none" type="radio" name="read-skill-level" checked value="None">
                    <label for="read-none">None</label>                    
                  </li>
                  <li>
                    <input id="read-novice" type="radio" name="read-skill-level" value="Novice">
                    <label for="read-novice">Novice</label>                    
                  </li>
                  <li>
                    <input id="read-intermediate" type="radio" name="read-skill-level" value="Intermediate">
                    <label for="read-intermediate">Intermediate</label>                    
                  </li>
                  <li>
                    <input id="read-advanced" type="radio" name="read-skill-level" value="Advanced">
                    <label for="read-advanced">Advanced</label>                    
                  </li>
                </ul>
              </fieldset>
              <span class="field-validation-error error-empty" style="display:none;">You must select read language skill level.</span>
            </div>
            
            <label for="language-requirement">
              <h4>Requirement</h4>
            </label>
            <div class="form-group required-input" id="language-requirement">
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="usa-sr-only">Requirement</legend>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="requirement-good" type="radio" name="language-requirement" value="requirement-good">
                    <label for="requirement-good">Good to have</label>                    
                  </li>
                  <li>
                    <input id="requirement-required" type="radio" name="language-requirement" value="requirement-required">
                    <label for="requirement-required">Required to have</label>                    
                  </li>
                </ul>
              </fieldset>
              <span class="field-validation-error error-empty" style="display:none;">You must select requirement.</span>
            </div>

            <p class="usajobs-form__help-brief"><a href="https://www.usajobs.gov/Help/how-to/account/profile/languages/" target="_blank" rel="noopener noreferrer">What does novice, intermediate and advanced mean?</a></p>

            <div class="usajobs-button_bar--slim task-footer">
              <div class="usajobs-button_bar__body">
                <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel-language" id="cancel-language">Cancel and return</button>
                <button class="usa-button usa-button-primary" data-state="save-language" id="save-language">Save language</button>
              </div>
            </div>
          </fieldset>
         
          <fieldset id="step-3" class="usajobs-fieldset" style="display:none"></fieldset>
          <fieldset class="usajobs-fieldset" id="button-bar">
            <div class="usajobs-button_bar--slim task-footer">
              <div class="usajobs-button_bar__body">
                <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel</button>
                <button class="usa-button usa-button-secondary usa-button-left" data-state="edit" id="edit" style="display:none">Make changes</button>
                <% if (data.state === 'draft' || data.state === 'canceled') { %>
                  <button class="usa-button usa-button-secondary" data-state="draft">Save for later</button>
                <% } %>
                <button class="usa-button usa-button-primary" data-state="preview" id="preview">Preview</button>
                <% if (_.contains(['draft', 'canceled', 'submitted'], data.state)) { %>
                  <button class="usa-button usa-button-primary" data-state="submit" id="save" style="display:none">Submit</button>
                <% } else { %>
                  <button class="usa-button usa-button-primary" data-state="save" id="save" style="display:none">Save</button>
                <% } %>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div id="internship-preview" class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile" style="display:none">
      </div>
    </main>
  </div>
</section>
