<div class="usajobs-opop-search__body">
    <div class="usajobs-grid-full title-container">
        <div class="usa-width-two-thirds">
            <div class="search-title">
                <h2>Search opportunities by</h2>
                <a href="/search" class="side-link">View all opportunities</a>
            </div>
        </div>
        <div class="usa-width-one-third">
            <a href="/search<%= search.byProfile %>" class="usa-button usa-button-secondary align-right">Search based on your profile</a>
        </div>
    </div>
    <div class="usajobs-grid-full">
        <div class="usa-width-one-fourth">
            <h3>Community</h3>
            <ul class="usa-unstyled-list">          
                <% _.forEach(search.communities, function(community) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?community=<%- community.community_id %>"><%- community.community_name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="usa-width-one-fourth">
            <h3>Career field</h3>
            <ul class="usa-unstyled-list">
                <% if (search.acquisition[0]) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?career=<%- search.acquisition[0].id %>"><%- search.acquisition[0].name %></a>
                </li>
                <% } %>
                <% _.forEach(search.careers, function(career) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?career=<%- career.id %>"><%- career.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="usa-width-one-fourth">
            <h3>Skill</h3>
            <ul class="usa-unstyled-list">
                <% _.forEach(search.skills, function(skill) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?skill=<%- skill.name %>"><%- skill.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="usa-width-one-fourth">
            <h3>Location</h3>
            <ul class="usa-unstyled-list">
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?locationType=virtual">Virtual</a>
                </li>
                <% _.forEach(search.locations, function(location) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/search?locationType=in%20person&location=<%- location.name %>"><%- location.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>