<h3 class="usajobs-opportunity-apply-section__sub-section">Resume</h3>  
<p>Please select an existing resume from below or upload a new resume.</p>
<div id="apply-resume">      
  <span class="field-validation-error upload-error" style="display:none;" >You must select one resume or upload a new one.</span>     
  <span class="field-validation-error refresh-error" style="display:none;" >You must click the Refresh resumes button to see your changes.</span>                
  <fieldset id="resumes" class="usajobs-fieldset">
    <legend class="usa-sr-only">Resume</legend>
    <ul class="resume-card-buttons">   
      <% _.each(resumes, function (resume) { %>     
        <li class="resume-card-button">
          <input type="radio" value="<%- resume.CandidateDocumentID + '|' + resume.CandidateFileName + '.' + resume.FileFormat %>" name="resumes" id="<%- resume.CandidateDocumentID %>"<% if (resume.CandidateDocumentID == resumeId) { %><%= "checked" %><% } %>>                       
          <label for="<%- resume.CandidateDocumentID %>">
            <div class="usajobs-grid-full">
              <div class="usa-width-one-twelfth radio-button"></div>
              <div class="resume-info">
                <%- resume.CandidateFileName %>
                <span class="resume-card-button__sub-text">
                  <% if (resume.FileFormat == 'builder') { %>
                    <a href="<%- urls.profileDocuments %>" target="_blank">View</a> &bull; Built <%- moment(resume.DateTimeReceived).format('MMMM DD, YYYY h:mm:ss A') %>
                  <% } else if (resume.ProfileDocumentURL) { %>
                    <a class="download-resume" data-docname="<%- resume.CandidateFileName %>.<%- resume.FileFormat %>" data-althref="<%- decodeURIComponent(resume.DocumentURL) %>" href="<%- decodeURIComponent(resume.ProfileDocumentURL) %>">View</a> &bull; Uploaded <%- moment(resume.DateTimeReceived).format('MMMM DD, YYYY h:mm:ss A') %>
                  <% } else { %>
                    <a href="<%- decodeURIComponent(resume.DocumentURL) %>" target="_blank">View</a> &bull; Uploaded <%- moment(resume.DateTimeReceived).format('MMMM DD, YYYY h:mm:ss A') %>
                  <% } %>             
                </span>
              </div>
              <div class="usa-width-one-fourth">
                <span class="resume-icon <%- resume.FileFormat %>">
                  <h6>Resume</h6>
                </span>
              </div>
            </div>                  
          </label>            
        </li>
      <% }) %>
    </ul>
  </fieldset>
  <a id="upload-resume"  class="usa-button usa-button-secondary">Upload Resume</a>
  <a id="refresh-resumes" href="#refresh" class="usa-button usa-button-secondary" style="display:none">Refresh resumes</a>
  <div id="refreshing-resumes" style="display:none"><i class="fas fa-circle-notch fa-spin"></i>Refreshing resumes</div>
</div>