<h3>Discussion</h3>
<div class="comment-spinner center">
  Loading discussion... <i class="fa fa-spinner fa-spin"></i>
</div>
<div id="comment-form-target" class="usajobs-grid-full"></div>
<div class="usajobs-grid-full">
  <a id="previous-comments" href="#previous-comments" style="display:none;"></a>
  <ul id="comment-list" class="usajobs-width-one-whole">
    <% if (_.contains(['draft', 'submitted'], state)) { %>
      <li class="comment-item" id="comment-empty" style="display:none;">
        You can start a discussion once the opportunity has been approved.
      </li>
    <% } else if ( user ) { %>
      <li id="comment-empty" style="display:none;">
        No discussion yet.  Start one!
      </li>
    <% } else { %>
      <li class="clearfix border-left box-pad-lr" id="comment-empty" style="display:none;">
        Sign in to view the discussion.
      </li>
    <% } %>
  </ul>
  <a href="#refresh-comments" id="refresh-comments">
    <i class="fas fa-redo-alt"></i><span>Refresh</span>
  </a>
</div>
