<li class="comment-item clearfix">
  <div class="comment-content">
  
    <div class="usajobs-open-opps-opportunity-requestor__figure-body">
      <div class="usajobs-open-opps-opportunity-requestor__figure <%- getInitialsColor(userId) %>" data-userid="<%- userId %>" data-voluserid="<%- userId %>">
        <% if (user.photoId) { %>
          <img src="/api/document/image/<%- user.photoId %>" alt="Profile picture of <%- name %>">
        <% } else { %>
          <div class="usajobs-open-opps-opportunity-requestor__initials"><%- getInitials(user.name) %></div>
        <% } %>
      </div>
    </div>

    <div class="comment-inner <% if (topic) { %>topic<% }%>">
      <span class="user-username" data-userid="<%- userId %>">
        <a href="#" class="comment-user-link" data-userid="<%- userId %>">
          <% if (user.name) { %>
            <%- user.name %>
          <% } else { %>
            <%- user.username %>
          <% } %>
        </a>
      </span>
      <a name="comment-<%- id %>"></a>
      <% /* Escaped with marked() */ %>
      <span class="comment-display-section-<%- id %>" id="comment-id-<%- id %>"><%= valueHtml %></span>
      <% if (currentUser.id === userId) { %>
        <div class="comment-form-container text-comment-edit-section-<%- id %>" style= display:none;>        
          <div class="comment-edit-input form-control validate input-sm" data-commentid="<%-commentId %>" id="comment-edit-input-<%- id %>" name="comment-edit-input" contentEditable="true" data-validate="html" ></div> 
          <button class="usa-button comment-edit" data-commentid="<%-commentId %>" type="submit" data-commentid="<%- commentId %>" value="Save comment">Save comment
           </button>   
           <span>Press <strong>esc</strong> to cancel </span>   
        </div>
        
      <% } %>
      <div  id ="comment-metadata-<%- id %>" class="comment-metadata">
        <time class="timeago comment-created-at" datetime="<%- createdAt %>"><%- createdAt %></time>
        <% if (currentUser) { %>
          &bull;<a href="#reply-to-comment" class="reply-to-<%- id %>" data-depth="<%- depth %>" data-commentid="<%- id %>" data-parentid="<%- parentId %>" data-authorid="<%- userId %>" data-commentauthor="<% if (user.name) { %><%- user.name %><% } else { %><%- user.username %><% } %>">Reply</a>
        <% } %>
        <% if (currentUser.id === userId) { %>
          &bull;<a href="javascript:void(0);" class="edit-comment" data-commentid="<%- commentId %>">Edit</a>
          
        <% } %>
        <% if (canEdit || (currentUser.id === userId)) { %>
          &bull;<a href="#" class="delete-comment" data-commentid="<%- commentId %>">Delete</a>
        <% } %>
      </div>

      <div id="comment-<%- id %>-replies" class="comment-replies" style="display:none;">
        <a class="previous-replies" href="#previous-replies" style="display:none;"><i class="fas fa-reply"></i><span></span></a>
        <ul class="usajobs-width-one-whole replies-list"></ul>
      </div>
    </div>
  </div>
</li>
