<div class="reply-form-container">
  <label for="reply-input" class="sr-only">Reply</label>
  <span class="field-validation-error error-empty" style="display:none;">You must enter text before submitting a comment.</span>
  <span class="field-validation-error error-html" style="display:none;">The special characters '&lt;' or '&gt;' are not allowed.</span>
  <div class="reply-input form-control validate input-sm" id="reply-input" name="reply-input" contenteditable="true" data-validate="html" data-text="Leave comments here"></div>
  <button class="usa-button reply-submit" type="submit" value="Post comment" title="Post comment">Post comment</button>
  <div id="reply-update-alert" class="alert alert-warning" style="display:none;"></div>
</div>