<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Experience &amp; References</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>
          <h3 class="usajobs-profile-home-section__sub-section">Experience</h3>
          <p>Please list your federal, military, and professional experience here.</p>
        </div>
        <% if (experience.length) { %>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <% _.each(experience, function (e, index) { %>
            <li class="usajobs-drawer" data-section="experience" data-id="exp-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="exp-1"><%= e.formal_title %></button>
              <dl class="usajobs-drawer-face">
                <dt><%= e.employer_name %></dt>
                <dd>
                  <% var startDate = new Date(e.start_date), 
                         endDate = new Date(e.end_date),
                         monthNames = [
                          'January', 'February', 'March',
                          'April', 'May', 'June', 'July',
                          'August', 'September', 'October',
                          'November', 'December'
                         ],
                         formattedStartDate = monthNames[startDate.getMonth()] + ' ' + startDate.getFullYear(),
                         formattedEndDate = monthNames[endDate.getMonth()] + ' ' + endDate.getFullYear()
                  %>
                  <%= formattedStartDate %> - <%= formattedEndDate %>
                </dd>
              </dl>
              <div id="exp-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Street address</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.address_line_one %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.country_name %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Salary</h5>
                        <p class="usajobs-drawer-content__item-content">TBD</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">May we contact your supervisor?</h5>
                        <p class="usajobs-drawer-content__item-content">TBD</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.city_name %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.country_subdivision_name %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.postal_code %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Average hours per week</h5>
                        <p class="usajobs-drawer-content__item-content">TBD</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Federal position</h5>
                        <p class="usajobs-drawer-content__item-content">TBD</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Duties, accomplishments, and related skills</h5>
                    <p class="usajobs-drawer-content__item-content"><%= e.duties %></p>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="<%= e.experience_id %>" data-name="<%= e.formal_title %>" data-section="experience" data-record="job">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/<%= e.experience_id %>">Edit</a>
                  </div>
                </div>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
        <% }; %>
        <div class="usajobs-profile-home-section__body">
          <p><a id="add-experience" class="add-record">+ Add experience</a></p>
          <fieldset class="usajobs-fieldset">
            <div class="form-group required-input">
              <h4><label for="OverseasExperience" class="usajobs-profile-question__title">Do you have any overseas experience?</label></h4>
              <ul class="usa-unstyled-list" id="overseas-experience">
                <li>
                  <input id="overseas-experience-yes" name="has_overseas_experience" type="radio" value="yes" data-behavior="usajobs-form.reveal-fields" aria-controls="overseas-experience-details" <% if (hasOverseasExperience) { %><%= "checked" %><% } %>>
                  <label for="overseas-experience-yes">Yes</label>
                </li>
                <li>
                  <input id="overseas-experience-no" name="has_overseas_experience" type="radio" value="no" data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-details" <% if (hasOverseasExperience == false) { %><%= "checked" %><% } %>>
                  <label for="overseas-experience-no">No</label>
                </li>
              </ul>
              <div id="overseas-experience-details" class="usajobs-form-reveal-fields" aria-hidden="true">
                <h4 class="usajobs-overseas-experience__title usajobs-profile-question--spacer">Please indicate what type of overseas experience you possess.</h4>
                <ul id="overseasExperienceFilters" class="usa-unstyled-list">
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperienceStudent' value='student' data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('student')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperienceStudent' class="student-filter">
                      Student
                    </label>
                  </li>
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperienceDependent' value='dependent' data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('dependent')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperienceDependent' class="dependent-filter">
                      Dependent
                    </label>
                  </li>
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperiencePeaceCorps' value='peacecorps' data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('peacecorps')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperiencePeaceCorps' class="peacecorps-filter">
                      Peace Corps
                    </label>
                  </li>
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperienceMilitary' value='military' data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('military')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperienceMilitary' class="military-filter">
                      Military
                    </label>
                  </li>
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperienceGovernment' value='government' data-behavior="usajobs-form.hide-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('government')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperienceGovernment' class="government-filter">
                      Government
                    </label>
                  </li>
                  <li>
                    <input type='checkbox' name='overseas_experience_types' id='overseasExperienceOther' value='other' data-behavior="usajobs-form.reveal-fields" aria-controls="overseas-experience-filter-other" <% if (overseasExperienceTypes && overseasExperienceTypes.includes('other')) { %><%= "checked" %><% } %>>
                    <label for='overseasExperienceOther' class="other-filter">
                      Other
                    </label>
                  </li>
                </ul>
                <div id="overseas-experience-filter-other" class="usajobs-form-reveal-fields" aria-hidden="true">
                  <label for="input-type-textarea">If you chose "Other", please specify.</label>
                  <textarea id="input-type-textarea" name="overseas_experience_other"><%= overseasExperienceOther %></textarea>
                  <label for="input-type-textarea">Please indicate the total length of your overseas experience(s).</label>
                  <textarea id="input-type-textarea" name="overseas_experience_length"><%= overseasExperienceLength %></textarea>
                </div>
              </div>
            </div>
            
            <div class="form-group required-input">
              <h4><label for="SecurityClearance" class="usajobs-profile-question__title">Do you have, or have you had, a Security Clearance?</label></h4>
              <ul class="usa-unstyled-list usa-fieldset-inputs usajobs-profile-question__list">
                <li>
                  <input id="SecurityClearanceYes" name="has_security_clearance" type="radio" value="True" <% if (hasSecurityClearance) { %><%= "checked" %> <% } %>>
                  <label for="SecurityClearanceYes">Yes</label>
                </li>
                <li>
                  <input id="SecurityClearanceNo" name="has_security_clearance" type="radio" value="False" <% if (hasSecurityClearance == false) { %><%= "checked" %><% } %>>
                  <label for="SecurityClearanceNo">No</label>
                </li>
              </ul>
              <div id="security-clearance-details">
                <div class="form-group required-input">
                  <label for="security-clearance-type">Type of security clearance</label>
                  <span class="field-validation-error error-empty" style="display:none;">You must select the type of security clearance.</span>
                  <select id="security-clearance-type" name="security_clearance_id" class="dropdown validate" data-validate="empty">
                    <option >Select a security clearance</option>
                    <option value="1" <% if (securityClearanceId == 1) { %><%= "selected" %><% } %>>Public trust</option>
                    <option value="9" <% if (securityClearanceId == 9) { %><%= "selected" %><% } %>>Confidential</option>
                    <option value="8" <% if (securityClearanceId == 8) { %><%= "selected" %><% } %>>Secret</option>
                    <option value="7" <% if (securityClearanceId == 7) { %><%= "selected" %><% } %>>Top secret</option>
                    <option value="6" <% if (securityClearanceId == 6) { %><%= "selected" %><% } %>>Top secret/SCI</option>
                    <option value="5" <% if (securityClearanceId == 5) { %><%= "selected" %><% } %>>Q-Sensitive</option>
                    <option value="4" <% if (securityClearanceId == 4) { %><%= "selected" %><% } %>>Q-Nonsensitive</option>
                    <option value="3" <% if (securityClearanceId == 3) { %><%= "selected" %><% } %>>L-Atomic Energy</option>
                  </select>
                </div>
                <div class="form-group required-input">
                  <label for="security-clearance-issuer">Please provide who issued the clearance</label>
                  <input type="text" class="fullwidth form-control" id="security-clearance-issuer" name="security_clearance_issuer" value="<%= securityClearanceIssuer %>">
                </div>
              </div>
            </div>

            <div class="form-group required-input">
              <h4><label for="VsfsExperience" class="usajobs-profile-question__title">Have you previously participated in the Virtual Student Federal Service (VSFS) program?</label></h4>
              <ul class="usa-unstyled-list" id="vsfs-experience">
                <li>
                  <input id="vsfs-experience-yes" name="has_vsfs_experience" type="radio" value="yes" <% if (hasVsfsExperience) { %><%= "checked" %><% } %>>
                  <label for="vsfs-experience-yes">Yes</label>
                </li>
                <li>
                  <input id="vsfs-experience-no" name="has_vsfs_experience" type="radio" value="no" <% if (hasVsfsExperience == false) { %><%= "checked" %><% } %>>
                  <label for="vsfs-experience-no">No</label>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section usa-input-optional">References</h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <li class="usajobs-drawer" data-section="experience" data-id="ref-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="ref-1">Jeff T.H. Pon</button>
              <dl class="usajobs-drawer-face">
                <dt>Director</dt>
                <dd>
                  
                </dd>
              </dl>
              <div id="ref-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Phone</h5>
                        <p class="usajobs-drawer-content__item-content">202-606-1800</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Employer</h5>
                        <p class="usajobs-drawer-content__item-content">OPM</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Reference Type</h5>
                        <p class="usajobs-drawer-content__item-content">Professional</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Email</h5>
                        <p class="usajobs-drawer-content__item-content">email@opm.gov</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Title</h5>
                        <p class="usajobs-drawer-content__item-content">Director</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <div class="usajobs-button_bar--slim">
            <div class="usajobs-button_bar__body">
              <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Back</button>
              <a class="usa-button usa-button-primary usajobs-button_bar__save" id="saveExperienceContinue">Save and continue</a>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </main>
</div>