<div id="process-title-banners" role="navigation" aria-label="Application steps"></div>
<% 
var getValue = function (field) {
  return obj[field] ? obj[field] : '';
}
%>
<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Experience &amp; References</h2>
      <form class="usa-form-xl">
        <fieldset class="usajobs-fieldset">
          <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>
          <h3 class="usajobs-profile-home-section__sub-section">Experience</h3>
          <div class="required-input">
            <label for="employer-name">Employer Name</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter an employee name.</span>
            <span class="field-validation-error error-count100" style="display:none;">The employee name must be no more than 100 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <input type="text" class="fullwidth form-control validate" id="employer-name" name="employer-name" value="<%= getValue('employerName') %>" data-validate="empty,count100,html">
          </div>
          <label for="Address">
            <h5>Address</h5>
          </label>
          <div class="required-input">
            <label for="street-address" class="no-margin-top">Street address</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter a street address.</span>
            <span class="field-validation-error error-count100" style="display:none;">The street address must be no more than 100 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <input type="text" class="fullwidth form-control validate" id="street-address" name="street-address" value="<%= getValue('addressLineOne') %>" data-validate="empty,count100,html">
          </div>
          <div>
            <label for="street-address2" class="usa-input-optional">Street address 2</label>
            <input type="text" class="fullwidth form-control" id="street-address2" name="street-address2" value="<%= getValue('addressLineTwo') %>">
          </div>
          <div class="required-input">
            <label for="country">Country</label>
            <span class="field-validation-error error-empty" style="display:none;">You must select a country.<br /></span>
            <input type="hidden" name="country" id="apply_country" class="dropdown validate" data-validate="empty" />
          </div>
          <div class="required-input">
            <label for="postal-code">Postal code</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter a postal code.</span>
            <span class="field-validation-error error-count100" style="display:none;">The postal code must be no more than 100 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <input type="text" class="usa-input-medium form-control validate" id="postal-code" name="postal-code" value="<%= getValue('postalCode') %>" data-validate="empty,count100,html">
          </div>
          <div class="required-input">
            <label for="city">City or Town</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter a city or town.</span>
            <span class="field-validation-error error-count100" style="display:none;">The city or town must be no more than 100 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <input type="text" class="fullwidth form-control validate" id="city" name="city" value="<%= getValue('cityName') %>" data-validate="empty,count100,html">
          </div>
          <div class="required-input apply_countrySubdivision">
            <label for="apply_countrySubdivision">State, Territory, or Province</label>
            <span class="field-validation-error error-empty" style="display:none;">You must select a state, territory, or province.<br /></span>
            <input id="apply_countrySubdivision" class="dropdown" data-validate="empty" value="<% if (obj['countrySubdivision']) { %><%= countrySubdivision.countrySubdivisionId %><% } %>" disabled /> 
          </div>
          <label for="Position">
            <h5>Position</h5>
          </label>
          <div class="required-input">
            <label for="job-title" class="no-margin-top">Job title</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter a job title.</span>
            <span class="field-validation-error error-count100" style="display:none;">The job title must be no more than 100 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <input type="text" class="fullwidth form-control validate" id="job-title" name="job-title" value="<%= getValue('formalTitle') %>" data-validate="empty,count100,html">
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset--horizontal">
          <label for="StartDate">
            <h5>Start date</h5>
          </label>
          <div>
            <div class="exp-start-date required-input usa-datefield usa-form-group-month">
              <label for="start-month" class="no-margin-top">Month</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a starting month.</span>
              <input type="number" class="usa-input-tiny form-control validate" id="start-month" name="start-month" max="12" value="<%= getValue('startMonth') %>" data-validate="empty" onkeyup="if(this.value>12){this.value='12';}else if(this.value<0){this.value='0';}">
            </div>
            <div class="exp-start-date required-input usa-datefield usa-form-group-year">
              <label for="start-year" class="no-margin-top">Year</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a starting year.</span>
              <input type="number" class="usa-input-small form-control validate" id="start-year" name="start-year" max="3000" value="<%= getValue('startYear') %>" data-validate="empty" onkeyup="if(this.value.length>4){this.value=this.value.substring(0, 4);}">
            </div>
          </div>
        </fieldset>        

        <fieldset class="usajobs-fieldset--horizontal">
          <label for="EndDate">
            <h5>End date</h5>
          </label>
          <div>
            <div class="exp-end-date required-input usa-datefield usa-form-group-month">
              <label for="end-month" class="no-margin-top">Month</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a ending month.</span>
              <input type="number" class="usa-input-tiny form-control validate" id="end-month" name="end-month" max="12" value="<%= getValue('endMonth') %>" data-validate="empty" onkeyup="if(this.value>12){this.value='12';}else if(this.value<0){this.value='0';}">
            </div>
            <div class="exp-end-date required-input usa-datefield usa-form-group-year" id="end-date-section">
              <label for="end-year" class="no-margin-top">Year</label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a ending year.</span>
              <span class="field-validation-error error-datecomparison" style="display:none;">End date must be before start date</span>
              <input type="number" class="usa-input-small form-control validate" id="end-year" name="end-year" max="3000" value="<%= getValue('endYear') %>" data-validate="empty" onkeyup="if(this.value.length>4){this.value=this.value.substring(0, 4);}">
            </div>
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset-inputs">
          <input id="Present" name="Present" type="checkbox" value="true" <% if (getValue('isPresent')) { %>checked<% } %>>
          <label class="usajobs-profile__date-present" for="Present">Present?</label>
        </fieldset>

        <fieldset class="usajobs-fieldset">
          <div class="required-input">
            <label for="duties">Duties, accomplishments, and related skills</label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter duties, accomplishments, and related skills.</span>
            <span class="field-validation-error error-count5000" style="display:none;">The duties, accomplishments, and related skills must be no more than 5000 characters.</span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <textarea cols="20" id="duties" maxlength="5000" name="duties" rows="2" class="validate" data-validate="empty,count5000,html"><%= getValue('duties') %></textarea>
          </div>
          <a href="https://www.usajobs.gov/Help/how-to/account/documents/resume/build/formatting/" target="_blank" rel="noopen nofollow">Problems with formatting when pasting from Microsoft Word?</a>      
        </fieldset>
        <% if (obj['experienceId']) { %>
          <input type="hidden" name="experience-id" id="experience-id" value="<%= experienceId %>" />
          <input type="hidden" name="updated-at" id="updated-at" value="<%= updatedAt %>" />
        <% } %>
      </form>

      <div class="usajobs-button_bar--slim">
        <div class="usajobs-button_bar__body">
          <button class="usa-button usa-button-secondary usa-button-left cancel-add-experience-reference" data-state="cancel" id="cancel-add-experience">Cancel and return</button>
          <a class="usa-button usa-button-primary usajobs-button_bar__save" href="javascript:void(0)" id="<% if (obj['experienceId']) { %>save-update-experience<% } else { %>save-add-experience<% } %>">Save experience</a>
        </div>
      </div>
    </div>
  </main>
</div>