<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Select internship opportunities</h2>
      <p>You must select three internship opportunities. You can choose from your saved internship opportunities or search for more.</p>
      <div>
        <h4 class="program-choice">1st choice</h4>
        <% if (firstChoice) { %>
          <div class="usajobs-card--large" data-sort="1">
            <% if (tasks.length > 2) { %>
              <div class="sorting-container">
                <div class="sorting-arrows">
                  <i class="fas fa-arrow-down sorting-arrow" data-action="down"></i>
                </div>
              </div>
            <% } %>
            <div <% if (tasks.length > 2) { %>class="program-title-body-container"<% } %>>
              <div class="program-choice__title">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- firstChoice.title %>
                </h3>
                <a class="program-delete" href="#" data-task-id="<%- firstChoice.taskId %>" data-sort="1"><i class="fas fa-times"></i><span>Delete</span></a>
              </div>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- firstChoice.bureau %><% if (firstChoice.office) { %>/<%- firstChoice.office %><% } %>
                </p>
              </div>
            </div>
          </div>
        <% } else { %>
          <a class="program-empty" href="/search">
            <h3>Search for your 1st choice</h3>
          </a>
        <% } %>
      </div>
      <div>
        <h4 class="program-choice">2nd choice</h4>
        <% if (secondChoice) { %>
          <div class="usajobs-card--large" data-sort="2">
            <% if (tasks.length > 2) { %>
              <div class="sorting-container">
                <div class="sorting-arrows">
                  <i class="fas fa-arrow-up sorting-arrow" data-action="up"></i>
                  <i class="fas fa-arrow-down sorting-arrow" data-action="down"></i>
                </div>
              </div>
            <% } %>
            <div <% if (tasks.length > 2) { %>class="program-title-body-container"<% } %>>
              <div class="program-choice__title">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- secondChoice.title %>
                </h3>
                <a class="program-delete" href="#" data-task-id="<%- secondChoice.taskId %>" data-sort="2"><i class="fas fa-times"></i><span>Delete</span></a>
              </div>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- secondChoice.bureau %><% if (secondChoice.office) { %>/<%- secondChoice.office %><% } %>
                </p>
              </div>
            </div>
          </div>
        <% } else { %>
          <a class="program-empty" href="/search">
            <h3>Search for your 2nd choice</h3>
          </a>
        <% } %>
      </div>
      <div>
        <h4 class="program-choice">3rd choice</h4>
        <% if (thirdChoice) { %>
          <div class="usajobs-card--large" data-sort="3">
            <% if (tasks.length > 2) { %>
              <div class="sorting-container">
                <div class="sorting-arrows">
                  <i class="fas fa-arrow-up sorting-arrow" data-action="up"></i>
                </div>
              </div>
            <% } %>
            <div <% if (tasks.length > 2) { %>class="program-title-body-container"<% } %>>
              <div class="program-choice__title">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- thirdChoice.title %>
                </h3>
                <a class="program-delete" href="#" data-task-id="<%- thirdChoice.taskId %>" data-sort="3"><i class="fas fa-times"></i><span>Delete</span></a>
              </div>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- thirdChoice.bureau %><% if (thirdChoice.office) { %>/<%- thirdChoice.office %><% } %>
                </p>
              </div>
            </div>
          </div>
        <% } else { %>
          <a class="program-empty" href="/search">
            <h3>Search for your 3rd choice</h3>
          </a>
        <% } %>
      </div>
      <div class="usajobs-button_bar--slim">
        <div class="usajobs-button_bar__body">
          <button class="usa-button usa-button-secondary usa-button-left" id="back">Back</button>
          <a class="usa-button usa-button-primary usajobs-button_bar__save" id="saveProgramContinue">Save and continue</a>
        </div>
      </div>
    </div>
  </main>
  <aside class="usajobs-rightrail internship" id="rightrail">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile saved-internship-opportunities">
        <h3>Saved internship opportunities</h3>
        <div class="saved-internships-list">
        </div>
        <a class="usa-button usa-button-secondary" href="#">Go to saved</a>
      </div>
  </aside>
</div>