<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship education">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Education &amp; Transcript</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>
          <h3 class="usajobs-profile-home-section__sub-section">Education</h3>
          <p>Please tell us about your current academic standing and list any other education that you have completed to date.</p>
          <fieldset class="usajobs-fieldset">
            <div class="form-group required-input usa-fieldset-inputs" id="apply-enrolled">
              <h5>
                <label for="Enrolled" class="usajobs-profile-question__title">
                  Are you currently enrolled (part-time or full-time) or accepted for enrollment in an accredited college or university?
                </label>
              </h5>
              <span class="field-validation-error" style="display:none;" >Please select Yes or No</span>
              <ul class="usa-unstyled-list" id="enrolled">
                <li>
                  <input id="enrolled-yes" name="Enrolled" type="radio" value="true" <% if (isCurrentlyEnrolled) { %><%= "checked" %><% } %>>
                  <label for="enrolled-yes">Yes</label>
                </li>
                <li>
                  <input id="enrolled-no" name="Enrolled" type="radio" value="false" <% if (isCurrentlyEnrolled == false) { %><%= "checked" %><% } %>>
                  <label for="enrolled-no">No</label>
                </li>
              </ul>
            </div>
            <div class="form-group required-input usa-fieldset-inputs" id="apply-junior">
              <h5>
                <label for="Junior" class="usajobs-profile-question__title">
                  Will you be, at a minimum, a college or university junior (i.e. have completed 60 or more undergraduate semester credit 
                  hours or 90 or more undergraduate quarter credit hours) by the start of the intern session for which you are applying?
                </label>
              </h5>
                <span class="field-validation-error" style="display:none;">Please select Yes or No</span>
              
              <ul class="usa-unstyled-list" id="junior">
                <li>
                  <input id="junior-yes" name="Junior" type="radio" value="true" <% if (isMinimumCompleted) { %><%= "checked" %><% } %>>
                  <label for="junior-yes">Yes</label> 
                
                </li>
                <li>
                  <input id="junior-no" name="Junior" type="radio" value="false" <% if (isMinimumCompleted == false) { %><%= "checked" %><% } %>>
                  <label for="junior-no">No</label>
                </li>
              </ul>
            </div>
            <div class="form-group required-input usa-fieldset-inputs" id="apply-continue-education">
            <h5>
                <label for="ContinueEducation" class="usajobs-profile-question__title">
                    Will you continue your education after this internship has been completed?
                </label>
           </h5>
                <span class="field-validation-error" style="display:none;" >Please select Yes or No.</span>
              
              <ul class="usa-unstyled-list" id="continue-education">
                <li>
                  <input id="continue-education-yes" name="ContinueEducation" type="radio" value="true" <% if (isEducationContinued) { %><%= "checked" %><% } %>>
                  <label for="continue-education-yes">Yes</label>
                </li>
                <li>
                  <input id="continue-education-no" name="ContinueEducation" type="radio" value="false" <% if (isEducationContinued == false) { %><%= "checked" %><% } %>>
                  <label for="continue-education-no">No</label>
                </li>
              </ul>
            </div>
            <div class="form-group required-input">
              <h5><label for="cumulative-gpa" class="no-margin-top">What is your cumulative GPA on a 4.0 scale?</label></h5>
              <input type="text" class="usa-input-tiny form-control validate" id="cumulative-gpa" name="cumulative-gpa" data-validate="empty" onkeyup="if(this.value>4){this.value='4';}" value="<%= cumulativeGpa %>">
            </div>
          </fieldset>

        </div>
        
      
        <div id="education-preview-id"></div>
           
        <div class="usajobs-profile-home-section__body">
          <p><a href="javascript:void(0);" id="add-education" class="add-record">+ Add education</a></p>
          <h3 class="usajobs-profile-home-section__sub-section">Transcript</h3>
          <p>Please upload your current or most recent academic transcript. We accept unofficial transcripts.</p>
          <fieldset class="usajobs-fieldset">
            <ul class="transcript-card-buttons">
              <li class="transcript-card-button">
                <input type="radio" value="3" name="transcripts" id="3">
                <label for="3">
                  <div class="usajobs-grid-full">
                    <div class="usa-width-one-twelfth radio-button">

                    </div>
                    <div class="transcript-info">
                      Freshman_spring2018.pdf
                      <span class="transcript-card-button__sub-text">
                        <a href="#transcript2">View</a> &bull; Uploaded 11/12/2018
                      </span>
                    </div>
                    <div class="usa-width-one-fourth">
                      <span class="transcript-icon">
                        <i class="far fa-file-word"></i>
                        <h6>Transcript</h6>
                      </span>
                    </div>
                  </div>                  
                </label>            
              </li>
              <li class="transcript-card-button">
                <input type="radio" value="2" name="transcripts" id="2">
                <label for="2">
                  <div class="usajobs-grid-full">
                    <div class="usa-width-one-twelfth radio-button">

                    </div>
                    <div class="transcript-info">
                      Freshman_spring2018_longname.pdf
                      <span class="transcript-card-button__sub-text">
                        <a href="#transcript2">View</a> &bull; Uploaded 11/12/2018
                      </span>
                    </div>
                    <div class="usa-width-one-fourth">
                      <span class="transcript-icon">
                        <i class="far fa-file-word"></i>
                        <h6>Transcript</h6>
                      </span>
                    </div>
                  </div>                  
                </label>            
              </li>
              <li class="transcript-card-button">
                <input type="radio" value="1" name="transcripts" id="1">
                <label for="1">
                  <div class="usajobs-grid-full">
                    <div class="usa-width-one-twelfth radio-button">

                    </div>
                    <div class="transcript-info">
                      Freshman_spring2018_testingreallylongname.pdf
                      <span class="usajobs-card-button__sub-text">
                        <a href="#transcript2">View</a> &bull; Uploaded 11/12/2018
                      </span>
                    </div>
                    <div class="usa-width-one-fourth">
                      <span class="transcript-icon">
                        <i class="far fa-file-word"></i>
                        <h6>Transcript</h6>
                      </span>
                    </div>
                  </div>                  
                </label>            
              </li>
            </ul>
          </fieldset>
          <a href="#" class="usa-button usa-button-secondary">Upload transcript</a>
          <h5 class="usajobs-profile-home-section__field-label">
            <a href="#" class="question">What if I don't have a transcript?</a>
          </h5>
        </div>
        <div class="usajobs-profile-home-section__body">
          <div class="usajobs-button_bar--slim">
            <div class="usajobs-button_bar__body">
              <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="back">Back</button>
              <a href="#success" id="saveEducationContinue" class="usa-button usa-button-primary usajobs-button_bar__save apply-continue" data-action="educationContinue">Save and continue</a>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </main>
</div>