<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Languages &amp; Skills</h2>
      <form class="usa-form-xl">
        <fieldset class="usajobs-fieldset skills-interests">
          <span class="usajobs-form__legend">All fields are required</span>
          <h3 class="usajobs-profile-home-section__sub-section">
            <label for="skills" class="no-margin-top">Skills</label>
          </h3>
          <div class="required-input">
            <input type="text" class="fullwidth form-control" id="application_skills" name="skills">
            <div class="tag-wrapper"></div>
          </div>
        </fieldset>
        <div class="usajobs-button_bar--slim">
          <div class="usajobs-button_bar__body">
            <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel-skill">Cancel and return</button>
            <button id="save-skill" type="submit" class="usa-button usa-button-primary usajobs-button_bar__save" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save skills</button>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>