<div id="process-title-banners" role="navigation" aria-label="Application steps"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="back-link"><a href="javascript:history.back()"><i class="fas fa-chevron-left"></i> Back to results</a></div>
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>You are ineligible</h2>
      <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert">
        <div class="usajobs-alert__figure">
          <div class="usajobs-alert__icon">
          </div>
        </div>
        <div class="usajobs-alert__body">
          <h3 class="usa-alert-heading">You are not a U.S. citizen.</h3>
          <p class="usa-alert-text">
            You're not eligible for this internship because your profile says you're not a U.S. citizen. You must be a U.S. citizen to be 
            eligible for the U.S. Department of State Internship Program (Unpaid). Think this is wrong? <a href="<%= usajobsURL %>/Applicant/Profile/" target="_blank" rel="noopen nofollow">Edit your profile.</a>
          </p>
        </div>
      </div>
      <p>To apply to the U.S. Department of State Internship Program (Unpaid), you must:</p>
      <ul>
        <li>Be a U.S. citizen.</li>
        <li>Be a current student.</li>
        <li>Have at least a 3.0 GPA on a 4-point scale.</li>
        <li>Be able to receive and maintain a security clearance.</li>
      </ul>
      <p>For more information, visit the <a href="https://careers.state.gov/intern/student-internships/" target="_blank" rel="noopen nofollow">U.S. Department of State Student Internship Program (Unpaid)</a> website.</p>
      <h3>U.S. Department of State programs for non-U.S. citizens</h3>
      <p>There are several programs available for non-U.S. citizens who want to come to the U.S. for cultural, educational or professional reasons. <a href="https://exchanges.state.gov/" target="_blank" rel="noopen nofollow">Learn more about the U.S. Department of State exchange programs.</a></p>





    </div>
  </main>
</div>