<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Education &amp; Transcript</h2>
      <form class="usa-form-xl">
        <fieldset class="usajobs-fieldset">
          <span class="usajobs-form__legend">All fields are required unless otherwise noted</span>
          <h3 class="usajobs-profile-home-section__sub-section">Education</h3>
          <div class="required-input">
            <label for="school-name" class="no-margin-top">School or Program name</label>
            <input type="text" class="fullwidth form-control" id="school-name" name="school-name">
          </div>
          <div class="required-input">
            <label for="country">Country</label>
            <select name="country">
              <option></option>
            </select>
          </div>
          <div class="required-input">
            <label for="postal-code">Postal code</label>
            <input type="text" class="usa-input-medium form-control" id="postal-code" name="postal-code">
          </div>
          <div class="required-input">
            <label for="city">City or Town</label>
            <input type="text" class="fullwidth form-control" id="city" name="city">
          </div>
          <div class="required-input">
            <label for="state">State, Territory, or Province</label>
            <select name="state">
              <option></option>
            </select>
          </div>
          <div class="required-input">
            <label for="degree">Degree or Level attained</label>
            <select name="degree">
              <option>- Select -</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset--horizontal">
          <div class="form-group required-input usa-fieldset-inputs">
            <label for="CompletionDate">
              <h5 class="usa-input-optional usajobs-form__label-header">Completion date</h5>
            </label>
            <div>
              <div class="usa-datefield usa-form-group-month">
                <label for="completion-month" class="no-margin-top">Month</label>
                <input type="text" class="usa-input-tiny form-control" id="completion-month" name="completion-month">
              </div>
              <div class="usa-datefield usa-form-group-year">
                <label for="completion-year" class="no-margin-top">Year</label>
                <input type="text" class="usa-input-small form-control" id="completion-year" name="completion-year">
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset">
          <div>
            <label for="major" class="usa-input-optional">Major</label>
            <input type="text" class="fullwidth form-control" id="major" name="major">
          </div>
          <div>
            <label for="minor" class="usa-input-optional">Minor</label>
            <input type="text" class="fullwidth form-control" id="minor" name="minor">
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset--horizontal">
          <label for="GPA">
            <h5 class="usajobs-form__label-header">Grade Point Average (GPA)</h5>
          </label>
          <div class="gpa">
            <label for="GPA" class="no-margin-top">GPA</label>
            <input id="GPA" maxlength="6" name="GPA" type="text">
          </div>
          <div class="gpa">
            <label for="GPAMax" class="no-margin-top">of GPA Max.</label>
            <input id="GPAMax" maxlength="6" name="GPAMax" type="text">
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset">
          <div>
            <label for="credits" class="usa-input-optional">Total credits earned</label>
            <input type="text" class="fullwidth form-control" id="credits" name="credits">
          </div>
          <div class="form-group required-input usa-fieldset-inputs">
            <label for="GPA">
              <h5 class="usa-input-optional usajobs-form__label-header">System for awarded credits</h5>
            </label>
            <ul class="usa-unstyled-list usa-fieldset-inputs">
              <li>
                <input checked="checked" id="credit-S" name="CreditSystem" type="radio" value="S">
                <label for="credit-S">Semester hours</label>
              </li>
              <li>
                <input id="credit-Q" name="CreditSystem" type="radio" value="Q">
                <label for="credit-Q">Quarter hours</label>
              </li>
              <li>
                <input id="credit-C" name="CreditSystem" type="radio" value="C">
                <label for="credit-C">Continuing education units</label>
              </li>
            </ul>
          </div>
          <div class="required-input">
            <label for="degree" class="usa-input-optional">Honors</label>
            <select name="degree">
              <option>- Select -</option>
              <option>Cum Laude</option>
              <option>Magna Cum Laude</option>
              <option>Summa Cum Laude</option>
            </select>
          </div>
          <div class="required-input">
            <label for="Coursework" class="usa-input-optional">Relevant coursework, licensures, and certifications</label>
            <textarea cols="20" id="Coursework" maxlength="2000" name="Coursework" rows="2"></textarea>
          </div>
        </fieldset>

        <div class="usajobs-button_bar--slim">
          <div class="usajobs-button_bar__body">
            <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel and return</button>
            <a href="#success" class="usa-button usa-button-primary usajobs-button_bar__save">Save experience</a>
          </div>
        </div>
      </form>
    </div>
  </main>

  <aside class="usajobs-rightrail">
    <div id="help" class="usajobs-profile-help usajobs-profile-help--warning">
      <i class="fas fa-exclamation-triangle usajobs-profile-help__warning-icon"></i>
      <div class="usa-grid">
        <p>
          You must only list degrees from accredited schools or other education programs.
        </p>
        <p>
          <a href="https://www.ed.gov/accreditation" target="_blank" rel="noopen nofollow">
            <span class="sr-only">Opens in a new window</span>Look up your school</a> at the U.S. Department of Education.
        </p>
      </div>
    </div>
  </aside>
</div>