<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Review Application</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <p>Before you submit your application, please review your information below to confirm it's complete and correct.</p>
          <h3 class="usajobs-profile-home-section__sub-section">
            Applying to these internship opportunities
            <a href="javascript:void(0);" data-step="1" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <% if (firstChoice) { %>
            <div class="usajobs-card--large review-application">
              <h4>1st choice</h4>
              <h3 class="usajobs-card__title" itemprop="title">
                <%- firstChoice.title %>
              </h3>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- firstChoice.bureau %><% if (firstChoice.office) { %>/<%- firstChoice.office %><% } %>
                </p>
              </div>
            </div>
          <% } %>
          <% if (secondChoice) { %>
            <div class="usajobs-card--large review-application">
              <h4>2nd choice</h4>
              <h3 class="usajobs-card__title" itemprop="title">
                <%- secondChoice.title %>
              </h3>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- secondChoice.bureau %><% if (secondChoice.office) { %>/<%- secondChoice.office %><% } %>
                </p>
              </div>
            </div>
          <% } %>
          <% if (thirdChoice) { %>
            <div class="usajobs-card--large review-application">
              <h4>3rd choice</h4>
              <h3 class="usajobs-card__title" itemprop="title">
                <%- thirdChoice.title %>
              </h3>
              <div class="usajobs-card__body">
                <h5 class="program-label">
                  Bureau/Office
                </h5>
                <p>
                  <%- thirdChoice.bureau %><% if (thirdChoice.office) { %>/<%- thirdChoice.office %><% } %>
                </p>
              </div>
            </div>
          <% } %>
          </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Experience
            <a href="javascript:void(0);" data-step="2" data-fragment="experience" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <% if (experience.length) { %>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <% _.each(experience, function (e, index) { %>
            <li class="usajobs-drawer" data-section="experience" data-id="exp-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="exp-1"><%= e.formalTitle %></button>
              <dl class="usajobs-drawer-face">
                <dt><%= e.employerName %></dt>
                <dd>
                  <% var startDate = new Date(e.startDate), 
                          endDate = new Date(e.endDate),
                          monthNames = [
                          'January', 'February', 'March',
                          'April', 'May', 'June', 'July',
                          'August', 'September', 'October',
                          'November', 'December'
                          ],
                          formattedStartDate = monthNames[startDate.getMonth()] + ' ' + startDate.getFullYear(),
                          formattedEndDate = monthNames[endDate.getMonth()] + ' ' + endDate.getFullYear()
                  %>
                  <%= formattedStartDate %> - <%= formattedEndDate %>
                </dd>
              </dl>
              <div id="exp-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Street address</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.addressLineOne %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.country.value %></p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.cityName %></p>
                      </li>
                      <% if (e.countrySubdivision) { %>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.countrySubdivision.value %></p>
                      </li>
                      <% } %>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content"><%= e.postalCode %></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Duties, accomplishments, and related skills</h5>
                    <p class="usajobs-drawer-content__item-content"><%= e.duties %></p>
                  </div>
                </div>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
        <% }; %>
        <div class="usajobs-profile-home-section__body">
          <ul class="usajobs-profile-home-section__field-list">
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Overseas experience?</h5>
              <p><%- hasOverseasExperience ? "Yes" : "No" %></p>
            </li>
            <% if (hasOverseasExperience) { %>
              <li class="usajobs-profile-home-section__field-item">
                <h5 class="usajobs-profile-home-section__field-label">Type of overseas experience</h5>
                <p><%- overseasExperienceTypes.join(', ').replace(/\b\w/g, function(l){ return l.toUpperCase() }) %></p>
              </li>
            <% if(_.contains(overseasExperienceTypes, 'Other' )) { %>
               <li class="usajobs-profile-home-section__field-item overseas-other-text-area">
                  <h5 class="usajobs-profile-home-section__field-label">Type of overseas experience "other" specify</h5>
                  <p class="overseas-other-text-area"><%= overseasExperienceOtherHtml %></p>                       
                </li> 
               <% } %> 

              <li class="usajobs-profile-home-section__field-item overseas-length-text-area">
                <h5 class="usajobs-profile-home-section__field-label">Total length of overseas experience</h5>
                <p class="overseas-length-text-area"><%= overseasExperienceLengthHtml %></p>                       
              </li>
           
            <% } %>
           
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Security clearance</h5>
              <p><%- hasSecurityClearance ? "Yes" : "No" %></p>
            </li>
            <% if (hasSecurityClearance) { %>
              <li class="usajobs-profile-home-section__field-item">
                <h5 class="usajobs-profile-home-section__field-label">Type of security clearance</h5>
                <% _.each(securityClearances, function (h) { %>
                    <% if (securityClearanceId == h.lookupCodeId) { %><%- h.value %><% } %>
                <% }); %>
              </li>
              <li class="usajobs-profile-home-section__field-item">
                <h5 class="usajobs-profile-home-section__field-label">Issued by</h5>
                <p><%- securityClearanceIssuer %></p>
              </li>
            <% } %>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            References
            <a href="javascript:void(0);" data-step="2" data-fragment="references" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <% if (reference.length) { %>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <% _.each(reference, function (r, index) { %>
            <li class="usajobs-drawer" data-section="reference" data-id="ref-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="ref-1"><%= r.referenceName %></button>
              <dl class="usajobs-drawer-face">
                <dt><%= r.referenceTitle %></dt>
                <dd>
                  
                </dd>
              </dl>
              <div id="ref-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Phone</h5>
                        <p class="usajobs-drawer-content__item-content"><%= r.referencePhone %></p>
                      </li>                 
                      <li class="usajobs-drawer-content__item">
                          <% if (r.referenceEmployer) { %>
                        <h5 class="usajobs-drawer-content__item-label">Employer</h5>
                        <p class="usajobs-drawer-content__item-content"><%= r.referenceEmployer %></p>
                        <% } %>
                      </li>
                      
                      <li class="usajobs-drawer-content__item">               
                        <h5 class="usajobs-drawer-content__item-label">Reference Type</h5>
                        <p class="usajobs-drawer-content__item-content"><%= r.referenceType.value %></p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Email</h5>
                        <p class="usajobs-drawer-content__item-content"><%= r.referenceEmail %></p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                          <% if (r.referenceTitle) { %>
                        <h5 class="usajobs-drawer-content__item-label">Title</h5>
                        <p class="usajobs-drawer-content__item-content"><%= r.referenceTitle %></p>
                        <% } %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
        <% }; %>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Education &amp; Transcript
            <a href="javascript:void(0);" data-step="3" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
          <ul class="usajobs-profile-home-section__field-list">
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Currently enrolled?</h5>
              <p><%- isCurrentlyEnrolled ? "Yes" : "No" %></p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Junior or above?</h5>
              <p><%- isMinimumCompleted ? "Yes" : "No" %></p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Will continue education?</h5>
              <p><%- isEducationContinued ? "Yes" : "No" %></p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Current GPA</h5>
              <p><%- cumulativeGpa %></p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Academic transcript</h5>
              <% var transcript = _.findWhere(transcripts, { CandidateDocumentID: parseInt(transcriptId) }); %>
              <% if (transcript) { %>
                <p><i class="fas fa-check"></i> <a href="<%- decodeURIComponent(transcript.DocumentURL) %>" class="transcript-title"><%- transcript.CandidateFileName + '.' + transcript.FileFormat %></a></p>
              <% } %>
            </li>
          </ul>
        </div>
        <div id="education-preview-id"></div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Languages
            <a href="javascript:void(0);" data-step="4" data-fragment="languages" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <% if (language.length) { %>
          <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
            <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true" role="list">
              <% _.each(language, function (l, index) { %>
                <li class="usajobs-drawer" data-section="language" data-id="<%- index %>">
                  <button class="usa-accordion-button usajobs-drawer-button has-no-face" aria-controls="<%- index %>"><%- l.details.value %></button>
                  <div id="<%- index %>" class="usa-accordion-content usajobs-drawer-content">
                    <div class="usajobs-grid">
                      <div class="usajobs-width-one-half">
                        <ul class="usajobs-drawer-content__list">
                          <li class="usajobs-drawer-content__item">
                            <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                            <p><%- l.speakingProficiency.value %></p>
                          </li>
                          <li class="usajobs-drawer-content__item">
                            <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                            <p><%- l.readingProficiency.value %></p>
                          </li>
                        </ul>
                      </div>
                      <div class="usajobs-width-one-half">
                        <ul class="usajobs-drawer-content__list">
                          <li class="usajobs-drawer-content__item">
                            <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                            <p><%- l.writingProficiency.value %></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              <% }); %>
            </ul>
          </div>
        <% } %>
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Skills
            <a href="javascript:void(0);" data-step="4" data-fragment="skills" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body">
          <% if (skill.length > 0) { %>
          <div class="skill-list">
            <% _.each(skill, function (s) { %>
              <span class="skill-label"><%= s.name %></span>
            <% }) %>
          </div>
          <% } %>
        </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Statement of Interest
            <a href="javascript:void(0);" data-step="5" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
          <div class="statement-of-interest read-less">
            <%= statementOfInterestHtml %>
          </div>
          <p><a href="#" class="statement-of-interest read-more">Read more</a></p>
        </div>        
      </fieldset>
    </div>

    <div class="consent-to-share">
      <fieldset class="usajobs-fieldset">
          <div class="form-group required-input usa-fieldset-inputs">
            <h4>Consent to share information</h4>
            <label for="ShareConsent" class="usajobs-profile-question__title">
              Do you authorize the U.S. Department of State to share any of the information in this internship application, 
              including any official financial aid statement from any college or university, to organizations or individuals who 
              are a potential funding source?
            </label>
            <ul class="usa-unstyled-list" id="share-consent">
              <li>
                <input id="share-consent-yes" name="is_consent_to_share" type="radio" value="yes" <% if (isConsentToShare) { %><%= "checked" %><% } %>>
                <label for="share-consent-yes">Yes</label>
              </li>
              <li>
                <input id="share-consent-no" name="is_consent_to_share" type="radio" value="no" <% if (isConsentToShare == false) { %><%= "checked" %><% } %>>
                <label for="share-consent-no">No</label>
              </li>
            </ul>
          </div>
      </fieldset>
    </div>

    <div class="usajobs-button_bar--slim submit-application">
      <div class="usajobs-button_bar__body">
        <button class="usa-button-big usa-button-primary apply-submit" <% if (_.isNull(isConsentToShare)) { %>disabled<% } %>>Submit application</button>
      </div>
    </div>

  </main>
</div>