<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Languages &amp; Skills</h2>
      <form class="usa-form-xl">
        <fieldset class="usajobs-fieldset">
          <span class="usajobs-form__legend">All fields are required</span>
          <h3 class="usajobs-profile-home-section__sub-section">Languages</h3>
          <div class="form-group required-input" id="language-select">
            <label for="languageId">Language</label>
            <span id="lang-id-val" class="field-validation-error error-empty" style="display:none;">You must select at least one language.</span>
            <input id="languageId" class="dropdown" data-validate="empty" />
          </div>
          <div class="form-group required-input usa-fieldset-inputs">
            <h5 class="usajobs-form__label-header">
              <label for="SpeakingProficiencyID" class="usajobs-profile-question__title">Spoken language skill level</label>
            </h5>
            <ul class="usa-unstyled-list">
              <li>
                <input checked="checked" id="spoken-language-00" name="SpeakingProficiencyID" type="radio" value="830">
                <label for="spoken-language-00">None</label>
              </li>
              <li>
                <input id="spoken-language-10" name="SpeakingProficiencyID" type="radio" value="831">
                <label for="spoken-language-10">Novice</label>
              </li>
              <li>
                <input id="spoken-language-30" name="SpeakingProficiencyID" type="radio" value="832">
                <label for="spoken-language-30">Intermediate</label>
              </li>
              <li>
                <input id="spoken-language-40" name="SpeakingProficiencyID" type="radio" value="833">
                <label for="spoken-language-40">Advanced</label>
              </li>
            </ul>
          </div>
          <div class="form-group required-input usa-fieldset-inputs">
            <h5 class="usajobs-form__label-header">
              <label for="WritingProficiencyID" class="usajobs-profile-question__title">Writing language skill level</label>
            </h5>
            <ul class="usa-unstyled-list">
              <li>
                <input checked="checked" id="written-language-00" name="WritingProficiencyID" type="radio" value="830">
                <label for="written-language-00">None</label>
              </li>
              <li>
                <input id="written-language-10" name="WritingProficiencyID" type="radio" value="831">
                <label for="written-language-10">Novice</label>
              </li>
              <li>
                <input id="written-language-30" name="WritingProficiencyID" type="radio" value="832">
                <label for="written-language-30">Intermediate</label>
              </li>
              <li>
                <input id="written-language-40" name="WritingProficiencyID" type="radio" value="833">
                <label for="written-language-40">Advanced</label>
              </li>
            </ul>
          </div>
          <div class="form-group required-input usa-fieldset-inputs">
            <h5 class="usajobs-form__label-header">
              <label for="ReadingProficiencyID" class="usajobs-profile-question__title">Reading language skill level</label>
            </h5>
            <ul class="usa-unstyled-list">
              <li>
                <input checked="checked" id="reading-language-00" name="ReadingProficiencyID" type="radio" value="830">
                <label for="reading-language-00">None</label>
              </li>
              <li>
                <input id="reading-language-10" name="ReadingProficiencyID" type="radio" value="831">
                <label for="reading-language-10">Novice</label>
              </li>
              <li>
                <input id="reading-language-30" name="ReadingProficiencyID" type="radio" value="832">
                <label for="reading-language-30">Intermediate</label>
              </li>
              <li>
                <input id="reading-language-40" name="ReadingProficiencyID" type="radio" value="833">
                <label for="reading-language-40">Advanced</label>
              </li>
            </ul>
          </div>
          <h5 class="usajobs-profile-home-section__field-label usajobs-form__label-header">
            <a href="https://www.usajobs.gov/Help/how-to/account/profile/languages/" target="_blank" rel="noopener noreferrer" class="question">What does novice, intermediate and advanced mean?</a>
          </h5>
          <div class="usajobs-button_bar--slim">
            <div class="usajobs-button_bar__body">
              <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel and return</button>
              <a href="#success" class="usa-button usa-button-primary usajobs-button_bar__save">Save language</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </main>
</div>