<div id="process-Id"></div> 
<div class="usajobs-content-gutter opportunity-gutter internship">
        <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
                <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">

    <h2>You are ineligible</h2>
    <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" id="profile-find-done" >
            <div class="usajobs-alert__figure">
                <div class="usajobs-alert__icon">
                </div>
            </div>
            <div class="usajobs-alert__body">
                <h3 class="usa-alert-heading">Your GPA is below 3.0.</h3>
                <p class="usa-alert-text">
                 You're not eligible for this internship because your GPA doesn't meet the minimum requirement.
                 You must have a GPA of at least 3.0 or higher to be eligible for the U.S. Department of State Internship Program (Unpaid).
                </p>
            </div>
        </div>
          
    <p>To apply to the U.S. Department of State Internship Program (Unpaid), you must:</p>
    <ul>
        <li>
            Be a U.S. citizen.
        </li>
        <li>
            Be a current student.
        </li>
        <li>
            Have at least a 3.0 GPA on a 4-point scale.
        </li>
        <li>
            Be able to receive and maintain a security clearance.
        </li>
    </ul>
    <p>You might be eligible for these student programs: </p>
    <h4> Virtual Student Federal Service (VSFS)</h2>
   <p>
    Work remotely from your college or university campus through the largest virtual internship in the world.
    The U.S. Department of State partners virtual interns with more than 60 federal agencies and U.S. diplomatic posts overseas.
    <a href="https://vsfs.state.gov/" target="_blank">Learn more about virtual internships.</a>      
   </p>

   <h4>Other U.S. Department of State student programs</h4>
   <p>The U.S. Department of State has several other student programs for current high school, college or graduate students.
        <a href="https://careers.state.gov/intern/other-programs/" target="_blank">Learn about other student programs.</a>      
    </p>
   <h4>Pathways Program</h4>
   <p>The Pathways Program offers federal internship and employment opportunities for current students, recent graduates and those with an advanced degree.
        <a href="https://careers.state.gov/intern/pathways/" target="_blank">Learn more about the Pathways Program.</a>      
   </p>

    </div>
    </main>
</div>

