<p><strong>Selection Date</strong>: <%-moment(closedDate).format('MM/DD/YYYY hh:mma') %></p>
<p><strong>Subject</strong>: U.S. Department of State Student Internship Program (Unpaid)—You have been selected for an internship.</p>
<p>Hello <% if (given_name) { %><%- given_name %><% } %>,</p>

<p>Congratulations! We are pleased to conditionally offer you an internship with the U.S. Department of State Student 
  Internship Program (Unpaid) for the <%- session %> cycle. You've been conditionally selected for <%- title %>.</p>
<p>This internship offer is contingent upon you receiving a security clearance or a Public Trust certificate, depending on the sensitivity level of your internship.</p>
<p>Internships are full-time between 32-40 hours a week, for 10 consecutive weeks. <a href="https://careers.state.gov/intern/student-internships/">Learn more about your internship placement and responsibilities</a>.</p>
<p style="font-size:14pt;font-weight:bold;color:rgb(54,95,145)">Next Steps</p>
<p>
<div style="font-size:13pt;font-weight:bold;color:rgb(79,129,189);margin-bottom:0px">1. Submit additional information</div>
<div>If you want to accept this internship, <strong>you must answer a few more questions.</strong></div>
<ol>
  <li>Click the link below to sign into USAJOBS and view the internship posting.</li>
  <li>Click <strong>Apply</strong> and follow the steps to complete the questionnaire. You will need the following information:
    <ol type="a" style="margin-top:0px">
      <li style="margin-bottom:0px">Selection Status: Primary</li>
      <li style="margin-bottom:0px">Location: <%- location %></li>
      <li style="margin-bottom:0px">Requested Security Clearance: <%- suggested_security_clearance %></li>
      <li style="margin-bottom:0px">Bureau/Office: <%- bureau_office %></li>
      <li style="margin-bottom:0px">Supervisor/Point of Contact: <%- contact_name %></li>
    </ol>
  </li></br>
  <li>Do not share this link with anyone else&mdash;it is only for students who have been selected for this internship. Please submit your responses to the questionnaire by <%- exclusive_posting_end_date %>.</li>
</ol>
<p><a href="<%- joblink %>"><%- joblink %></a></p>
<p>
  <div style="font-size:13pt;font-weight:bold;color:rgb(79,129,189);margin:25px 0px 0px">2. Look for security clearance email</div>
  <div>Once you submit your questionnaire, you will receive an email to start the security clearance process. It may take up to two weeks to receive the security clearance email. If you do not receive the security clearance email within two weeks, please contact <a href="mailto:studentinternship@state.gov">studentinternship@state.gov</a>.</div>
</p>
<p>
  <div style="font-size:14pt;font-weight:bold;color:rgb(54,95,145);margin:25px 0px 0px">Housing and Travel Arrangements</div>
  <div>Please do not make any housing or travel arrangements until we notify you that you have received your security clearance and are officially assigned to the internship.</div>
</p>
<p>
  <div style="font-size:14pt;font-weight:bold;color:rgb(54,95,145);margin:25px 0px 0px">No longer interested?</div>
  <div>If you do not want to accept this internship offer, please let us know by emailing <a href="mailto:studentinternship@state.gov">studentinternship@state.gov</a>.</div>
</p>
