<div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
    <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
      <% _.each(experience, function (e, index) { %>
      <li class="usajobs-drawer" data-section="experience" data-id="exp-<%= e.experienceId %>">
        <button class="usa-accordion-button usajobs-drawer-button" aria-controls="exp-<%= e.experienceId %>"><%= e.formalTitle %></button>    
        <% if (index==0 && experience.length !=1) { %>
          <div class="order-options" data-sort="<%= index %>">             
              <a href="javascript:void(0)">
                <i class="fas fa-arrow-alt-circle-down exp-sort-arrow" data-action="down" data-id="<%= e.experienceId %>"></i>
              </a>
            </div>
          <% }
          else if (index== (experience.length-1) && index!=0) { %>
          <div class="order-options" data-sort="<%= index %>">
            <a href="javascript:void(0)">
              <i class="fas fa-arrow-alt-circle-up exp-sort-arrow" data-action="up" data-id="<%= e.experienceId %>"></i>
            </a>             
          </div>
          <% } 
          else if (index==0 && experience.length==1) { %>         
            <% }
          else { %>
            <div class="order-options" data-sort="<%= index %>">
              <a href="javascript:void(0)">
                <i class="fas fa-arrow-alt-circle-up exp-sort-arrow" data-action="up" data-id="<%= e.experienceId %>"></i>
              </a>
              <a href="javascript:void(0)">
                <i class="fas fa-arrow-alt-circle-down exp-sort-arrow" data-action="down" data-id="<%= e.experienceId %>"></i>
              </a>
            </div>
            <% } %>
                             
        <dl class="usajobs-drawer-face">
          <dt><%= e.employerName %></dt>
          <dd>
            <% var startDate = new Date(moment((e.startDate || '').split('T')[0]).format('YYYY/MM/DD')), 
                   endDate = new Date(moment((e.endDate || '').split('T')[0]).format('YYYY/MM/DD')),
                   monthNames = [
                    'January', 'February', 'March',
                    'April', 'May', 'June', 'July',
                    'August', 'September', 'October',
                    'November', 'December'
                   ],
                   formattedStartDate = monthNames[startDate.getMonth()] + ' ' + startDate.getFullYear(),
                   formattedEndDate = monthNames[endDate.getMonth()] + ' ' + endDate.getFullYear()
            %>
            <% if (e.isPresent) { %>
              <%= formattedStartDate %> - Present 
              <% }

              else { %>
            <%= formattedStartDate %> - <%= formattedEndDate %>
            <% } %>
          </dd>
        </dl>
        <div id="exp-<%= e.experienceId %>" class="usa-accordion-content usajobs-drawer-content">
          <div class="usajobs-grid">
            <div class="usajobs-width-one-half">
              <ul class="usajobs-drawer-content__list">
                <li class="usajobs-drawer-content__item">
                  <h5 class="usajobs-drawer-content__item-label">Street address</h5>
                  <p class="usajobs-drawer-content__item-content"><%= e.addressLineOne %></p>
                </li>
                <li class="usajobs-drawer-content__item">
                  <h5 class="usajobs-drawer-content__item-label">Country</h5>
                  <p class="usajobs-drawer-content__item-content"><%= e.country.value %></p>
                </li>
              </ul>
            </div>
            <div class="usajobs-width-one-half">
              <ul class="usajobs-drawer-content__list">
                <li class="usajobs-drawer-content__item">
                  <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                  <p class="usajobs-drawer-content__item-content"><%= e.cityName %></p>
                </li>
                <% if (e.countrySubdivision) { %>
                <li class="usajobs-drawer-content__item">
                  <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                  <p class="usajobs-drawer-content__item-content"><%= e.countrySubdivision.value %></p>
                </li>
                <% } %>
                <% if (e.postalCode) { %>
                <li class="usajobs-drawer-content__item">
                  <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                  <p class="usajobs-drawer-content__item-content"><%= e.postalCode %></p>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="usajobs-grid">
            <div class="usajobs-width-one-whole">
              <h5 class="usajobs-drawer-content__item-label">Duties, accomplishments, and related skills</h5>
              <p class="usajobs-drawer-content__item-content"><%= e.duties %></p>
            </div>
          </div>
          <div class="usajobs-button-bar--split">
            <div class="usajobs-button-bar__body">
              <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                data-id="<%= e.experienceId %>" data-name="<%= e.formalTitle %>" data-sort="<%- index %>" data-section="experience" data-record="job">Delete</a>
              <a class="usa-button usajobs-button-bar__edit edit-experience" data-id="<%= e.experienceId %>" id="edit-experience-<%= e.experienceId %>" href="javascript:void(0);">Edit</a>
            </div>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>