<div class="usajobs-content-gutter opportunity-gutter internship">
  <div class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert">
    <div class="usajobs-alert__figure">
      <div class="usajobs-alert__icon">
      </div>
    </div>
    <div class="usajobs-alert__body">
      <h3 class="usa-alert-heading">
        Congratulations! Your application has been submitted.
      </h3>
      <p class="usa-alert-text">
        Thanks for submitting your application to the U.S. Department of State Student Internship Program (Unpaid).
      </p>
    </div>
  </div>

  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile confirmation">
      <h2>What happens next?</h2>
      <p><strong>The U.S. Department of State will:</strong></p>
      <ol>
        <li>Review all applications after the application period closes.</li>
        <li>Set up interviews - you'll get an email if you're selected for an interview.</li>
        <li>Send offer emails - you'll get another email if you're selected for an internship.</li>
      </ol>
      <p><strong>Can I update my application?</strong></p>
      <p>Yes, you can update your application by visiting your dashboard. You must make all updates before 11:59 pm EST on the closing date. Don't forget to click submit.</p>
      <p><a href="/home">See my applications.</a></p>
      <ul class="usa-accordion">
        <li>
          <button class="usa-accordion-button accordion-1" aria-expanded="false" aria-controls="a1">
            Learn more about the selection process
          </button>
          <div id="a1" class="usa-accordion-content" aria-hidden="true">
            <p>
              The U.S. Department of State will review your application to make sure you're eligible and meet the qualifications for the internship. 
              If you meet the qualifications, a hiring manager may email you to set up an interview. Once they finish all interviews, they will let 
              you know if you got the internship.
            </p>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button accordion-1" aria-expanded="false" aria-controls="a2">
            Learn more about the security clearance process
          </button>
          <div id="a2" class="usa-accordion-content">
            <p>
              If you're selected for an internship, you must receive either a Secret or Top Secret security clearance. This process may take many months 
              and will require you to complete:
            </p>
            <ul>
              <li>An electronic security questionnaire.</li>
              <li>Fingerprint cards.</li>
              <li>An in-person interview with an investigator.</li>
            </ul>
            <p>
              We recommend you don't make any travel or housing plans until you receive your security clearance. 
              <a href="https://careers.state.gov/intern/student-internships/selection-process/#expandfaq" target="_blank" rel="noopener noreferrer nofollow">Read our FAQs about the security 
              clearance process.</a> 
            </p>
          </div>
        </li>
      </ul>
    </div>
  </main>

  <aside class="usajobs-rightrail">
    <div id="help" class="usajobs-profile-help">
      <h3>
          You now have a USAJOBS profile.
      </h3>
      <p>With a USAJOBS profile, you can apply to jobs, upload a resume and make it searchable, save job searches and sign up for email notifications.</p>

      <div class="usajobs-profile-help-drawers">
        <ul class="usa-accordion usajobs-drawers no-border">
          <li class="usajobs-drawer">
            <button id="clickme" class="usa-accordion-button usajobs-drawer-button usajobs-drawer-button--with-icon usajobs-drawer-button--alt-handle has-no-face d1" aria-expanded="false" aria-controls="find">
              <div class="usajobs-drawer-button--with-icon__figure">
                <svg class="usajobs-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#find-a-job"></use>
                </svg>
              </div>
              <div class="usajobs-drawer-button--with-icon__button-text">
                Find a job
              </div>
            </button>
            <div id="find" class="usa-accordion-content usajobs-drawer-content">
              <p><a href="https://www.usajobs.gov/Search/" class="usa-button" target="_blank" rel="noopener noreferrer nofollow">USAJOBS Search</a></p>
            </div>
          </li>
          <li class="usajobs-drawer">
            <button id="clickmetoo" class="usa-accordion-button usajobs-drawer-button usajobs-drawer-button--with-icon usajobs-drawer-button--alt-handle has-no-face d2" aria-expanded="false" aria-controls="resume-search">
              <div class="usajobs-drawer-button--with-icon__figure">
                <svg class="usajobs-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profile"></use>
                </svg>
              </div>
              <div class="usajobs-drawer-button--with-icon__button-text">
                Learn how to make your resume and profile searchable
              </div>
            </button>
            <div id="resume-search" class="usa-accordion-content usajobs-drawer-content">
              <p>Making your resume searchable adds it to the USAJOBS Resume Mining collection. HR specialists and hiring managers from federal agencies use resume mining to look for people (with a searchable resume in their USAJOBS profile) to fill their job vacancies.</p>
              <p>Plus, when your resume is searchable and you have completed your profile, your profile is searchable too. <a href="https://www.usajobs.gov/Help/how-to/account/profile/searchable/" target="_blank" rel="noopener noreferrer nofollow">https://www.usajobs.gov/Help/how-to/account/profile/searchable/</a></p>
            </div>
          </li>
          <li class="usajobs-drawer">
            <button class="usa-accordion-button usajobs-drawer-button usajobs-drawer-button--with-icon usajobs-drawer-button--alt-handle has-no-face d3" aria-expanded="false" aria-controls="save-search">
              <div class="usajobs-drawer-button--with-icon__figure">
                <svg class="usajobs-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#save-search-star"></use>
                </svg>
              </div>
              <div class="usajobs-drawer-button--with-icon__button-text">
                Learn how to save a job search
              </div>
            </button>
            <div id="save-search" class="usa-accordion-content usajobs-drawer-content">
              <p>You can save a search to help you look for jobs in your area of interest. When you save a search, we'll automatically look for jobs that match the keywords and other criteria in your search.</p>
              <p><a href="https://www.usajobs.gov/Help/how-to/search/save/" target="_blank" rel="noopener noreferrer nofollow">Learn how to create a saved search and sign up for email notifications.</a></p>
            </div>
          </li>
          <li class="usajobs-drawer">
            <button class="usa-accordion-button usajobs-drawer-button usajobs-drawer-button--with-icon usajobs-drawer-button--alt-handle has-no-face d4" aria-expanded="false" aria-controls="learn-more-govt">
              <div class="usajobs-drawer-button--with-icon__figure">
                <svg class="usajobs-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#learn-more"></use>
                </svg>
              </div>
              <div class="usajobs-drawer-button--with-icon__button-text">
                Learn more about working in the government
              </div>
            </button>
            <div id="learn-more-govt" class="usa-accordion-content usajobs-drawer-content">
                <p><a href="https://www.usajobs.gov/Help/working-in-government/appointments/difference-from-private-sector/" target="_blank" rel="noopener noreferrer nofollow">How is finding a job in the government different than the private sector?</a></p>
                <p><a href="https://www.usajobs.gov/Help/faq/application/how-long/" target="_blank" rel="noopener noreferrer nofollow">How long does it take to get a federal job?</a></p>
                <p><a href="https://www.usajobs.gov/Help/faq/application/eligibility/difference-from-qualifications/" target="_blank" rel="noopener noreferrer nofollow">What's the difference between eligibility and qualifications?</a></p>
                <p><a href="https://www.usajobs.gov/Help/faq/application/process/" target="_blank" rel="noopener noreferrer nofollow">How does the application work?</a></p>
            </div>
          </li>
        </ul>
        <svg class="hidden-svg" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <clipPath id="ad2ce061-d1cc-4971-84e6-ce199f7dcbc3"><rect width="52" height="52" style="fill:none"></rect></clipPath>
            <clipPath id="48276c5e-a5a0-4942-b95c-a213349b4373"><rect y="-1.01" width="52.6" height="53.62" style="fill:none"></rect></clipPath>
            <clipPath id="a091b502-fcf6-4241-8890-47b1f13ebada"><path d="M52,48a3.89,3.89,0,0,1-1.19,2.82A3.84,3.84,0,0,1,48,52a3.7,3.7,0,0,1-2.81-1.18L34.47,40.13A21.43,21.43,0,0,1,22,44a21.74,21.74,0,0,1-8.55-1.73A21.58,21.58,0,0,1,1.73,30.55a22,22,0,0,1,0-17.1,22.15,22.15,0,0,1,4.69-7,21.85,21.85,0,0,1,7-4.68,21.88,21.88,0,0,1,17.1,0,21.85,21.85,0,0,1,7,4.68,22.32,22.32,0,0,1,4.69,7A21.74,21.74,0,0,1,44,22a21.37,21.37,0,0,1-3.88,12.47L50.84,45.19A3.83,3.83,0,0,1,52,48M31.89,31.89A13.49,13.49,0,0,0,36,22a13.49,13.49,0,0,0-4.11-9.89A13.49,13.49,0,0,0,22,8a13.47,13.47,0,0,0-9.89,4.11A13.49,13.49,0,0,0,8,22a13.49,13.49,0,0,0,4.11,9.89A13.47,13.47,0,0,0,22,36a13.49,13.49,0,0,0,9.89-4.11" style="fill:none;clip-rule:evenodd"></path></clipPath>
            <clipPath id="ef4ba735-e439-4e94-bb16-34a521f8d75e"><path d="M33,17.8a1,1,0,0,1-.35.63L27.75,23.1l1.15,6.6a1.61,1.61,0,0,1,0,.26.82.82,0,0,1-.14.47.5.5,0,0,1-.41.19,1.07,1.07,0,0,1-.54-.16l-6-3.11-6,3.11a1.13,1.13,0,0,1-.54.16.5.5,0,0,1-.42-.19.75.75,0,0,1-.15-.47,1.85,1.85,0,0,1,0-.26l1.16-6.6-4.9-4.67a1,1,0,0,1-.33-.63c0-.33.25-.53.75-.61l6.75-1,3-6q.26-.54.66-.54t.66.54l3,6,6.74,1c.51.08.76.28.76.61" style="fill:none;clip-rule:evenodd"></path></clipPath>
            <clipPath id="3d289f40-61bc-4b55-9d36-cdc4731b12db"><rect y="-1" width="52" height="52" style="fill:none"></rect></clipPath>
            <clipPath id="3b26332d-1bf3-4e92-b60f-543621b21e3f"><path d="M25.86,0l26,11.14v3.72H48.39a1.88,1.88,0,0,1-1.87,1.85H5.19a1.79,1.79,0,0,1-1.31-.55,1.76,1.76,0,0,1-.56-1.3H-.14V11.14ZM50,46.43a1.9,1.9,0,0,1,1.87,1.86V52h-52V48.29A1.78,1.78,0,0,1,.41,47a1.8,1.8,0,0,1,1.32-.55ZM6.79,18.57h6.93V40.86h3.47V18.57h6.93V40.86h3.47V18.57h6.93V40.86H38V18.57h6.93V40.86h1.6a1.88,1.88,0,0,1,1.87,1.85v1.86H3.32V42.71a1.76,1.76,0,0,1,.56-1.3,1.79,1.79,0,0,1,1.31-.55h1.6Z" style="fill:none;clip-rule:evenodd"></path></clipPath>
            <clipPath id="119cc278-defb-4479-bb44-5bfec49f1075"><rect y="35.75" width="52" height="16.25" style="fill:none"></rect></clipPath>
            <clipPath id="941c0fa6-535b-452d-83dd-fa5352c0e9ac"><rect y="35.67" width="53" height="17.33" style="fill:none"></rect></clipPath>
            <clipPath id="beb85508-6cdc-4d0d-b3f4-71574d9ee40e"><path d="M40.63,35.75h-2.9a22.75,22.75,0,0,1-23.45,0h-2.9A11.37,11.37,0,0,0,0,47.12v2.44A2.44,2.44,0,0,0,2.44,52H49.56A2.44,2.44,0,0,0,52,49.56V47.12A11.37,11.37,0,0,0,40.63,35.75" style="fill:none;clip-rule:evenodd"></path></clipPath>
            <clipPath id="ec683002-029c-4518-a32e-6cb66863aa5e"><rect x="9.75" width="32.5" height="32.5" style="fill:none"></rect></clipPath>
            <clipPath id="3f85abad-d22e-4192-b607-797cda787f6b"><rect x="9.17" width="33.63" height="32.62" style="fill:none"></rect></clipPath>
            <clipPath id="b9fdd40f-d39e-42e1-b6fb-0ee83e2463bb"><path d="M9.75,16.25A16.25,16.25,0,1,1,26,32.5,16.25,16.25,0,0,1,9.75,16.25" style="fill:none;clip-rule:evenodd"></path></clipPath>
            <clipPath id="starpath"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" style="fill:none;clip-rule:evenodd"></path></clipPath>
          </defs>
          <symbol id="find-a-job" viewBox="0 0 52 52">
            <title>find-a-job</title>
            <g style="clip-path:url(#ad2ce061-d1cc-4971-84e6-ce199f7dcbc3)">
              <g style="clip-path:url(#48276c5e-a5a0-4942-b95c-a213349b4373)">
                <g style="isolation:isolate">
                  <g style="clip-path:url(#48276c5e-a5a0-4942-b95c-a213349b4373)">
                    <g style="clip-path:url(#a091b502-fcf6-4241-8890-47b1f13ebada)">
                      <g style="clip-path:url(#48276c5e-a5a0-4942-b95c-a213349b4373)">
                        <rect x="-5.06" y="-5.16" width="62.12" height="62.31" style="fill:#0071bc"></rect>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g style="clip-path:url(#ef4ba735-e439-4e94-bb16-34a521f8d75e)">
              <g style="clip-path:url(#3d289f40-61bc-4b55-9d36-cdc4731b12db)">
                <rect x="5.61" y="4.69" width="32.37" height="30.93" style="fill:#fdb81e"></rect>
              </g>
            </g>
          </symbol>
          <symbol id="learn-more" viewBox="0 0 52 52">
            <title>learn-more</title>
              <g style="clip-path:url(#3b26332d-1bf3-4e92-b60f-543621b21e3f)">
                <rect x="-4.81" y="-5" width="61.33" height="62" style="fill:#0071bc"></rect>
              </g>
          </symbol>
          <symbol id="profile" viewBox="0 0 52 52">
            <title>profile</title>
            <g style="clip-path:url(#119cc278-defb-4479-bb44-5bfec49f1075)">
              <g style="isolation:isolate">
                <g style="clip-path:url(#941c0fa6-535b-452d-83dd-fa5352c0e9ac)">
                  <g style="clip-path:url(#beb85508-6cdc-4d0d-b3f4-71574d9ee40e)">
                    <g style="clip-path:url(#941c0fa6-535b-452d-83dd-fa5352c0e9ac)">
                      <rect x="-5.1" y="30.65" width="62.19" height="26.44" style="fill:#0071bc"></rect>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g style="clip-path:url(#ec683002-029c-4518-a32e-6cb66863aa5e)">
              <g style="isolation:isolate">
                <g style="clip-path:url(#3f85abad-d22e-4192-b607-797cda787f6b)">
                  <g style="clip-path:url(#b9fdd40f-d39e-42e1-b6fb-0ee83e2463bb)">
                    <g style="clip-path:url(#3f85abad-d22e-4192-b607-797cda787f6b)">
                      <rect x="4.65" y="-5.1" width="42.69" height="42.69" style="fill:#0071bc"></rect>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </symbol>
          <symbol id="save-search-star" viewBox="0 0 576 512">
              <title>save-search-star</title>
                <g style="clip-path:url(#starpath)">
                  <rect x="0" y="0" width="576" height="512" style="fill:#fdb81c"></rect>
                </g>
            </symbol>
        </svg>
      </div>
    </div>
    
  </aside>
</div>