<div id="process-title-banners" role="navigation" aria-label="Application steps"></div>

<div class="usajobs-content-gutter opportunity-gutter">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Next steps</h2>
      <p>We'll walk you through each step of the application process, but here's what you need to know.</p>
      <h4>Complete your profile</h4>
      <p>To save time, we'll import your information in your USAJOBS profile into your application. Review your USAJOBS profile to make sure all of your information is correct before you start the application.</p>
      <p>If you update your USAJOBS profile after you start the application, you must come back to Open Opportunities and update your application as well.</p>
      <p>If you make edits to your application, the information will not update in your USAJOBS profile.</p>
      <ul class="usajobs-landing-fed-app-process__list">
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">1</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Select internship opportunities</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>You must select <strong>three</strong> internship opportunities to apply to. You can save internship opportunities to apply to later by clicking <strong>Save</strong>. Find them again in your profile.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">2</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your experience</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Tell us about your work, military or other experience.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">3</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your education and transcript</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>You'll need to attach your most recent academic transcript. An unofficial transcript is fine.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">4</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your languages and skills</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Make sure to include any languages you speak, read or write. Also, list your relevant skills.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">5</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Include a statement of interest</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Tell us why you're seeking an internship.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">6</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review and submit application</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Double check your application and submit it before 11:59 p.m. ET on the closing date. Don't forget to click Submit.</p>
          </div>
        </li>
      </ul>
      <div>
          <button class="usa-button usa-button-primary usa-button-left apply-continue" data-action="summaryContinue">Continue</button>
      </div>
    </div>
  </main>
</div>