<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Review Application</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <p>Before you submit your application, please review your information below to confirm it's complete and correct.</p>
          <h3 class="usajobs-profile-home-section__sub-section">
            Applying to these internship opportunities
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <div class="usajobs-card--large review-application">
            <h4>1st choice</h4>
            <h3 class="usajobs-card__title" itemprop="title">
              Knowledge &amp; Learning for Global Food Security
            </h3>
            <div class="usajobs-card__body">
              <h5 class="program-label">
                Bureau/Office
              </h5>
              <p>
                Administration (A)/Office of the Executive Director (EX)
              </p>
            </div>
          </div>
          <div class="usajobs-card--large review-application">
            <h4>2nd choice</h4>
            <h3 class="usajobs-card__title" itemprop="title">
              Super Spy Summer Training Camp
            </h3>
            <div class="usajobs-card__body">
              <h5 class="program-label">
                Bureau/Office
              </h5>
              <p>
                Human Resources (HR)/Office of the Director General (DGHR)
              </p>
            </div>
          </div>
          <div class="usajobs-card--large review-application">
            <h4>3rd choice</h4>
            <h3 class="usajobs-card__title" itemprop="title">
              Tracking Russian Information Campaigns in Brazil
            </h3>
            <div class="usajobs-card__body">
              <h5 class="program-label">
                Bureau/Office
              </h5>
              <p>
                Foreign Service Institute (FSI)/Leadership and Management School (LMS)
              </p>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Experience
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <li class="usajobs-drawer" data-section="experience" data-id="exp-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="exp-1">Job Title</button>
              <dl class="usajobs-drawer-face">
                <dt>Employer</dt>
                <dd>
                  January 2000 - December 2001
                </dd>
              </dl>
              <div id="exp-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Street address</h5>
                        <p class="usajobs-drawer-content__item-content">1900 E Street, NW</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content">United States</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Salary</h5>
                        <p class="usajobs-drawer-content__item-content">1.00 per year</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">May we contact your supervisor?</h5>
                        <p class="usajobs-drawer-content__item-content">No</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content">Washington</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content">District of Columbia</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content">20415</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Average hours per week</h5>
                        <p class="usajobs-drawer-content__item-content">40</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Federal position</h5>
                        <p class="usajobs-drawer-content__item-content">No</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Duties, accomplishments, and related skills</h5>
                    <p class="usajobs-drawer-content__item-content">Duties as assigned, accomplished many accomplishments, and all my related skills</p>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="usajobs-drawer" data-section="experience" data-id="exp-2">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="exp-2">Job Title 2</button>
              <dl class="usajobs-drawer-face">
                <dt>Employer</dt>
                <dd>
                  January 2002 - December 2003
                </dd>
              </dl>
              <div id="exp-2" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Street address</h5>
                        <p class="usajobs-drawer-content__item-content">1900 E Street, NW</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content">United States</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Salary</h5>
                        <p class="usajobs-drawer-content__item-content">1.00 per year</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">May we contact your supervisor?</h5>
                        <p class="usajobs-drawer-content__item-content">No</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content">Washington</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content">District of Columbia</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content">20415</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Average hours per week</h5>
                        <p class="usajobs-drawer-content__item-content">40</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Federal position</h5>
                        <p class="usajobs-drawer-content__item-content">No</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Duties, accomplishments, and related skills</h5>
                    <p class="usajobs-drawer-content__item-content">Duties as assigned, accomplished many accomplishments, and all my related skills</p>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <ul class="usajobs-profile-home-section__field-list">
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Overseas experience?</h5>
              <p>Yes</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Type of overseas experience?</h5>
              <p>Student, Government</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Security clearance</h5>
              <p>Yes</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Type of security clearance</h5>
              <p>Public Trust</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Issued by</h5>
              <p>Department of State</p>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            References
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <li class="usajobs-drawer" data-section="experience" data-id="ref-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="ref-1">Jeff T.H. Pon</button>
              <dl class="usajobs-drawer-face">
                <dt>Director</dt>
                <dd>
                  
                </dd>
              </dl>
              <div id="ref-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Phone</h5>
                        <p class="usajobs-drawer-content__item-content">202-606-1800</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Employer</h5>
                        <p class="usajobs-drawer-content__item-content">OPM</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Reference Type</h5>
                        <p class="usajobs-drawer-content__item-content">Professional</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Email</h5>
                        <p class="usajobs-drawer-content__item-content">email@opm.gov</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Title</h5>
                        <p class="usajobs-drawer-content__item-content">Director</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Education &amp; Transcript
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
          <ul class="usajobs-profile-home-section__field-list">
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Currently enrolled?</h5>
              <p>Yes</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Junior or above?</h5>
              <p>Yes</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Will continue education?</h5>
              <p>Yes</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Current GPA</h5>
              <p>3.64</p>
            </li>
            <li class="usajobs-profile-home-section__field-item">
              <h5 class="usajobs-profile-home-section__field-label">Academic transcript</h5>
              <p><i class="fas fa-check"></i> <a href="#" class="transcript-title">SchoolTranscript.pdf</a></p>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true">
            <li class="usajobs-drawer" data-section="education" data-id="edu-1">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="edu-1">Bachelor's Degree</button>
              <dl class="usajobs-drawer-face">
                <dt>University</dt>
                <dd>
                  May 2004
                </dd>
              </dl>
              <div id="edu-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content">Washington</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content">20415</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Major</h5>
                        <p class="usajobs-drawer-content__item-content">Major</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">GPA</h5>
                        <p class="usajobs-drawer-content__item-content">4.0</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Total credits earned</h5>
                        <p class="usajobs-drawer-content__item-content">400</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Honors</h5>
                        <p class="usajobs-drawer-content__item-content">Summa Cum Laude</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content">District of Columbia</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content">United States</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Minor</h5>
                        <p class="usajobs-drawer-content__item-content">Minor</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">GPA Max</h5>
                        <p class="usajobs-drawer-content__item-content">4.0</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">System for credits</h5>
                        <p class="usajobs-drawer-content__item-content">Semester hours</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label"></h5>
                        <p class="usajobs-drawer-content__item-content"></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Relevant coursework, licensures, and certifications</h5>
                    <p class="usajobs-drawer-content__item-content">Relevant coursework, licensures, and certifications</p>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="usajobs-drawer" data-section="education" data-id="edu-2">
              <button class="usa-accordion-button usajobs-drawer-button" aria-controls="edu-2">Master's Degree</button>
              <dl class="usajobs-drawer-face">
                <dt>University</dt>
                <dd>
                  May 2012
                </dd>
              </dl>
              <div id="edu-2" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">City or Town</h5>
                        <p class="usajobs-drawer-content__item-content">Washington</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Postal code</h5>
                        <p class="usajobs-drawer-content__item-content">20415</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Major</h5>
                        <p class="usajobs-drawer-content__item-content">Major</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">GPA</h5>
                        <p class="usajobs-drawer-content__item-content">4.0</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Total credits earned</h5>
                        <p class="usajobs-drawer-content__item-content">400</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Honors</h5>
                        <p class="usajobs-drawer-content__item-content">Summa Cum Laude</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">State, Territory, or Province</h5>
                        <p class="usajobs-drawer-content__item-content">District of Columbia</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Country</h5>
                        <p class="usajobs-drawer-content__item-content">United States</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Minor</h5>
                        <p class="usajobs-drawer-content__item-content">Minor</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">GPA Max</h5>
                        <p class="usajobs-drawer-content__item-content">4.0</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">System for credits</h5>
                        <p class="usajobs-drawer-content__item-content">Semester hours</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label"></h5>
                        <p class="usajobs-drawer-content__item-content"></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-whole">
                    <h5 class="usajobs-drawer-content__item-label">Relevant coursework, licensures, and certifications</h5>
                    <p class="usajobs-drawer-content__item-content">Relevant coursework, licensures, and certifications</p>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Languages
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true" role="list">
            <li class="usajobs-drawer" data-section="language" data-id="lang-1">
              <button class="usa-accordion-button usajobs-drawer-button has-no-face" aria-controls="lang-1">English</button>
              <div id="lang-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                        <p>Advanced</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="language" data-record="language">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="usajobs-drawer" data-section="language" data-id="lang-2">
              <button class="usa-accordion-button usajobs-drawer-button has-no-face" aria-controls="lang-2">French</button>
              <div id="lang-2" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                        <p>Advanced</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Skills
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body">
          <div class="skill-list">
            <a class="skill-label" href="/tasks?search=JavaScript">JavaScript</a>
            <a class="skill-label" href="/tasks?search=HTML">HTML</a>
            <a class="skill-label" href="/tasks?search=CSS">CSS</a>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="usajobs-profile-home-section">
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Statement of Interest
            <a href="#" class="usajobs-profile-home-section__sub-edit">Edit</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi et mi euismod, non sagittis enim finibus. 
            Etiam dapibus quam quis quam accumsan, eu Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi 
            et mi euismod, non sagittis enim finibus. Etiam dapibus quam quis quam accumsan.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi et mi euismod, non sagittis enim finibus. 
            Etiam dapibus quam quis quam accumsan, eu Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi 
            et mi euismod, non sagittis enim finibus. Etiam dapibus quam quis quam accumsan.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi et mi euismod, non sagittis enim finibus. 
            Etiam dapibus quam quis quam accumsan, eu Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum mi 
            et mi euismod, non sagittis enim finibus. Etiam dapibus quam quis quam accumsan.
          </p>
          <p><a href="#" class="read-more">Read more</a></p>
        </div>        
      </fieldset>
    </div>

    <div class="consent-to-share">
      <fieldset class="usajobs-fieldset">
          <div class="form-group required-input usa-fieldset-inputs">
            <h4>Consent to share information</h4>
            <label for="ShareConsent" class="usajobs-profile-question__title">
              Do you authorize the U.S. Department of State to share any of the information in this internship application, 
              including any official financial aid statement from any college or university, to organizations or individuals who 
              are a potential funding source?
            </label>
            <ul class="usa-unstyled-list" id="share-consent">
              <li>
                <input id="share-consent-yes" name="ShareConsent" type="radio" value="yes">
                <label for="share-consent-yes">Yes</label>
              </li>
              <li>
                <input id="share-consent-no" name="ShareConsent" type="radio" value="no">
                <label for="share-consent-no">No</label>
              </li>
            </ul>
          </div>
      </fieldset>
    </div>

    <div class="usajobs-button_bar--slim submit-application">
      <div class="usajobs-button_bar__body">
        <button class="usa-button-big usa-button-primary usajobs-button_bar__save" disabled>Submit application</button>
      </div>
    </div>

  </main>
</div>