<fieldset class="usajobs-fieldset">
    <div class="usajobs-profile-home-section__body">
      <h3 class="usajobs-profile-home-section__sub-section">
        Selected for this internship
      </h3>
    </div>
    <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers submitted-application">
      <div class="usajobs-card--large review-application">
        <div class="usajobs-grid-full">
          <div class="usa-width-three-fourths">
            <a href="/internships/<%- taskId %>">
            <h3 class="usajobs-card__title" itemprop="title">
                <%- taskTitle %>
            </h3>
            <div class="usajobs-card__body">
              <h5 class="program-label">
                Bureau/Office
              </h5>
              <p>
                <%- bureau %>/<%- office %>
              </p>
            </div>
          </div>
        </a>
          <div class="usa-width-one-fourth application-status">
            <span class="usajobs-pill--application-status status-<%- status.charAt(0).toLowerCase() + status.slice(1).replace(' ', '-').toLowerCase() %>"><%- status %></span>
            <p class="usajobs-form__help-brief">Last updated:<%- moment(closed_date).format('MM/DD/YYYY') %></p>
          </div>
        </div>                
      </div>
    </div>
  </fieldset>