<div class="usajobs-content-gutter opportunity-gutter internship">
  <div class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert">
    <div class="usajobs-alert__figure">
      <div class="usajobs-alert__icon">
      </div>
    </div>
    <div class="usajobs-alert__body">
      <h3 class="usa-alert-heading">
        Congratulations! Your application has been submitted.
      </h3>
      <p class="usa-alert-text">
        Thanks for submitting your application to the U.S. Department of State Student Internship Program (Unpaid).
      </p>
    </div>
  </div>

  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>What happens next?</h2>
      <p>The U.S. Department of State will:</p>
      <ol>
        <li>Review all applications after the application period closes.</li>
        <li>Set up interviews - you'll get an email if you're selected for an interview.</li>
        <li>Send offer emails - you'll get another email if you're selected for an internship.</li>
      </ol>
      <p><a href="/home">See the internship opportunities I've applied to.</a></p>
      <ul class="usa-accordion">
        <li>
          <button class="usa-accordion-button a1" aria-expanded="false" aria-controls="a1">
            Learn more about the selection process
          </button>
          <div id="a1" class="usa-accordion-content" aria-hidden="true">
            <p>
              The U.S. Department of State will review your application to make sure you're eligible and meet the qualifications for the internship. 
              If you meet the qualifications, a hiring manager may email you to set up an interview. Once they finish all interviews, they will let 
              you know if you got the internship.
            </p>
          </div>
        </li><li>
          <button class="usa-accordion-button a2" aria-expanded="false" aria-controls="a2">
            Learn more about the security clearance process
          </button>
          <div id="a2" class="usa-accordion-content">
            <p>
              If you're selected for an internship, you must receive either a Secret or Top Secret security clearance. This process may take many months 
              and will require you to complete:
            </p>
            <ul>
              <li>An electronic security questionnaire.</li>
              <li>Fingerprint cards.</li>
              <li>An in-person interview with an investigator.</li>
            </ul>
            <p>
              We recommend you don't make any travel or housing plans until you receive your security clearance. 
              <a href="https://careers.state.gov/intern/student-internships/selection-process/#expandfaq">Read our FAQs about the security 
              clearance process.</a> 
            </p>
          </div>
        </li>
      </ul>
    </div>
  </main>

  <aside class="usajobs-rightrail">
    <div id="help" class="usajobs-profile-help">
      <h3>
          You now have a USAJOBS profile.
      </h3>
    </div>
  </aside>
</div>