<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Next steps</h2>
      <p>We'll walk you through each step of the application process, but here's what you need to know.</p>

      <ul class="usajobs-landing-fed-app-process__list">
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">1</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Select Internships</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>You must select <strong>three</strong> internship opportunities to apply to. </p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">2</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your experience and references</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>You must give us two references we can contact.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">3</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your education and transcript</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>You'll need to attach your most recent academic transcript. An unofficial transcript is fine.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">4</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Review your languages and skills</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Make sure to include any languages you speak, read or write. And, list your relevant skills.</p>
          </div>
        </li>
        <li class="usajobs-landing-fed-app-process__item">
          <div class="usajobs-landing-fed-app-process__figure">
            <span class="usajobs-landing-fed-app-process__step-number">5</span>
            <h4 class="usajobs-landing-fed-app-process__step-title">Include a statement of interest</h4>
          </div>
          <div class="usajobs-landing-fed-app-process__text">
            <p>Tell us why you're seeking an internship.</p>
          </div>
        </li>
      </ul>

      <div class="usajobs-button_bar--slim">
        <div class="usajobs-button_bar__body">
          <a href="#success" class="usa-button usa-button-primary usajobs-button_bar__save">Continue</a>
        </div>
      </div>
    </div>
  </main>
</div>