<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
      <h2>Select programs</h2>
      <h4>You must select three opportunities to apply to for an internship.</h4>
      <h4 class="program-choice">1st choice</h4>
      <div class="usajobs-card--large">
        <div class="program-choice__title">
          <h3 class="usajobs-card__title" itemprop="title">
            Knowledge &amp; Learning for Global Food Security
          </h3>
          <a class="program-delete" href="#"><i class="fas fa-times"></i><span>Delete</span></a>
        </div>
        <div class="usajobs-card__body">
          <h5 class="program-label">
            Bureau/Office
          </h5>
          <p>
            Administration (A)/Office of the Executive Director (EX)
          </p>
        </div>
      </div>

      <h4 class="program-choice">2nd choice</h4>
      <a class="program-empty" href="#">
        <h3>Search for your 2nd choice</h3>
      </a>

      <h4 class="program-choice">3rd choice</h4>
      <a class="program-empty" href="#">
        <h3>Search for your 3rd choice</h3>
      </a>

      <div class="usajobs-button_bar--slim">
        <div class="usajobs-button_bar__body">
          <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Back</button>
          <a href="#success" class="usa-button usa-button-primary usajobs-button_bar__save">Save and continue</a>
        </div>
      </div>
    </div>
  </main>
</div>