<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Languages &amp; Skills</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <span class="usajobs-form__legend">All fields are optional</span>
          <h3 class="usajobs-profile-home-section__sub-section">Languages</h3>
          <p>Please list the foreign languages you can speak, write, or read. Include your level of proficiency with each.</p>
        </div>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers">
          <ul class="usa-accordion-bordered usajobs-drawers" data-multiselectable="true" role="list">
            <li class="usajobs-drawer" data-section="language" data-id="lang-1">
              <button class="usa-accordion-button usajobs-drawer-button has-no-face" aria-controls="lang-1">Spanish</button>
              <div id="lang-1" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                        <p>Advanced</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="usajobs-drawer" data-section="language" data-id="lang-2">
              <button class="usa-accordion-button usajobs-drawer-button has-no-face" aria-controls="lang-2">French</button>
              <div id="lang-2" class="usa-accordion-content usajobs-drawer-content">
                <div class="usajobs-grid">
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Spoken language skill level</h5>
                        <p>Advanced</p>
                      </li>
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Read language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                  <div class="usajobs-width-one-half">
                    <ul class="usajobs-drawer-content__list">
                      <li class="usajobs-drawer-content__item">
                        <h5 class="usajobs-drawer-content__item-label">Written language skill level</h5>
                        <p>Advanced</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="usajobs-button-bar--split">
                  <div class="usajobs-button-bar__body">
                    <a class="usajobs-button-bar__delete delete-record" href="javascript:void(0);" data-object-trigger="modal" data-target="#modal-delete-record"
                      data-id="116" data-section="education" data-record="school">Delete</a>
                    <a class="usa-button usajobs-button-bar__edit" href="/Applicant/Profile/EditEducation/116">Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="usajobs-profile-home-section__body">
          <p><a href="#" class="add-record">+ Add language</a></p>
          <h3 class="usajobs-profile-home-section__sub-section">Skills</h3>
          <p>List your relevant skills, competencies and specific knowledge relating to the position for which you are applying.</p>
        </div>
        <a class="usajobs-profile-home-section__footer" href="#">
          <i class="fas fa-plus-circle"></i> Add skills
        </a>
        <div class="usajobs-profile-home-section__body">
          <div class="usajobs-button_bar--slim">
            <div class="usajobs-button_bar__body">
              <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Back</button>
              <a href="#success" class="usa-button usa-button-primary usajobs-button_bar__save">Save and continue</a>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </main>
</div>