<div class="usajobs-process_flow-banner">
  <!-- Banner is full bleed -->
  <div class="usajobs-process_flow-banner-container">
    <div class="usajobs-process_flow-progress_indicator-container">
      <div class="usajobs-progress_indicator" role="navigation" aria-label="Secondary">
        <div class="usajobs-progress_indicator__body">
          <a href="javascript:void(0);" data-id="0" class="usajobs-progress_indicator__step <%= selectedStep == 1 ? 'is-current' : currentStep > 1 ? 'has-visit' : 'is-disabled' %>" title="Select programs">
            <div class="usajobs-progress_indicator__number">
              <span class="circle">1</span>
            </div>
            <div class="usajobs-progress_indicator__step-desc">
              <h5>
                <span class="long-desc">Select<br> Internships</span>
                <span class="short-desc">Internships</span>
              </h5>
            </div>
          </a>
          <a href="javascript:void(0);" data-id="1" class="usajobs-progress_indicator__step <%= selectedStep == 2 ? 'is-current' : currentStep > 2 ? 'has-visit' : 'is-disabled' %>" title="Experience &amp; References">
            <div class="usajobs-progress_indicator__number">
              <span class="circle">2</span>
            </div>
            <div class="usajobs-progress_indicator__step-desc">
              <h5>
                <span class="long-desc">Experience &amp; References</span>
                <span class="short-desc">Experience</span>
              </h5>
            </div>
          </a>
          <a href="javascript:void(0);" data-id="2" class="usajobs-progress_indicator__step <%= selectedStep == 3 ? 'is-current' : currentStep > 3 ? 'has-visit' : 'is-disabled' %>" title="Education &amp; Transcript">
            <div class="usajobs-progress_indicator__number">
              <span class="circle">3</span>
            </div>
            <div class="usajobs-progress_indicator__step-desc">
              <h5>
                <span class="long-desc">Education &amp; Transcript</span>
                <span class="short-desc">Education</span>
              </h5>
            </div>
          </a>
          <a href="javascript:void(0);" data-id="3" class="usajobs-progress_indicator__step <%= selectedStep == 4 ? 'is-current' : currentStep > 4 ? 'has-visit' : 'is-disabled' %>" title="Languages &amp; Skills">
            <div class="usajobs-progress_indicator__number">
              <span class="circle">4</span>
            </div>
            <div class="usajobs-progress_indicator__step-desc">
              <h5>
                <span class="long-desc">Languages &amp; Skills</span>
                <span class="short-desc">Languages</span>
              </h5>
            </div>
          </a>
          <a href="javascript:void(0);" data-id="4" class="usajobs-progress_indicator__step <%= selectedStep == 5 ? 'is-current' : currentStep > 5 ? 'has-visit' : 'is-disabled' %>" title="Statement of interest">
            <div class="usajobs-progress_indicator__number">
              <span class="circle">5</span>
            </div>
            <div class="usajobs-progress_indicator__step-desc">
              <h5>
                <span class="long-desc">Statement of interest</span>
                <span class="short-desc">Statement</span>
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="usajobs-internship_title-banner">
  <!-- Banner is full bleed -->
  <div class="usajobs-internship_title-banner-container">
    <span class="logo dos"></span>
    <span>U.S. Department of State</span>
  </div>
</div>