<div id="process-title-banners"></div>

<div class="usajobs-content-gutter opportunity-gutter internship">
  <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
    <div class="usajobs-alert__figure">
      <div class="usajobs-alert__icon">
      </div>
    </div>
    <div class="usajobs-alert__body">
      <p class="usa-alert-text"></p>
    </div>
  </div>
  <main class="main-content usajobs-content-well usajobs-opop" id="main-content" role="main">
    <div class="usajobs-profile-home-section">
      <h2 class="usajobs-profile-home-section__title">Submitted application</h2>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <p>You have submitted the following application to the <%= communityName.community_name %> for <%= cycle.name %>.</p>
          <p><strong>Application received:</strong> <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
          <% if (new Date(cycle.apply_end_date) > new Date()) { %>
            <button class="usa-button usa-button-primary update-application">Update</button>
          <% } %>
          <% if (new Date(cycle.review_end_date) > new Date() && cycle.closed_date === null) { %>
            <button class="usa-button usa-button-secondary-alert-outline withdraw-application">Withdraw</button>
          <% } %>
          <h3 class="usajobs-profile-home-section__sub-section">
            Applied to these internship opportunities
          </h3>
        </div>
        <% if (new Date(cycle.apply_end_date) < new Date()) { %>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers submitted-application">
          <% if (firstChoice) { %>
          <a href="/internships/<%- firstChoice.taskId %>">
            <div class="usajobs-card--large review-application">
              <h4>1st choice</h4>
              <div class="usajobs-grid-full">
                <div class="usa-width-three-fourths">
                  <h3 class="usajobs-card__title" itemprop="title">
                    <%- firstChoice.title %>
                  </h3>
                  <div class="usajobs-card__body">
                    <h5 class="program-label">
                      Bureau/Office
                    </h5>
                    <p>
                      <%- firstChoice.bureau %><% if (firstChoice.office) { %>/<%- firstChoice.office %><% } %>
                    </p>
                  </div>
                </div>
                
                <div class="usa-width-one-fourth application-status">
                  <span class="usajobs-pill--application-status status-<%- firstChoice.status.charAt(0).toLowerCase() + firstChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- firstChoice.status %></span>
                  <% if (cycle.closed_date) { %>
                  <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                  <% } else { %>
                    <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                    <% } %>
                </div>
                         
              </div>                
            </div>
          </a>
          <% } %>
          <% if (secondChoice) { %>
          <a href="/internships/<%- secondChoice.taskId %>">
            <div class="usajobs-card--large review-application">
              <h4>2nd choice</h4>
              <div class="usajobs-grid-full">
                <div class="usa-width-three-fourths">
                  <h3 class="usajobs-card__title" itemprop="title">
                    <%- secondChoice.title %>
                  </h3>
                  <div class="usajobs-card__body">
                    <h5 class="program-label">
                      Bureau/Office
                    </h5>
                    <p>
                      <%- secondChoice.bureau %><% if (secondChoice.office) { %>/<%- secondChoice.office %><% } %>
                    </p>
                  </div>
                </div>
                <div class="usa-width-one-fourth application-status">
                  <span class="usajobs-pill--application-status status-<%- secondChoice.status.charAt(0).toLowerCase() + secondChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- secondChoice.status %></span>
                  <% if (cycle.closed_date) { %>
                  <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                  <% } else { %>
                    <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                    <% } %>
                </div>
              </div>                
            </div>
          </a>
          <% } %>
          <% if (thirdChoice) { %>
          <a href="/internships/<%- thirdChoice.taskId %>">
            <div class="usajobs-card--large review-application">
              <h4>3rd choice</h4>
              <div class="usajobs-grid-full">
                <div class="usa-width-three-fourths">
                  <h3 class="usajobs-card__title" itemprop="title">
                    <%- thirdChoice.title %>
                  </h3>
                  <div class="usajobs-card__body">
                    <h5 class="program-label">
                      Bureau/Office
                    </h5>
                    <p>
                      <%- thirdChoice.bureau %><% if (thirdChoice.office) { %>/<%- thirdChoice.office %><% } %>
                    </p>
                  </div>
                </div>
                <div class="usa-width-one-fourth application-status">
                  <span class="usajobs-pill--application-status status-<%- thirdChoice.status.charAt(0).toLowerCase() + thirdChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- thirdChoice.status %></span>
                  <% if (cycle.closed_date) { %>
                  <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                  <% } else { %>
                    <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                    <% } %>
                </div>
              </div>                
            </div>
          </a>
          <% } %>
        </div>
        <% } else { %>
        <div class="usajobs-profile-home-section__body usajobs-profile-home-section__body-has-drawers submitted-application">
          <% if (firstChoice) { %>
          <div class="usajobs-card--large review-application">
            <h4>1st choice</h4>
            <div class="usajobs-grid-full">
              <div class="usa-width-three-fourths">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- firstChoice.title %>
                </h3>
                <div class="usajobs-card__body">
                  <h5 class="program-label">
                    Bureau/Office
                  </h5>
                  <p>
                    <%- firstChoice.bureau %><% if (firstChoice.office) { %>/<%- firstChoice.office %><% } %>
                  </p>
                </div>
              </div>
              <div class="usa-width-one-fourth application-status">
                <span class="usajobs-pill--application-status status-<%- firstChoice.status.charAt(0).toLowerCase() + firstChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- firstChoice.status %></span>
                <% if (cycle.closed_date) { %>
                <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                <% } else { %>
                  <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                  <% } %>
              </div>
            </div>                
          </div>
          <% } %>
          <% if (secondChoice) { %>
          <div class="usajobs-card--large review-application">
            <h4>2nd choice</h4>
            <div class="usajobs-grid-full">
              <div class="usa-width-three-fourths">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- secondChoice.title %>
                </h3>
                <div class="usajobs-card__body">
                  <h5 class="program-label">
                    Bureau/Office
                  </h5>
                  <p>
                    <%- secondChoice.bureau %><% if (secondChoice.office) { %>/<%- secondChoice.office %><% } %>
                  </p>
                </div>
              </div>
              <div class="usa-width-one-fourth application-status">
                <span class="usajobs-pill--application-status status-<%- secondChoice.status.charAt(0).toLowerCase() + secondChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- secondChoice.status %></span>
                <% if (cycle.closed_date) { %>
                <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                <% } else { %>
                  <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                  <% } %>
              </div>
            </div>                
          </div>
          <% }%>
          <% if (thirdChoice) { %>
          <div class="usajobs-card--large review-application">
            <h4>3rd choice</h4>
            <div class="usajobs-grid-full">
              <div class="usa-width-three-fourths">
                <h3 class="usajobs-card__title" itemprop="title">
                  <%- thirdChoice.title %>
                </h3>
                <div class="usajobs-card__body">
                  <h5 class="program-label">
                    Bureau/Office
                  </h5>
                  <p>
                    <%- thirdChoice.bureau %><% if (thirdChoice.office) { %>/<%- thirdChoice.office %><% } %>
                  </p>
                </div>
              </div>
              <div class="usa-width-one-fourth application-status">
                <span class="usajobs-pill--application-status status-<%- thirdChoice.status.charAt(0).toLowerCase() + thirdChoice.status.slice(1).replace(' ', '-').toLowerCase() %>"><%- thirdChoice.status %></span>
                <% if (cycle.closed_date) { %>
                <p class="usajobs-form__help-brief"> Last updated: <%- moment(cycle.closed_date).format('MM/DD/YYYY') %></p>
                <% } else { %>
                  <p class="usajobs-form__help-brief">Last updated: <%- moment(submittedAt).format('MM/DD/YYYY') %></p>
                  <% } %>
              </div>
            </div>                
          </div>
          <% } %>
        </div>
        <% } %>
      </fieldset>
     <div id="selected-internship"></div>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Messages
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body">
          <ul class="usa-accordion-bordered application-messages">
            <li>
              <button class="usa-accordion-button accordion-1" aria-expanded="false" aria-controls="a1" data-target="a1">
                Application received
              </button>
              <div id="a1" class="usa-accordion-content" >
                <fieldset id="application-received"></fieldset>
              </div>
            </li>
            <% if (cycle.closed_date) { %>
            <li>
              <button class="usa-accordion-button accordion-1" data-target="a2" aria-expanded="false" aria-controls="a2">
                Selection decision
              </button>        
                <div id="a2" class="usa-accordion-content">
                  <div id="selected-messages"></div> 
                  <div id ="alternate-messages"></div>
                  <div id ="not-selected-messages"></div> 
                </div>        
            </li>
            <% } %>
          </ul>
        </div>
      </fieldset>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body">
          <h3 class="usajobs-profile-home-section__sub-section">
            Questions?
          </h3>
        </div>
        <div class="usajobs-profile-home-section__body">
          <p>If you have any questions about your application or status, please contact the U.S. Department of State 
            Student Internship Program (Unpaid) at <a href="mailto:studentinternship@state.gov">studentinternship@state.gov</a></p>
        </div>
      </fieldset>
      <fieldset class="usajobs-fieldset">
        <div class="usajobs-profile-home-section__body submitted-application-last">       
        </div>
      </fieldset>
    </div>
  </main>
</div>