<main class="usajobs-opop" id="main-content" role="main">
  <div class="usajobs-grid usajobs-opop-dashboard">
    <h1>Welcome <%- window.cache.currentUser.name %><a href="/logout" class="logout">Sign out</a></h1>
    <div class="usajobs-opop-dashboard__body">
      <div class="usajobs-open-opps-participated__body">
        <h2>Your internship opportunities</h2>
        <h3>Applied</h3>
        <div class="internships-applied"></div>
        <h3 id="saved">Saved</h3>
        <div class="internships-saved"></div>
      </div>
    </div>

    <div class="usajobs-opop-dashboard__body">
      <div data-target="badges" class="badges"></div>
    </div>
  </div>
</main>
