<div class="usajobs-open-opps-participated__section">
  <div id="usajobs-search-controls">
    <div class="usajobs-grid usajobs-search-controls">
      <div class="usajobs-search-controls__results-count-container no-params">
          <% if (data.length > 0) { %>
            <h4 id="created-count" class="usajobs-search-controls__results-count">
              Viewing 1 – <% if (showAll) { %><%= data.length %><% } else { %><%= Math.min(data.length, 5) %><% } %> of <%= data.length %> internships
            </h4>
          <% } %>
      </div>
      <% if (data.length > 0) { %>
        <div class="usajobs-search-controls__sort-container no-params show-on-desktop">
          <label class="usajobs-search-controls__sort-label" for="sort_attribute">
            Sort by
          </label>
          <select name="sort_attribute" id="sort-saved" class="usajobs-search-controls__sort-control">
            <option value="" disabled>- Sort By -</option>
            <option value="state" <% if (sort == 'state') { %>selected<% } %>>Internship status</option>
            <option value="title" <% if (sort == 'title') { %>selected<% } %>>Internship</option>
            <option value="updatedAt" <% if (sort == 'updatedAt') { %>selected<% } %>>Last updated</option>
          </select>
        </div>
      <% } %>
    </div>
  </div>
  <div id="<%- handle %>-tab-open">
    <div style="overflow-x:auto;">
      <% if (data.length > 0) { %>
        <div class="usajobs-show-next" data-object="reveal">
          <table class="usa-table-borderless <% if (!showAll) { %>results-filter<% } %>" role="presentation" id="saved-table">
            <thead>
              <tr class="usajobs-grid open-opps-row header">
                <th scope="col" class="your-status">Status</th>
                <th scope="col" class="application-program-title">Program</th>
                <th scope="col">Last updated</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i in data) { %>
                <tr class="usajobs-grid open-opps-row" data-id="<%- data[i].id %>">
                  <td class="your-status">
                    <%= getStatus(data[i]) %>
                  </td>
                  <td class="application-program-title">
                    <%- data[i].title %>
                  </td>
                  <td>
                    <% var updated = new Date(data[i].updatedAt); %>
                    <%- updated.toLocaleDateString() %>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <% if (!showAll && data.length > 5) { %>
            <a href="#next" class="usa-button usa-button-outline saved-show-all">
              Show more
            </a>
          <% } %>
        </div>

      <% } else { %>

        <table class="usa-table-borderless" role="presentation">
        	<thead>
            <tr class="usajobs-grid open-opps-row header">
              <th scope="col" class="your-status">Status</th>
              <th scope="col" class="application-program-title">Program</th>
              <th scope="col">Last updated</th>
            </tr>
        	</thead>
          <tbody>
            <tr>
              <td colspan="3">No <%- targetsFriendly %></td>
            </tr>
          </tbody>
        </table>
      <% } %>
    </div>
  </div>
</div>
