<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title"><% if(data.id) { %>Edit<% } else {%>Create an<% } %> opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
          <div class="usajobs-grid-full">
            <div class="usa-width-two-thirds tips-wrapper">
              <fieldset class="usajobs-fieldset">
                <legend class="usa-sr-only">Tips</legend>
                <div class="tips">
                  First time creating an opportunity? Read our
                  <a href="https://usajobs.github.io/openopps-help/getting-started/top-10-tips/"
                    target="_blank">
                    Top 10 tips for creating an ideal opportunity<span class="sr-only">Opens in a new window</span></a>.
                </div>
              </fieldset>
            </div>
          </div>
          <div id="step-wrapper" class="usajobs-grid-full overview">
            <div id="personnel-needed-mobile" class="usa-width-one-third personnel-needed preview mobile" style="display:none">
              <div class="personnel-needed"></div>
            </div>
            <div class="usa-width-two-thirds opportunity-description">
          <form id="task-edit-form" class="usa-form-xl" action="javascript:void(0)">
          <fieldset id="step-1" class="usajobs-fieldset">
            <legend class="usa-sr-only">Step 1 - Define who, when, and where</legend>
            <h2>Step 1 - Define who, when, and where</h2>
            <label for="DefineWho">
              <a href="https://usajobs.github.io/openopps-help/opportunity/post-to-community" class="usajobs-opop-section__edit-help" target="_blank" rel="noopener noreferrer nofollow">
                <span class="fas fa-question-circle" title="Help"></span> Help
                <span class="sr-only">Opens in a new window</span>
              </a>
              <h3>Who</h3>
            </label>
            <div class="form-group required-input">
            <% if(communities.federal.length > 0) { %>         
              <% var communities = _.sortBy(communities.federal, function (c) { return c.communityName.toLowerCase().trim(); }); %>   
              <% var communitiesEnabled = _.filter(communities, function (c) { return c.isDisabled == false; }); %> 
              <label for="federal-programs" class="usa-input-optional no-margin-top">Community</label>            
              <div class="form-group required-input federal-programs">
                <select id="federal-programs" class="dropdown"> 
                    <option></option>              
                  <% _(communitiesEnabled).forEach(function (community, i) { %>
                      <option value=<%- community.communityId %>>
                          <%- community.communityName %>
                    </option>
                  <% }); %>
                </select>
              </div>
            <% } %>
                <div>
            <div class="form-group required-input">
              <label for="opportunity-people">How many people do you need?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select the number of people needed for this opportunity.</span>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button opportunity-people" id="1person" value="1">
                    <span class="opportunity-options__icon">
                      1
                    </span>
                    <span class="opportunity-options__text">person</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-people" id="2-5people" value="2-5">
                    <span class="opportunity-options__icon">
                      2-5
                    </span>
                    <span class="opportunity-options__text">people</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-people" id="6pluspeople" value="6+">
                    <span class="opportunity-options__icon">
                      6+
                    </span>
                    <span class="opportunity-options__text">people</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="form-group required-input checkboxes-horizontal-longtitle">
              <label for="CareerField" class="usajobs-profile-question__title">
                Are you looking for someone in a specific career field? <span class="usa-input-optional"></span>
              </label>
              <ul class="usa-unstyled-list" id="career-field">
                <li>
                  <input id="career-field-yes" name="CareerField" type="radio" value="true">
                  <label for="career-field-yes">Yes</label>
                </li>
                <li>
                  <input id="career-field-no" name="CareerField" type="radio" value="false">
                  <label for="career-field-no">No</label>
                </li>
              </ul>
              <label for="opportunity-career-field" class="sr-only">Career field</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select a career field for this opportunity.</span>
              <select id="opportunity-career-field" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['career'], function (t) { %>
                  <% var selected = madlibTags['career'] && (madlibTags['career'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="opportunity-series">Series <span class="usa-input-optional"></span></label>
              <input type="hidden" aria-label="series" class="fullwidth form-control" id="opportunity-series" name="opportunity-series">
            </div>
            <div id="form-group" class="required-input">
              <label for="skills">What skills are you looking for?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select at least one skill for this opportunity.</span>
              <input type="hidden" aria-label="skills" id="task_tag_skills" name="skills" class="fullwidth validate" data-validate="empty" />
            </div>
            <label for="DefineWhen">
              <a href="https://usajobs.github.io/openopps-help/opportunity/commitment" class="usajobs-opop-section__edit-help" target="_blank" rel="noopener noreferrer nofollow">
                <span class="fas fa-question-circle" title="Help"></span> Help
                <span class="sr-only">Opens in a new window</span>
              </a>
              <h3>When</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">What is the commitment?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button time-options-time-required" id="one-time" value="One time">
                    <span class="opportunity-options__icon">
                      1
                    </span>
                    <span class="opportunity-options__text">One time</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button time-options-time-required" id="ongoing" value="Ongoing">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-redo"></i>
                    </span>
                    <span class="opportunity-options__text">Ongoing</span>
                  </button>
                </li>
                
                  <li>
                    <button type="button" class="opportunity-options__button time-options-time-required" id="detail" value="Detail">
                      <span class="opportunity-options__icon">
                        <i class="far fa-clock"></i>            
                      </span>
                      <span class="opportunity-options__text">Detail</span>
                    </button>
                  </li>
                     
                  <li id ="lateral-section" style="display: none;">
                    <button type="button" class="opportunity-options__button time-options-time-required" id="lateral" value="Lateral" >
                      <span class="opportunity-options__icon">
                        <i class="fas fa-exchange-alt"></i>
                      </span>                
                      <span class="opportunity-options__text">Lateral</span>
                    </button>
                  </li>    
                          
              </ul>
              <p class="time-required-description" id="one-time-description"><em>A one time task with a defined timeline</em></p>
              <p class="time-required-description" id="ongoing-description"><em>Requires up to 20% of a participant's work time until goal is reached</em></p>
              <p class="time-required-description" id="full-time-description"><em>Restricted to opportunity creator's agency</em></p>

              <fieldset class="usajobs-fieldset">
                <legend class="usa-sr-only">Detail part-time or full-time</legend>
                <div class="form-group required-input usa-fieldset-inputs detail-section" id="detail-time" >  
                <p class="label-brief">Is this detail part-time or full-time?</p>
                <span class="field-validation-error" style="display:none;">Please select full-time or part-time.</span>
                <ul class="usa-unstyled-list" id="detail-time-group">
                  <li>
                    <input id="detail-full-time" name="detail-time-group" type="radio" value="Full-time" <% if (data.detailSelection=='Full-time') { %><%= "checked" %><% } %>  >
                    <label for="detail-full-time">Full-time</label>                
                  </li>
                  <li>
                    <input id="detail-part-time" name="detail-time-group" type="radio" value="Part-time" <% if (data.detailSelection=='Part-time') { %><%= "checked" %><% } %> >
                    <label for="detail-part-time">Part-time</label>
                  </li>
                </ul>
              </div> 
              </fieldset> 
              <fieldset class="usajobs-fieldset">
                <legend class="usa-sr-only">Length of the detail</legend>
                <div class="form-group required-input usa-fieldset-inputs detail-section" id="detail-length-type">  
                  <p class="label-brief">What is the length of the detail?</p>
                  <span class="field-validation-error" style="display:none;">Please select any choice.</span>
                  <ul class="usa-unstyled-list" id="detail-length">
                    <li>
                      <input id="up-to-120" name="detail-length" type="radio" value="Less than 120 days" <% if (data.detailLength == 'Less than 120 days') { %><%= "checked" %><% } %>>
                      <label for="up-to-120">Less than 120 days</label>
                    </li>
                    <li>
                      <input id="more-than-120" name="detail-length" type="radio" value="120 days or greater" <% if (data.detailLength == '120 days or greater') { %><%= "checked" %><% } %>>
                      <label for="more-than-120">120 days or greater</label>
                    </li>
                  </ul>
                </div>
              </fieldset>    
              <fieldset class="usajobs-fieldset">
                <legend class="usa-sr-only">Hours need</legend>       
              <div class="form-group required-input" id="time-options-time-required">
                <label for="time-estimate">How many hours do you need?</label>
                <span class="field-validation-error error-empty" style="display:none;">You must select the number of hours needed for this opportunity.</span>
                <select id="time-estimate" class="dropdown validate" data-validate="empty">
                  <option></option>
                  <% _.each(tagTypes['task-time-estimate'], function (t) { %>
                    <% var selected = madlibTags['task-time-estimate'] && (madlibTags['task-time-estimate'][0].id == t.id); %>
                    <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                  <% }); %>
                </select>
              </div> 
              </fieldset>
                <fieldset class="usajobs-fieldset">
                  <legend class="usa-sr-only">Detail reimbursable</legend>
                  <div class="form-group required-input usa-fieldset-inputs checkboxes-horizontal-longtitle detail-section" id="detail-reimbursable">  
                  <p class="label-brief">Is this detail reimbursable?</p>
                  <span class="field-validation-error" style="display:none;" >Please select Yes or No.</span>
                  <ul class="usa-unstyled-list" id="detail-reimbursable-group">
                    <li>
                      <input id="detail-yes" name="detail-group" type="radio" value="true"  <% if (data.isDetailReimbursable) { %><%= "checked" %><% } %> >
                      <label for="detail-yes">Yes</label>
                    </li>
                    <li>
                      <input id="detail-no" name="detail-group" type="radio" value="false"  <% if (data.isDetailReimbursable== false  ) { %><%="checked" %><% } %>>
                      <label for="detail-no">No</label>
                    </li>
                  </ul>
                </div> 
                </fieldset>  
                              
                <% _.each(agencies, function (agency) { %>            
                  <input type="checkbox" id="task-restrict-agency-<%- agency.agency_id %>" name="task-restrict-agency"  value="<%- agency.agency_id %>" <% if (data.restrictedTo == agency.agency_id ) { %> checked="checked" <% } %> >
                  <label for="task-restrict-agency-<%- agency.agency_id %>">Limit participation to <%- agency.abbr ? agency.abbr : agency.name %> employees</label>
                <% }); %>
            </div>
          
            <div class="form-group" id="pay-scale-grade">
              <div class="usajobs-grid-full">
                <div class="usa-width-one-third">
                  <div class="form-group">
                    <label for="time-options-pay-scale">Pay scale <span class="usa-input-optional"></span> </label>                                        
                    <select id="time-options-pay-scale" class="dropdown"> 
                      <option></option>              
                        <% _.each(payPlans, function(p) { %>              
                          <option value=<%= p.pay_plan_id %>><%= p.code %></option>
                        <% }); %>                              
                    </select>
                  </div>
                </div>
                <div class="usa-width-one-half">
                  <div class="form-group grade">
                    <label for="grade" >Grade<span class="no-margin-top usa-input-optional"></span></label>                    
                    <input id="grade" maxlength="2" name="grade" type="number" class="usa-input-medium " value="<%- data.grade %>"  onkeypress="if(this.value.length==2) return false;">
                  </div>  
                </div>
              </div>
            </div>         
            
                
            <div class="form-group" id="time-options-completion-date">
              <label class="estimated-completion-date-label">What is the estimated completion date? <span class="usa-input-optional"></span></label>
              <span class="field-validation-error" style="display:none;" data-valmsg-for="estimated-completion-date" data-valmsg-replace="true">Please enter a valid completion date</span>
              <div class="estimated-completion-date">
                <div class="usa-form-group usa-form-group-month">
                  <label for="estimated-completion-date-1">Month</label>
                  <input class="usa-input-inline" aria-describedby="dateHint" id="estimated-completion-date-1" name="estimated-completion-date-1" onkeyup="if(this.value>12){this.value='12';}else if(this.value<0){this.value='0';}" type="number" min="1" max="12" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('MM') %>" <% } %> >
                </div>
                <div class="usa-form-group usa-form-group-day">
                  <label for="estimated-completion-date-2">Day</label>
                  <input class="usa-input-inline" aria-describedby="dateHint" id="estimated-completion-date-2" name="estimated-completion-date-2" type="number" min="1" max="31" onkeyup="if(this.value>31){this.value='31';}else if(this.value<0){this.value='0';}" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('DD') %>" <% } %> >
                </div>
                <div class="usa-form-group usa-form-group-year">
                  <label for="estimated-completion-date-3">Year</label>           
                <input class="usa-input-inline check-year" aria-describedby="dateHint" id="estimated-completion-date-3" name="estimated-completion-date-3" type="number" onkeyup="if (this.value.length > 4) {
                  this.value = this.value.slice(0,4);}" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('YYYY') %>" <% } %> >
                </div>
              </div>
              <span class="usajobs-form__help-brief" id="dateHint">For example: 03 09 2018</span>
            </div>
            <div class="form-group required-input" id="time-options-time-frequency">
              <label for="js-time-frequency-estimate">How often do you need this time?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select how often the time is needed for this opportunity.</span>
              <select id="js-time-frequency-estimate" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['task-length'], function (t) { %>
                  <% var selected = madlibTags['task-length'] && (madlibTags['task-length'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <label for="WhereLocated">
              <h3>Where</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">Where can participants be located?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="anywhere" value="anywhere">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-tv"></i>
                    </span>
                    <span class="opportunity-options__text">Virtual</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="specific-location" value="specific-location">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <span class="opportunity-options__text">In person</span>
                  </button>
                </li>
              </ul>
              <input type="hidden" id="task_tag_location" name="location" />
            </div>
          </fieldset>
          <fieldset id="step-2" class="usajobs-fieldset">
            <legend class="usa-sr-only">Step 2 - Describe the opportunity</legend>
            <h2>Step 2 - Describe the opportunity</h2>
            <div class="required-input" id="headline">
              <label for="task-title">
                <h3>Title</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a title for this opportunity.</span>
              <span class="field-validation-error error-count100" style="display:none;">The headline must be no more than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title. Include a specific skill or outcome to entice participants to click
                on the opportunity.</p>
              <input type="text" id="task-title" class="fullwidth form-control validate" value="<%- data.title %>" data-validate="empty,count100,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters.  <span id="opportunity-title-count">(100 characters remaining)</span></p>
            </div>
            <div class="required-input" id="introduction">
              <label for="opportunity-introduction">
                <h3>Introduction</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter an introduction for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
              <p>Describe the opportunity. Include how their work will make an impact.</p>
              <span class="show-markdown-introduction"></span>
              <div class="markdown-edit markdown-edit-introduction"></div>
            </div>
            <div class="required-input" id="details">
              <label for="opportunity-details">
                <h3>What you'll do</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter details for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
              <p>List specific tasks the participant will work on. Be concise, but offer enough details so the participant
              knows what's involved.</p>
              <span class="show-markdown-details"></span>
              <div class="markdown-edit markdown-edit-details"></div>
            </div>
            <ul class="expandorama">
              <li>
                <label for="opportunity-skills" class="expandorama-button expandorama-button-skills" aria-controls="skills">
                  <h3>What you'll learn <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="skills">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <p>List the types of skills the participant will learn and other benefits.</p>
                  <span class="show-markdown-skills"></span>
                  <div class="markdown-edit markdown-edit-skills"></div>
                </div>
              </li>        
              <li>
                <label for="opportunity-team" class="expandorama-button expandorama-button-team" aria-controls="team">
                  <h3>Who we are <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="team">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <p>Briefly describe your team, department, or agency.</p>
                  <span class="show-markdown-team"></span>
                  <div class="markdown-edit markdown-edit-team"></div>
                </div>
              </li>

              <li id="requirement-area" style="display:none;">
                <label for="opportunity-requirement" class="expandorama-button expandorama-button-requirement" aria-controls="requirement">
                  <h3>Requirements <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="requirement">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <p>List any required certifications, training, or qualifications the participant must have to participate.</p>
                  <span class="show-markdown-requirement"></span>
                  <div class="markdown-edit markdown-edit-requirement"></div>
                </div>
              </li>

              <li id="apply-participant-area" style="display:none;">
                <label for="opportunity-apply" class="expandorama-button expandorama-button-apply" aria-controls="apply-participant">
                  <h3>How to apply <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="apply-participant">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <p>Please provide any additional steps a participant must take to apply.</p>
                  <span class="show-markdown-apply"></span>
                  <div class="markdown-edit markdown-edit-apply"></div>
                </div>
              </li>
              
              <li>
                <label for="task_tag_keywords" class="expandorama-button expandorama-button-keywords" aria-controls="keywords">
                  <h3>Related keyword <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="keywords">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <p>List the keywords to help describe an opportunity.</p>
                  <input type="hidden" id="task_tag_keywords" name="task_tag_keywords" class="fullwidth" />
                </div>
              </li>
            </ul>
          </fieldset>
          <fieldset id="step-3" class="usajobs-fieldset" style="display:none"></fieldset>
          <fieldset class="usajobs-fieldset">
            <legend class="usa-sr-only">Button bar</legend>
            <div class="usajobs-button_bar--slim task-footer">
              <aside id="happens-next" class="step-3-flex__item happens-next tips-left" style="display:none;">
                <h4>What happens next?</h4>
                <p>Once you submit your opportunity, we'll review it. We'll email you within <strong>two business days</strong> with recommended edits or approval.</p>
                <p>Read our <a href="https://usajobs.github.io/openopps-help/opportunity/" target="_blank">step-by-step process<span class="sr-only">Opens in a new window</span></a> to learn more about creating an opportunity.</p>
              </aside>
              <div class="usajobs-button_bar__body">
                <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel</button>
                <button class="usa-button usa-button-secondary usa-button-left" data-state="edit" id="edit" style="display:none">Make changes</button>
                <% if (data.state === 'draft' || data.state === 'canceled') { %>
                  <button class="usa-button usa-button-secondary" data-state="draft">Save for later</button>
                <% } %>
                <button class="usa-button usa-button-primary" data-state="preview" id="preview">Preview</button>
                <% if (_.contains(['draft', 'canceled', 'submitted'], data.state)) { %>
                  <button class="usa-button usa-button-primary" data-state="submit" id="save" style="display:none">Submit</button>
                <% } else { %>
                  <button class="usa-button usa-button-primary" data-state="save" id="save" style="display:none">Save</button>
                <% } %>
              </div>
            </div>
          </fieldset>
        </form>
      </div> <!-- .usa-width-two-thirds -->
      <div id="personnel-needed-desktop" class="usa-width-one-third personnel-needed preview desktop" style="display:none">
        <div class="personnel-needed"></div>
      </div>
      </div> <!-- .usajobs-grid-full -->
      </div>
    </main>
  </div>
</section>
