<legend class="usa-sr-only">Step 3 - Review draft and submit</legend>
<h2>Step 3 - Review draft and submit</h2>
<hr>
<h1 class="usajobs-open-opps-opportunity-item__title">
  <%- data.title %>
</h1>
<p><em>Desired skills:</em></p>
<div class="skills">
  <% _.each(madlibTags['skill'], function (t) { %>
    <a class="skill-label" href="javascript:void(0)"><%= t.name %></a>
  <% }) %>
</div>
<div class="step-3-flex__wrapper">
  <div class="step-3-flex__item paragraphs">
    <h3>Introduction</h3>
    <%= data.descriptionHtml %>
    <h3>What you'll do</h3>
    <%= data.detailsHtml %>
    <% if (data.outcome) { %>
      <h3>What you'll learn</h3>
      <%= data.outcomeHtml %>
    <% } %>
    <% if (data.about) { %>
      <h3>Who we are</h3>
      <%= data.aboutHtml %>
    <% } %>

    <% if (data.requirement) { %>
      <h3>Requirements</h3> 
      <p><%= data.requirementHtml %></p>     
    <% } %>

    <% if (data.applyAdditional) { %>     
      <h3>How to apply</h3>
     <p><%= data.applyAdditionalHtml %></p>
    <% } %>
    
    <% if (madlibTags['keywords']) { %>
      <div class="related-keywords">
        <h3>Related keywords</h3>
        <div class="keywords">
          <% _.each(madlibTags['keywords'], function (t) { %>
            <a class="keyword-label" href="javascript:void(0)"><%= t.name %></a>
          <% }) %>
        </div>
      </div>
    <% } %>
  </div>