<section class="usajobs-shell">
  <div id="container" class="signout">
      <main class="usajobs-opop">
          <div class="usajobs-error">
              <div class="usajobs-error__container whoops">
                  <div class="usajobs-error__img usajobs-error__img--whoops"></div>                
                  <h1 class="usajobs-error__title">
                      Whoops!               
                  </h1>
                  <p class="usajobs-error__text">
                    Open Opportunities has encountered an error. We apologize for any inconvenience this may have caused. The error has been logged for review by a member of the development team. Thank you.
                  </p>
                  <ul class="usajobs-error__list">
                      <li class="usajobs-error__item">
                          Head back to <a href="/">Home</a>.
                      </li>
                      <li class="usajobs-error__item">
                          Go to our <a href="https://usajobs.github.io/openopps-help/">help center</a>.
                      </li>
                      <li class="usajobs-error__item">
                          Begin your <a href="/search">search</a>.
                      </li>
                  </ul>
                  
              </div>
          </div>
      </main>
  </div>
</section>